Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

init commit with added user role audit log setup
  source/Energinet.DataHub.MarketParticipant.Application/Services/IUserRoleAuditLogService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/UserRoleAuditLogService.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202301161014 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleChangeType.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleAuditLogEntryEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleAuditLogEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleAuditLogEntryRepository.cs
Due: businesslogic, infrastructure

added test for user role audit log service
  source/Energinet.DataHub.MarketParticipant.Application/Services/UserRoleAuditLogService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAuditLogSerialized.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserRoleAuditLogServiceTests.cs
Due: businesslogic

added tests and refactor for getting userId as input to CreateUserRoleHandler
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/CreateUserRoleCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/CreateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IUserRoleAuditLogService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/UserRoleAuditLogService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UserRoleAuditLogIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserRoleAuditLogServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
Due: businesslogic, infrastructure

updated get user role audit logs handler, flow and tests
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetUserRoleAuditLogsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetUserRoleAuditLogsReponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UserRoleAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleAuditLogsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserRoleAuditLogEntriesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UserRoleAuditLogIntegrationTests.cs
Due: businesslogic, infrastructure

updating client package with user role audit log endpoint
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleAuditLogsDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleChangeType.cs
Due: none

release notes update
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
Due: none

some tests added
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserRoleAuditLogServiceTests.cs
Due: none

script rename
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202301161014 Add UserRoleAuditLog Table.sql
Due: infrastructure

userid param name change, yield return instead of add to list
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/CreateUserRoleCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/CreateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/UserRoleAuditLogService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
Due: businesslogic

test updates
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserRoleAuditLogServiceTests.cs
Due: none

Userrole auditlog (#390)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetUserRoleAuditLogsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetUserRoleAuditLogsReponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UserRoleAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/CreateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleAuditLogsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IUserRoleAuditLogService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/UserRoleAuditLogService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserRoleAuditLogEntriesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202301161014 Add UserRoleAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleAuditLogsDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleChangeType.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAuditLogSerialized.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleChangeType.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleAuditLogEntryEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleAuditLogEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UserRoleAuditLogIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserRoleAuditLogServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
Due: businesslogic, infrastructure

fix: contains search on name, mail and phone number + some clean up
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
Due: businesslogic, infrastructure

added environment scripts
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202301161014 Add UserRoleAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202301161014 Add UserRoleAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202301161014 Add UserRoleAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202301161014 Add UserRoleAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202301161014 Add UserRoleAuditLog Table.sql
Due: infrastructure

added environment scripts (#392)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202301161014 Add UserRoleAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202301161014 Add UserRoleAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202301161014 Add UserRoleAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202301161014 Add UserRoleAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202301161014 Add UserRoleAuditLog Table.sql
Due: infrastructure

UTs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
Due: none

Remove unused secret
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Use v10
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fix: contains search on name, mail and phone number + some clean up (#391)
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
Due: businesslogic, infrastructure

Added GetSelectablePermissions Endpoint
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetSelectablePermissionsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetSelectablePermissionsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/SeleactablePermissionDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetSelectablePermissionsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/SelectablePermissionsDto.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
Due: businesslogic, infrastructure

Added GetSelectablePermissions Handler
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetSelectablePermissionsHandler.cs
Due: businesslogic

Added missing newline
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
Due: none

Changed id to int.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/SeleactablePermissionDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetSelectablePermissionsHandler.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
Due: businesslogic, infrastructure

Updated route
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
Due: infrastructure

Changed id to int on client model.
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/SelectablePermissionsDto.cs
Due: none

Add Get SelectablePermissions to controller and handler to (#394)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetSelectablePermissionsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetSelectablePermissionsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/SeleactablePermissionDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetSelectablePermissionsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetSelectablePermissionsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/SelectablePermissionsDto.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
Due: businesslogic, infrastructure

add allow merge to nuget
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
Due: none

add allow merge to nuget (#395)
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
Due: none

init commit for update user role
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRoleCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRoleResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
Due: businesslogic, infrastructure

bug hunting for user role permissions mapping
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
Due: businesslogic, infrastructure

added user role with same name validation
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRoleCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
Due: businesslogic, infrastructure

client updated with user role update endpoint
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UpdateUserRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
Due: infrastructure

Compare ==
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
Due: none

Bump versions
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

Change condition
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
Due: none

main merge conflict fix
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

updated after review
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRoleCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRoleResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UpdateUserRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRole.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
Due: businesslogic, infrastructure

Updated createRoleDto to use int for permissions
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/CreateUserRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/CreateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/CreateUserRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UserRoleAuditLogIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
Due: businesslogic, infrastructure

review fixes
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
Due: businesslogic, infrastructure

Updated version and fixed commented out permission in controller
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
Due: infrastructure

Updated wordlist
  wordlist.txt
Due: none

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
