Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Application/
      - source/Energinet.DataHub.MarketParticipant.Domain/
      - source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Infrastructure/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/
      - source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

Force Re-run checks
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202204060911 Add More New Actors to ActorInfo Table.sql
Due: infrastructure

Add More Actors and GridAreas (#92)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202204060911 Add More New Actors to ActorInfo Table.sql
Due: infrastructure

Fix Tests
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateOrganizationHandlerTests.cs
Due: none

Add Missing GridAreaLinks
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202204061443 Add Missing GridAreas to GridAreaLink Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202204061443 Add Missing GridAreas to GridAreaLink Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202204061443 Add Missing GridAreas to GridAreaLink Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202204061443 Add Missing GridAreas to GridAreaLink Table.sql
Due: infrastructure

Updated Tests
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationFactoryServiceTests.cs
Due: none

Added Organization Comment
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/ChangeOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/OrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/CreateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202204062145 Add Comment to Organization.sql
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ChangeOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/OrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Organization.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IOrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/AddressEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/OrganizationEntity.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetContactsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationIntegrationEventsQueueServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UniqueGlobalLocationNumberRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateOrganizationCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateOrganizationCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Update Release Notes
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
Due: none

Fix Tests
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationFactoryServiceTests.cs
Due: none

Corrected validation of country
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateOrganizationCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ContactController.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateOrganizationCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Added Event dispatch to update
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/UpdateOrganizationHandler.cs
Due: businesslogic

Fixes after merge
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateOrganizationCommandRuleSetTests.cs
Due: none

Add Missing GridAreaLinks (#95)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202204061443 Add Missing GridAreas to GridAreaLink Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202204061443 Add Missing GridAreas to GridAreaLink Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202204061443 Add Missing GridAreas to GridAreaLink Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202204061443 Add Missing GridAreas to GridAreaLink Table.sql
Due: infrastructure

Add missing scripts
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202204062145 Add Comment to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202204062145 Add Comment to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202204062145 Add Comment to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202204062145 Add Comment to Organization.sql
Due: infrastructure

Bump Package version
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
Due: businesslogic, infrastructure

Bump Package version (#96)
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
Due: businesslogic, infrastructure

handle mp validation exceptions
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Extensions/TaskExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantActorClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantContactClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantOrganizationClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/MarketParticipantValidationException.cs
Due: none

client version bump
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

optional Comment field on Org DTO
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ChangeOrganizationDto.cs
Due: none

Correct errors
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdB2cRoles.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/local.settings.sample.json
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/ActiveDirectory/ActiveDirectoryB2CRoles.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/AzureAdB2cRolesTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/IntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2cServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActiveDirectoryB2cServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
Due: businesslogic, infrastructure

Use module for app service, and shared app service plan.
  build/infrastructure/main/app-webapi.tf
Due: none

Align settings
  build/infrastructure/main/app-webapi.tf
Due: none

Shared instrumentation key
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-organization.tf
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Get environment variables from Configuration
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdB2cRoles.cs
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdConfigurationRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/GraphServiceClientRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/UnitOfWorkRegistrations.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/local.settings.sample.json
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/UnitOfWorkProvider.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActiveDirectoryB2cServiceTests.cs
Due: businesslogic, infrastructure

M .github/workflows/ci.yml M source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  .github/workflows/ci.yml
Due: none

handle flurl timeout
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/ValidationExceptionHandler.cs
Due: none

handle mp validation exceptions (#97)
  .github/workflows/ci.yml
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantActorClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantContactClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantOrganizationClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/MarketParticipantValidationException.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/ValidationExceptionHandler.cs
Due: none

Use workaround for failing MD link check
  .github/workflows/ci.yml
Due: none

Added AZURE_SECRETS_KEYVAULT_URL environment variable
  .github/workflows/ci.yml
Due: none

Refactored test initialization
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2cServiceTests.cs
Due: none

Add correct permissions to app registration in test
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2cServiceTests.cs
Due: infrastructure

Fixed nullable properties in API.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/CreateActorResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/GetSingleActorResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/CreateOrganizationResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/GetSingleOrganizationCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/GetSingleOrganizationResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/OrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/GetActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/GetActorsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/CreateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantActorClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantOrganizationClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantActorClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantOrganizationClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ChangeActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ChangeOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/OrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateOrganizationHandlerTests.cs
Due: businesslogic

Fixed correct type.
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

Nullable is not a word, apparently.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
Due: none

Change static to non-static
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdB2cRoles.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/ActiveDirectory/ActiveDirectoryB2CRoles.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2cServiceTests.cs
Due: businesslogic, infrastructure

Change tests
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/AzureAdB2cRolesTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActiveDirectoryB2cServiceTests.cs
Due: none

Change dependency injection
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdB2CRolesRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdB2cRoles.cs
  source/Energinet.DataHub.MarketParticipant.Common/StartupBase.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/ActiveDirectory/ActiveDirectoryB2CRoles.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2CRolesProvider.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/IntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2cServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActiveDirectoryB2cServiceTests.cs
Due: businesslogic, infrastructure

Remove redundant usings
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/CreateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdB2CRolesRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/UnitOfWorkRegistrations.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/ActiveDirectory/ActiveDirectoryB2CRoles.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/GridAreaEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/IntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActiveDirectoryB2cServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationFactoryServiceTests.cs
Due: businesslogic, infrastructure

Change ActiceDirectoryB2CRolesProvider test
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdConfigurationRegistration.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/AzureAdB2cRolesTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2CRolesProviderTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2cServiceTests.cs
Due: businesslogic

Remove redundant test host
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/IntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorsHandlerTests.cs
Due: none
