Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Application/
      - source/Energinet.DataHub.MarketParticipant.Domain/
      - source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Infrastructure/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/
      - source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

Added more repositories and tests
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211150922 Add Permission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211150926 Add MarketRoleToUserRoleTemplate Table.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Permission.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IPermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleTemplateRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/MarketRoleToUserRoleTemplateEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/PermissionEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/MarketRoleToUserRoleTemplateEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/PermissionEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/PermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleTemplateRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleTemplateRepositoryTests.cs
Due: businesslogic, infrastructure

Started Implementing User Repository
  source/Energinet.DataHub.MarketParticipant.Domain/Model/User.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserActor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserActorRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserActorRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
Due: businesslogic, infrastructure

First attempt at User persistence
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211150924 Add UserActorUserRole Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211150924 Add UserActorUserRoleTemplate Table.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserActor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserActorUserRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserRoleTemplate.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserActorEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserActorUserRoleEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/PermissionMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserRoleTemplateMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserActorUserRoleEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleTemplateEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleTemplatePermissionEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserActorRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleTemplateRepositoryTests.cs
Due: businesslogic, infrastructure

Trying to fix mappings and entities
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserRolePermission.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserRoleTemplate.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserRoleTemplateMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleTemplatePermissionEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleTemplateRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleTemplateRepositoryTests.cs
Due: businesslogic, infrastructure

feat: token endpoint WIP
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Authorization/TokenRequest.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Authorization/TokenResponse.cs
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/CryptographyClientProvider.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/ICryptographyClientProvider.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/IKeyClient.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/IdentityLogger.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Key.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/KeyClient.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: businesslogic, infrastructure

First implementation of User Repository working
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211150922 Add User Table.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Permission.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/User.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserActor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserActorUserRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserRolePermission.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserActorUserRoleEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserRoleTemplateMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserActorUserRoleEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleTemplateEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleTemplateRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/MarketParticipantDatabaseFixture.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleTemplateRepositoryTests.cs
Due: businesslogic, infrastructure

Cleanup token endpoint.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetUserPermissionsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetUserPermissionsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetUserPermissionsCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserPermissionsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/KeyClient.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Properties/launchSettings.json
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/ExternalTokenValidator.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/IExternalTokenValidator.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/ISigningKeyRing.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/SigningKeyRing.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
Due: businesslogic, infrastructure

Add aud claim.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
Due: infrastructure

Working user Repository
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserActor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserActorUserRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserRolePermission.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserActorUserRoleEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserActorRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
Due: businesslogic, infrastructure

Cache.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/SigningKeyRing.cs
Due: infrastructure

fixed null check i SigninKeyRIng
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/SigningKeyRing.cs
Due: infrastructure

Initial refactor to better support Permissions
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211150924 Add UserActorPermissions Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211150924 Add UserActorUserRole Table.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserActor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserActorPermission.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserActorUserRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserRoleTemplate.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserRoleTemplateMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleTemplateRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleTemplateRepositoryTests.cs
Due: businesslogic, infrastructure

Revert "Initial refactor to better support Permissions"
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211150924 Add UserActorPermissions Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211150924 Add UserActorUserRole Table.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserActor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserActorUserRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserRolePermission.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserRoleTemplateMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleTemplateRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleTemplateRepositoryTests.cs
Due: businesslogic, infrastructure

Final for now.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
Due: infrastructure

Added Load of permission on reading users.
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserActor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserActorUserRole.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleTemplateRepositoryTests.cs
Due: businesslogic, infrastructure

Add more unit tests
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserActorUserRole.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
Due: businesslogic, infrastructure

Added more tests, and cleaned them up a bit
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
Due: infrastructure

bff token client
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantTokenClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantTokenClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GetTokenRequestDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GetTokenResponseDto.cs
Due: none

bff token client
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantClient.cs
Due: none

TestHost settings
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
Due: none

Fixed failing tests
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleTemplateRepositoryTests.cs
Due: none

review fixes
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/IdentityLogger.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

call tokenClient in markPartClient
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
Due: none

package bump
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
Due: infrastructure

bumped package
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
Due: businesslogic

bump
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
Due: businesslogic, infrastructure

fixed summary
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/IExternalTokenValidator.cs
Due: infrastructure

Update Startup.
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserPermissionsIntegrationTests.cs
Due: businesslogic, infrastructure

feat: token endpoint WIP (#302)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Authorization/TokenRequest.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Authorization/TokenResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetUserPermissionsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetUserPermissionsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetUserPermissionsCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserPermissionsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantTokenClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantTokenClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GetTokenRequestDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GetTokenResponseDto.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Properties/launchSettings.json
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/ExternalTokenValidator.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/IExternalTokenValidator.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/ISigningKeyRing.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/SigningKeyRing.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserPermissionsIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
Due: businesslogic, infrastructure

InternalOpenIdUrl is optional.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

InternalOpenIdUrl is optional. (#304)
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

Started new implmentation of user/roles/templates
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211211022 Add User Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211211238 Add UserRoleAssignment Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211211238 Add UserRoleTemplate Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211211238 Add UserRoleTemplateEicFunction Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211211238 Add UserRoleTemplatePermission Table.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Energinet.DataHub.MarketParticipant.Domain.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Actor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/User.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAssignment.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleTemplate.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleAssignmentEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleTemplateEicFunctionEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleTemplateEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleTemplatePermissionEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleAssignmentEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleTemplateEicFunctionEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleTemplateEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleTemplatePermissionEntity.cs
Due: businesslogic, infrastructure

refac: Add integration tests for KeyClient.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/SigningKeyRing.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/KeyClientFixture.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Security/SigningKeyRingIntegrationTests.cs
Due: infrastructure

Fix UTs.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Security/SigningKeyRingIntegrationTests.cs
Due: none

disabled container.autoverification
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

disabled container.autoverification (#306)
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

adding api method for getting actors associated with user
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetAssociatedUserActorsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetAssociatedUserActorsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAssociatedUserActorsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetAssociatedUserActorsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserController.cs
Due: businesslogic, infrastructure

rename of actor ids
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetAssociatedUserActorsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAssociatedUserActorsHandler.cs
Due: businesslogic

Adding initial test for GetAssociatedUserActorsHandler
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetAssociatedUserActorsHandlerTests.cs
Due: none

New implmentation of User/roles/Permissions
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211211238 Add UserRoleTemplatePermission Table.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleAssignmentEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleTemplateEicFunctionEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleTemplatePermissionEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleAssignmentEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
Due: businesslogic, infrastructure
