Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

removed unserinvitestatus
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Email/SendUserInviteEmailHandler.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202302081038 Add UserInviteStatus to User.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/User.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserInviteStatus.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserEntity.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRolesCommandHandlerTests.cs
Due: businesslogic, infrastructure

adding email event table for all envs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202302021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202302021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202302021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202302021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202302021358 Create Email Event table.sql
Due: infrastructure

renaming
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Email/EmailSenderRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Startup.cs
Due: infrastructure

adding insert email event at user invite
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/InviteUserHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EmailEvent.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/EmailEventRepository.cs
Due: businesslogic, infrastructure

Adds unit tests to invite API.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserPermissionsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/InviteUserCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/Authentication/SmsAuthenticationMethod.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserInvitation.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActiveDirectory/ExternalSmsAuthenticationMethodTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/SmsAuthenticationMethodTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/UserInvitationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserInvitationServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/InviteUserCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Add required null check.
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/Authentication/SmsAuthenticationMethod.cs
Due: businesslogic

refac: Remove email from user domain.
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/User.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRolesCommandHandlerTests.cs
Due: businesslogic, infrastructure

Adds unit tests to invite API. (#433)
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserPermissionsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/InviteUserCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/Authentication/SmsAuthenticationMethod.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserInvitation.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActiveDirectory/ExternalSmsAuthenticationMethodTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/SmsAuthenticationMethodTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/UserInvitationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserInvitationServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/InviteUserCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Fix automerge.
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserInvitationServiceTests.cs
Due: none

Add mock config.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
Due: none

fix: Return null when user does not exist in AD.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaAuditLogEntriesHandler.cs
Due: businesslogic

refac: Remove email from user domain. (#434)
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/User.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRolesCommandHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserInvitationServiceTests.cs
Due: businesslogic, infrastructure

fix: Return null when user does not exist in AD. (#435)
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaAuditLogEntriesHandler.cs
Due: businesslogic

Use tenant from configuration.
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdConfigurationRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/AzureIdentityConfig.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
Due: businesslogic, infrastructure

feat: organization domain - unique constraint org domain
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202302130900 OrganizationInfo Domain unique index.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202302130900 OrganizationInfo Domain unique index.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202302130900 OrganizationInfo Domain unique index.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202302130900 OrganizationInfo Domain unique index.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202302130900 OrganizationInfo Domain unique index.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202302130900 OrganizationInfo Domain unique index.sql
Due: infrastructure

Update registration.
  source/Energinet.DataHub.MarketParticipant.Tests/Common/StartupBaseTests.cs
Due: none

Use tenant from configuration. (#436)
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdConfigurationRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/AzureIdentityConfig.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/StartupBaseTests.cs
Due: businesslogic, infrastructure

mock Iemailsender in StartupBaseTests
  source/Energinet.DataHub.MarketParticipant.Tests/Common/StartupBaseTests.cs
Due: none

mocked domain
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/MockedDomain.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/CreateOrganizationIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ActorContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Query/UserQueryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UniqueActorMarketRoleGridAreaRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/UnitOfWorkTests.cs
Due: none

adding test app settings for send emails
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationIntegrationTestHost.cs
Due: none

fix
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/MockedDomain.cs
Due: none

feat: organization domain - unique constraint org domain (#437)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202302130900 OrganizationInfo Domain unique index.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202302130900 OrganizationInfo Domain unique index.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202302130900 OrganizationInfo Domain unique index.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202302130900 OrganizationInfo Domain unique index.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202302130900 OrganizationInfo Domain unique index.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202302130900 OrganizationInfo Domain unique index.sql
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/MockedDomain.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/CreateOrganizationIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ActorContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Query/UserQueryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UniqueActorMarketRoleGridAreaRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/UnitOfWorkTests.cs
Due: infrastructure

feat: organization domain - unique org domain validation
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/OrganizationRepository.cs
Due: infrastructure

test EmailEventRepository
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/EmailEventRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/Organization/EmailEventIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/EmailEventRepositoryTests.cs
Due: infrastructure

Add integration tests for MFA service.
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/GraphServiceClientRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/UserIdentityAuthenticationService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/GraphServiceClientFixture.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/IntegrationsTestsFixtureConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/WebApiIntegrationTestsBase.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationIntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/UserIdentityAuthenticationServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
Due: businesslogic, infrastructure

Better naming.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/GraphServiceClientFixture.cs
Due: none

Smaller diff.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationIntegrationTestHost.cs
Due: none

Result + OrganizationError.DomainConflict
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IOrganizationRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/OrganizationError.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/OrganizationErrorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/Result.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/OrganizationRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UserRoleAuditLogIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ActorContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionValidityTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UniqueActorMarketRoleGridAreaRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/UnitOfWorkTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationFactoryServiceTests.cs
Due: businesslogic, infrastructure

adding tests for SendUserInviteEmailHandler
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/SendUserInviteEmailHandlerTests.cs
Due: none

fixed UTs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
Due: none

Added retry on 404.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Extensions/GraphServiceClientExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/ActiveDirectory/ExternalSmsAuthenticationMethod.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/UserIdentityAuthenticationServiceTests.cs
Due: infrastructure

Reuse exception.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/GraphServiceClientFixture.cs
Due: none

Update mock to work with retry.
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActiveDirectory/ExternalSmsAuthenticationMethodTests.cs
Due: none

updated db scripts and model
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202302021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202302021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202302021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202302021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202302021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202302021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/local.settings.sample.json
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/EmailEventEntity.cs
Due: infrastructure

feat: organization domain - unique org domain validation (#438)
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IOrganizationRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/OrganizationError.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/OrganizationErrorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/Result.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/OrganizationRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UserRoleAuditLogIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ActorContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionValidityTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UniqueActorMarketRoleGridAreaRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/UnitOfWorkTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationFactoryServiceTests.cs
Due: businesslogic, infrastructure

updates integration tests for email event flow
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/Organization/EmailEventIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationIntegrationTestHost.cs
Due: none

Add integration tests for MFA service. (#439)
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/GraphServiceClientRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Extensions/GraphServiceClientExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/ActiveDirectory/ExternalSmsAuthenticationMethod.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/UserIdentityAuthenticationService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/GraphServiceClientFixture.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/WebApiIntegrationTestsBase.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationIntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/UserIdentityAuthenticationServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActiveDirectory/ExternalSmsAuthenticationMethodTests.cs
Due: businesslogic, infrastructure

Updated permissions to Eics
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202302141300 Add More Permission To Eic.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202302141300 Add More Permission To Eic.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202302141300 Add More Permission To Eic.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202302141300 Add More Permission To Eic.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202302141300 Add More Permission To Eic.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202302141300 Add More Permission To Eic.sql
Due: infrastructure

Added correct assignments for permissions to Eics
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202302141300 Add More Permission To Eic.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202302141300 Add More Permission To Eic.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202302141300 Add More Permission To Eic.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202302141300 Add More Permission To Eic.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202302141300 Add More Permission To Eic.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202302141300 Add More Permission To Eic.sql
Due: infrastructure

email event test clean up
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/Organization/EmailEventIntegrationTests.cs
Due: none

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
