Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

Fix test
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
Due: infrastructure

clean up
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
Due: infrastructure

chore: bump Microsoft.Extensions.Diagnostics.HealthChecks.EntityFrameworkCore from 6.0.13 to 7.0.4
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
Due: infrastructure

chore: bump Microsoft.Extensions.Diagnostics.HealthChecks.EntityFrameworkCore from 6.0.13 to 7.0.4 (#479)
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
Due: infrastructure

chore: update packages
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
Due: businesslogic, infrastructure

chore: update packages (#480)
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
Due: businesslogic, infrastructure

chore: bump packages libraries.sln
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Energinet.DataHub.MarketParticipant.Libraries.Tests.csproj
Due: none

chore: bump packages libraries.sln (#481)
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Energinet.DataHub.MarketParticipant.Libraries.Tests.csproj
Due: none

chore: test ensuring auth considered on new endpoints
  source/Energinet.DataHub.MarketParticipant.Tests/Common/StartupBaseTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Security/ControllerAuthorizationTests.cs
Due: none

typo
  source/Energinet.DataHub.MarketParticipant.Tests/Security/ControllerAuthorizationTests.cs
Due: none

chore: test ensuring auth considered on new endpoints (#482)
  source/Energinet.DataHub.MarketParticipant.Tests/Common/StartupBaseTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Security/ControllerAuthorizationTests.cs
Due: none

Add new settlements manage permission
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Permissions/PermissionId.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/Permissions/KnownPermissions.cs
Due: businesslogic, infrastructure

Add new settlements manage permission (#483)
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Permissions/PermissionId.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/Permissions/KnownPermissions.cs
Due: businesslogic, infrastructure

feat: user role draft - draft status
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleStatus.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
Due: businesslogic

file-scoped namespace in CreateUserRoleCommandRuleSetTests
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
Due: none

feat: user role draft - draft status with validation
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleStatus.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
Due: businesslogic

feat: user role draft - draft status with validation (#485)
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleStatus.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
Due: businesslogic

Added deactivate handler
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/GetPermissionDetailsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/GetPermissionDetailsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/PermissionDetailsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/UpdatePermissionCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/DeactivateUserRoleCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UserRoleWithPermissionsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/GetPermissionDetailsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/UpdatePermissionHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/DeactivateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetPermissionDetailsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdatePermissionCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAssignmentTypeAuditLog.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdatePermissionHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetPermissionDetailsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
Due: businesslogic, infrastructure

change user role update with name validation inside current market role
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRoleHandlerTests.cs
Due: businesslogic, infrastructure

Added tests for Deactivating a user role
  source/Energinet.DataHub.MarketParticipant.Application/Validation/DeactivateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/TestPreparationModels.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/DeactivateUserRoleHandlerTests.cs
Due: businesslogic, infrastructure

removed redundant using directives
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserPermissionsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/UpdatePermissionHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/DeactivateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetPermissionDetailsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdatePermissionCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/PermissionController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdatePermissionHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetPermissionDetailsHandlerTests.cs
Due: businesslogic, infrastructure

Updated unit tests
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
Due: none

small changes
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleRepositoryTests.cs
Due: businesslogic

Added new deactivate user role endpoint (#486)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/GetPermissionDetailsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/GetPermissionDetailsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/PermissionDetailsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/UpdatePermissionCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserPermissionsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/DeactivateUserRoleCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UserRoleWithPermissionsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/GetPermissionDetailsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/UpdatePermissionHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/DeactivateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/DeactivateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetPermissionDetailsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdatePermissionCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAssignmentTypeAuditLog.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/PermissionController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdatePermissionHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/TestPreparationModels.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/DeactivateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetPermissionDetailsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
Due: businesslogic, infrastructure

changed user role update with name validation inside current market role (#487)
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRoleHandlerTests.cs
Due: businesslogic, infrastructure

feat: ADR-104
  .github/workflows/ci-orchestrator.yml
  .github/workflows/detect-changes.yml
  docs/c4-model.dsl
Due: none

render-diagrams.yml
  .github/workflows/render-diagrams.yml
Due: none

restart pr
  docs/c4-model.dsl
Due: none

moved c4 model to docs/diagrams/
  .github/workflows/detect-changes.yml
  docs/diagrams/c4-model.dsl
Due: none

updated DSL path
  .github/workflows/render-diagrams.yml
Due: none

trigger rebuild
  docs/diagrams/c4-model.dsl
Due: none

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
