Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

Add drawio file
  docs/drawio/Actor_register.drawio
Due: none

Update wordlist.txt
  wordlist.txt
Due: none

Correct spelling mistakes
  docs/business-processes/business-processes.md
Due: none

init commit organization integration events
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/ForceSendIntegrationEventsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IOrganizationDetermineChangeEventsHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/OrganizationDetermineChangeEventsHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/OrganizationAddressChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/OrganizationBusinessRegisterIdentifierChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/OrganizationCommentChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/OrganizationCreatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/OrganizationNameChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationIntegrationEventsQueueServiceTests.cs
Due: businesslogic, infrastructure

Remove unnecessary drawio folder
  docs/drawio/Actor_register.drawio
Due: none

updated event structure
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/ForceSendIntegrationEventsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IOrganizationIntegrationEventsHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/OrganizationIntegrationEventsHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IOrganizationIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationIntegrationEventsQueueServiceTests.cs
Due: businesslogic

rename event created prop
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/IIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/IntegrationEventBase.cs
Due: businesslogic

missing null check
  source/Energinet.DataHub.MarketParticipant.Application/Services/OrganizationIntegrationEventsHelperService.cs
Due: businesslogic

rename
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/ForceSendIntegrationEventsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IOrganizationIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationIntegrationEventsQueueServiceTests.cs
Due: businesslogic, infrastructure

revert
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

Remove wrong role combinations for Titans Actor
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202206201116 UpdateTitansActorRoles.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202206201116 UpdateTitansActorRoles.sql
Due: infrastructure

Remove wrong role combinations for Titans Actor (#170)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202206201116 UpdateTitansActorRoles.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202206201116 UpdateTitansActorRoles.sql
Due: infrastructure

Updated Client model with new marketoperator model
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ActorGridAreaDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ActorMarketRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ChangeActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

Bump .github workflows to 7.5.0
  .github/workflows/ci.yml
Due: none

Bump geh-terraform-modules to 7.0.0 Bump Terraform provider to 1.2.2
  .github/workflows/cd.yml
  build/infrastructure/main/.terraform-version
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-organization.tf
  build/infrastructure/main/kv-shared-access-policy.tf
  build/infrastructure/main/mssqldb-registry.tf
  build/infrastructure/main/providers.tf
Due: none

Add missing log_analytics_workspace_id attribute
  build/infrastructure/main/mssqldb-registry.tf
Due: none

default_site_hostname --> default_hostname
  build/infrastructure/main/app-webapi.tf
Due: none

fixed correct type in D01VeProduction
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ActorGridAreaDto.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

updated tests and repositories
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorGridArea.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/MarketRoleGridAreaEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/MarketRoleEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/MeteringPointTypeEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/OrganizationRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/AllowedGridAreasRuleServiceTests.cs
Due: businesslogic, infrastructure

Added initial documentation
  README.md
Due: none

Kerbou/upgrade terraform provider (#172)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  build/infrastructure/main/.terraform-version
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-organization.tf
  build/infrastructure/main/kv-shared-access-policy.tf
  build/infrastructure/main/mssqldb-registry.tf
  build/infrastructure/main/providers.tf
Due: none

updated tests
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorGridArea.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorMarketRole.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
Due: businesslogic, infrastructure

move services to new app service plan
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Move services to new app service plan (#173)
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Updated Readme
  README.md
Due: none

More updates to documentation
  README.md
Due: none

Added more documentation for Contacts
  README.md
Due: none

Add helper to find changes made to actor
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Helpers/ChangesToActorHelper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Helpers/IChangesToActorHelper.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorGridArea.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorMarketRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorStatusChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
Due: businesslogic

Add integration events and start of test
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/GridAreaToAddToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/GridAreaToRemoveFromActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/MarketRoleToAddToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/MarketRoleToRemoveFromActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/MeteringPointTypeToAddToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/MeteringPointTypeToRemoveFromActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Helpers/ChangesToActorHelperTests.cs
Due: businesslogic

refactor validation, tests ...
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/AllowedGridAreasRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/IAllowedGridAreasRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/AllowedGridAreasRuleServiceTests.cs
Due: businesslogic

Expanding tests
  source/Energinet.DataHub.MarketParticipant.Tests/Helpers/ChangesToActorHelperTests.cs
Due: none

test og validates refactor init
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/CreateActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
Due: businesslogic

Add to tests
  source/Energinet.DataHub.MarketParticipant.Tests/Helpers/ChangesToActorHelperTests.cs
Due: none

Finished documentation for now
  README.md
Due: none

Fixed problem with anchors
  README.md
Due: none

Test html
  README.md
Due: none

Added breaks in html
  README.md
Due: none

Add method for checking if incoming data change existing data for actor
  source/Energinet.DataHub.MarketParticipant.Application/Helpers/ChangesToActorHelper.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/AddMarketRoleIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/AddMeteringPointTypeIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/GridAreaToAddToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/GridAreaToRemoveFromActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/RemoveMarketRoleIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/RemoveMeteringPointTypeIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Helpers/ChangesToActorHelperTests.cs
Due: businesslogic

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
