Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Application/
      - source/Energinet.DataHub.MarketParticipant.Domain/
      - source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Infrastructure/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/
      - source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

Update Package Version
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

Update Package And fix internal class to public
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorUpdatedIntegrationEventParser.cs
Due: infrastructure

Fix for internal Interface
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/IActorUpdatedIntegrationEventParser.cs
Due: infrastructure

Update dispatcher to send the new shared integration event
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorExternalIdChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorNameChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorStatusChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ContactAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ContactRemovedFromActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaNameChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaRemovedFromActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/MarketRoleAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/MarketRoleRemovedFromActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/MeteringPointTypeAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/MeteringPointTypeRemovedFromActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationAddressChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationCommentChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationIdentifierChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationNameChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationStatusChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationUpdatedEventDispatcher.cs
Due: infrastructure

Update Package
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
Due: infrastructure

Added ValidFrom and ValidTo to GridArea
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GridAreaDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreasHandler.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202208221400 Add ValidFrom and ValidTo to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202208221400 Add ValidFrom and ValidTo to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202208221400 Add ValidFrom and ValidTo to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202208221400 Add ValidFrom and ValidTo to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202208221400 Add ValidFrom and ValidTo to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GridArea.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/GridAreaEntity.cs
Due: businesslogic, infrastructure

Added ValidFrom and ValidTo to GridArea (#215)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GridAreaDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreasHandler.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202208221400 Add ValidFrom and ValidTo to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202208221400 Add ValidFrom and ValidTo to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202208221400 Add ValidFrom and ValidTo to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202208221400 Add ValidFrom and ValidTo to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202208221400 Add ValidFrom and ValidTo to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GridArea.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/GridAreaEntity.cs
Due: businesslogic, infrastructure

Add handler, and handler tests.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaHandler.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaHandlerTests.cs
Due: businesslogic

Add registrations and validation
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetGridAreaCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
Due: businesslogic

Add Ruleset test
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/GetGridAreaCommandRuleSetTests.cs
Due: none

Updated with validfrom and to fields
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaHandler.cs
Due: businesslogic

Editing Grid Areas (#210)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GetGridAreaCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GetGridAreaResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetGridAreaCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantGridAreaClient.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/GetGridAreaCommandRuleSetTests.cs
Due: businesslogic, infrastructure

feat: added GridArea.ValidFrom + .ValidTo to Client packages
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GridAreaDto.cs
Due: businesslogic

feat: added GridArea.ValidFrom + .ValidTo to Client packages (#216)
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GridAreaDto.cs
Due: businesslogic

merge pipelines
  .github/actions/publish-nuget-package/action.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
  codecov.yml
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

Cleanup Nuget package pipelines (#217)
  .github/actions/publish-nuget-package/action.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
  codecov.yml
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

specify source instead
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
Due: none

Fix NUPKG path in Nuget pipelines (#218)
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
Due: none

add iam
  .github/actions/publish-release-contents/action.yml
  build/infrastructure/env/t-001/mssql-database_override.tf
  build/infrastructure/env/u-001/mssql-database_override.tf
  build/infrastructure/env/u-002/mssql-database_override.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/mssqldb-applicationaccess.tf
  build/infrastructure/main/mssqldb-registry.tf
  build/infrastructure/main/variables.tf
Due: none

.
  build/infrastructure/env/t-001/mssqldb-registry_override.tf
  build/infrastructure/env/u-001/mssqldb-registry_override.tf
  build/infrastructure/env/u-002/mssqldb-registry_override.tf
Due: none

Updated exception message
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ActorExternalIdChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ActorNameChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ActorStatusChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ContactAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ContactRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/GridAreaAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/GridAreaRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/MarketRoleAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/MarketRoleRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/MeteringPointTypeAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/MeteringPointTypeRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridArea/GridAreaIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridArea/GridAreaNameChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridArea/GridAreaUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationAddressChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationCommentChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationCreatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationIdentifierChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationNameChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationStatusChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationUpdatedIntegrationEventParser.cs
Due: none

Bump package versions
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
Due: businesslogic, infrastructure

Bump package versions (#220)
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
Due: businesslogic, infrastructure

Fix missing "#" in MD file
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
Due: none

Updated wordlist
  wordlist.txt
Due: none

Added lowercase word
  wordlist.txt
Due: none

Bump package versions
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
Due: infrastructure

feat: GridAreaOverview with assigned GridAccessProvider actor info
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GetGridAreaOverviewCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GetGridAreaOverviewResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GridAreaOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetGridAreaOverviewCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantGridAreaOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantGridAreaOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GridAreaOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GridAreaOverviewItem.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IGridAreaOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaOverviewHandlerTests.cs
Due: businesslogic, infrastructure

Bump package versions (#221)
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
Due: infrastructure

query cleanup + fixed missing UniqueMarketRole check in CreateActorHandler
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
Due: businesslogic, infrastructure

UTs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GridAreaOverviewItem.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaOverviewRepositoryTests.cs
Due: businesslogic

feat: GridAreaOverview with assigned GridAccessProvider actor info (#222)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GetGridAreaOverviewCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GetGridAreaOverviewResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GridAreaOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetGridAreaOverviewCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantGridAreaOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantGridAreaOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GridAreaOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GridAreaOverviewItem.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IGridAreaOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaOverviewHandlerTests.cs
Due: businesslogic, infrastructure

fix: added MarketParticipantGridAreaOverviewClient til MarketParticipantClient
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
Due: none

fix
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
Due: none

fix
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

fix: added MarketParticipantGridAreaOverviewClient til MarketParticipantClient (#223)
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
Due: none
