Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Application/
      - source/Energinet.DataHub.MarketParticipant.Domain/
      - source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Infrastructure/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/
      - source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

Add more UTs.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/Organization/SynchronizeActorsIntegrationTests.cs
Due: none

Fixed spelling
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/README.md
Due: infrastructure

Update azure_ad_setup.md
  docs/azure_ad_setup.md
Due: none

Continued work on Create Actor function
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActiveDirectory/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/ActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectory/ActiveDirectoryServiceTests.cs
Due: businesslogic, infrastructure

Fixed copy/paste error in function name.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/SynchronizeActorsTimerTrigger.cs
Due: infrastructure

feat: Create actor synchronization service. (#293)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/SynchronizeActorsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/SynchronizeActorsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IExternalActorSynchronizationRepository.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/SynchronizeActorsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202211031500 Create ActorSynchronization Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202211031500 Create ActorSynchronization Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211031500 Create ActorSynchronization Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202211031500 Create ActorSynchronization Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202211031500 Create ActorSynchronization Table.sql
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/SynchronizeActorsTimerTrigger.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/ActorSynchronizationEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/ActorSynchronizationEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/ExternalActorSynchronizationRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/Organization/SynchronizeActorsIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ExternalActorSynchronizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/SynchronizeActorsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
Due: businesslogic, infrastructure

Finished Create, List, Exists and Delete functions
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActiveDirectory/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/ActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectory/ActiveDirectoryServiceTests.cs
Due: businesslogic, infrastructure

fix: Odd codecov diff.
  .github/workflows/ci.yml
Due: none

fix: Odd codecov diff. (#296)
  .github/workflows/ci.yml
Due: none

Initial refactor to support idempotency
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActiveDirectory/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/ActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectory/ActiveDirectoryServiceTests.cs
Due: businesslogic, infrastructure

fix: Codecov overwrites results.
  .github/workflows/ci.yml
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Actor.cs
Due: businesslogic

Update packages.
  .github/workflows/ci.yml
  Directory.Build.props
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
Due: none

dep: Update packages. (#297)
  Directory.Build.props
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Actor.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
Due: businesslogic

dep: Update .NET SDK.
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
Due: businesslogic, infrastructure

dep: Update .NET SDK. (#298)
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
Due: businesslogic, infrastructure

refac: Remove old code.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/CreateOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Helpers/ChangesToActorHelper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Helpers/IChangesToActorHelper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IOrganizationIntegrationEventsHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateOrganizationCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActiveDirectory/AppRegistrationRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActiveDirectory/AppRegistrationSecret.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorNumber.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/GridAreaIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Extensions/ExceptionExtensions.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Extensions/HttpRequestDataExtensions.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Model/ErrorDescriptor.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Model/ErrorResponse.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/ActiveDirectory/CreateAppRegistrationResponse.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UniqueActorMarketRoleGridAreaEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/GridAreaMeteringPointTypeEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/ActorContactRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
Due: businesslogic, infrastructure

refac: Remove old code. (#299)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/CreateOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Helpers/ChangesToActorHelper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Helpers/IChangesToActorHelper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IOrganizationIntegrationEventsHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateOrganizationCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActiveDirectory/AppRegistrationRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActiveDirectory/AppRegistrationSecret.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorNumber.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/GridAreaIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Extensions/ExceptionExtensions.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Extensions/HttpRequestDataExtensions.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Model/ErrorDescriptor.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Model/ErrorResponse.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/ActiveDirectory/CreateAppRegistrationResponse.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UniqueActorMarketRoleGridAreaEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/GridAreaMeteringPointTypeEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/ActorContactRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
Due: businesslogic, infrastructure

Further changes for Idempotency
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActiveDirectory/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/ActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectory/ActiveDirectoryServiceTests.cs
Due: businesslogic, infrastructure

Remove unneeded code
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActiveDirectory/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/ActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectory/ActiveDirectoryServiceTests.cs
Due: businesslogic, infrastructure

Cleanup redundant usings and wrong namespaces
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/CreateOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IOrganizationIntegrationEventsHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateOrganizationCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorNumber.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActiveDirectory/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/GridAreaIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UniqueActorMarketRoleGridAreaEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/ActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaAddedToActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaNameChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaRemovedFromActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationCommentChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/ActorNumberTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/EicActorNumberTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/GlnActorNumberTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateGridAreaCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Cleanup of test class
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectory/ActiveDirectoryServiceTests.cs
Due: none

Ensured tests run on config settings
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectory/ActiveDirectoryServiceTests.cs
Due: none

More cleanup after codereview
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/ActiveDirectoryService.cs
Due: infrastructure

removed redundant usings
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/ActiveDirectoryService.cs
Due: infrastructure

Added actual comments
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/Slim/IActorRepository.cs
Due: businesslogic

Added test for calling delete multiple times with no exceptions
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectory/ActiveDirectoryServiceTests.cs
Due: none

dep: Update dependencies.
  Directory.Build.props
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
Due: businesslogic, infrastructure

dep: Update dependencies. (#300)
  Directory.Build.props
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
Due: businesslogic, infrastructure

Added Displayname generator
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActiveDirectory/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/ActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectory/ActiveDirectoryServiceTests.cs
Due: businesslogic, infrastructure

Fixed namespace problem
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/ActiveDirectoryService.cs
Due: infrastructure

Removed package
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
Due: infrastructure

Removed nullable app return type
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/ActiveDirectoryService.cs
Due: infrastructure

feat: Add ActorId to backend. (#294)
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/GetOrganizationsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Security/FrontendUser.cs
  source/Energinet.DataHub.MarketParticipant.Common/Security/FrontendUserProvider.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Slim/Actor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/Slim/IActorRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActiveDirectory/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ExternalActorIdConfigurationService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActiveDirectoryB2CService.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorUnsafeController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationUnsafeController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Slim/ActorRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/ActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/SignInAudience.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectory/ActiveDirectoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2cServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaAddedToActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaNameChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaRemovedFromActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationCommentChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/ActorNumberTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/EicActorNumberTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/GlnActorNumberTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ExternalActorIdConfigurationServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateGridAreaCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Replace DbUp with DbUp.Reboot
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Helpers/CustomScriptProvider.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Helpers/DefaultUpgrader.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Helpers/ResultReporter.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Helpers/SqlAppAuthenticationProvider.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Helpers/UpgradeFactory.cs
Due: infrastructure

Whoops... :o)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Program.cs
Due: infrastructure

Replace DbUp with DbUp.Reboot (#301)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Helpers/CustomScriptProvider.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Helpers/DefaultUpgrader.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Helpers/ResultReporter.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Helpers/SqlAppAuthenticationProvider.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Helpers/UpgradeFactory.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Program.cs
Due: infrastructure

Started DB implemntation of User/Roles/Permissions
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211150921 Add UserRoleTemplate Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211150922 Add AccessPermission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211150922 Add User Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211150923 Add UserActor Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211150924 Add UserActorUserRoleTemplate Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211150925 Add UserRoleTemplatePermission Table.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/User.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserActor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserRoleTemplate.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserActorEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserActorUserRoleTemplateEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleTemplateEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserActorEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserActorUserRoleTemplateEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserEntity.cs
Due: businesslogic, infrastructure

Working UserRoleTemplate Inserts and Get
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleTemplateRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleTemplatePermissionEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserRoleTemplateMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserActorUserRoleTemplateEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleTemplateEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleTemplatePermissionEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleTemplateRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleTemplateRepositoryTests.cs
Due: businesslogic, infrastructure
