Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

fix: Do not display actor name when not fas.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
Due: infrastructure

fix: Do not display actor name when not fas. (#411)
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
Due: infrastructure

sort
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
Due: none

fix
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
Due: none

fix
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Extensions/EnumerableExtensions.cs
Due: infrastructure

fix
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
Due: none

feat: user serverside sort when paging (#406)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/User/UserOverviewSortProperty.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/SortDirection.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/SortDirection.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserOverviewSortProperty.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EmailAddress.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/SortDirection.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserOverviewSortProperty.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Extensions/EnumerableExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
Due: businesslogic, infrastructure

make dummy file changes
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
Due: none

Added relation between marketrole and Permission
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202301311456 Add Permission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202301311457 Add PermissionToMarketRole Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202301311456 Add Permission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202301311457 Add PermissionToMarketRole Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202301311456 Add Permission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202301311457 Add PermissionToMarketRole Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202301311456 Add Permission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202301311457 Add PermissionToMarketRole Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202301311456 Add Permission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202301311457 Add PermissionToMarketRole Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202301311456 Add Permission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202301311457 Add PermissionToMarketRole Table.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/PermissionDetails.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IPermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/PermissionEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/PermissionMarketRoleEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/PermissionEicFunctionEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/PermissionEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/PermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionRepositoryTests.cs
Due: businesslogic, infrastructure

Ensured that permissions har reset between tests
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionRepositoryTests.cs
Due: none

Bump version.
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

Cleanup.
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
Due: infrastructure

test workflow_run trigger
  .github/workflows/allow_merge_workflow.yml
Due: none

add name to allow_merge workflow
  .github/workflows/allow_merge_workflow.yml
Due: none

refac: Removed unused API for getting users. (#410)
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
Due: infrastructure

one more test
  .github/workflows/allow_merge_workflow.yml
Due: none

dummy indentation
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
Due: none

updating user role permission to list type
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UserRoleWithPermissionsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleWithPermissionsDto.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleIntegrationTests.cs
Due: businesslogic

bumb minor version of nuget package used for testing
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

notes update
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
Due: none

prepare for PR - only change is adding new workflow
  .github/workflows/allow_merge_workflow.yml
Due: none

...
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
Due: none

updating user role permission to list type (#419)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UserRoleWithPermissionsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleWithPermissionsDto.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleIntegrationTests.cs
Due: businesslogic

Add new workflow to potentially fix allow_merge (#412)
  .github/workflows/allow_merge_workflow.yml
Due: none

trigger pipelines
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantActorClient.cs
Due: none

Remove allow_merge_workflow.yml
  .github/workflows/allow_merge_workflow.yml
Due: none

Remove allow_merge_workflow.yml (#421)
  .github/workflows/allow_merge_workflow.yml
Due: none

user role audit log permission type change
  source/Energinet.DataHub.MarketParticipant.Application/Services/UserRoleAuditLogService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAuditLogSerialized.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserRoleAuditLogServiceTests.cs
Due: businesslogic

add orchestrator.yml and detect-changes-workflow-level.yml
  .github/workflows/ci.yml
  .github/workflows/detect-changes-workflow-level.yml
  .github/workflows/orchestrator.yml
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
Due: none

Added test for ensuring all permissions have description and Eicfunction
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202302021926 Add Permission Details.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202302021926 Add Permission Details.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202302021926 Add Permission Details.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202302021926 Add Permission Details.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202302021926 Add Permission Details.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202302021926 Add Permission Details.sql
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionRepositoryTests.cs
Due: infrastructure

fix yml
  .github/workflows/orchestrator.yml
Due: none

fix detect-changes-workflow-level outputs
  .github/workflows/detect-changes-workflow-level.yml
Due: none

fix detect-changes-workflow-level outputs again
  .github/workflows/detect-changes-workflow-level.yml
Due: none

doh
  .github/workflows/detect-changes-workflow-level.yml
Due: none

rename workflows
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-orchestrator.yml
Due: none

rename detect-changes-workflow-level to detect-changes
  .github/workflows/detect-changes-workflow-level.yml
  .github/workflows/detect-changes.yml
Due: none

fix yml
  .github/workflows/ci-orchestrator.yml
Due: none

trigger client package - but make it fail - to test allow_merge_ci_orchestrator
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
Due: none

change stuff to test allow merge works as intended
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantGridAreaClient.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorContact.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
