Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

Allow all tokens when testing locally. (#334)
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/DummyAuthenticationExtensions.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenControllerIntegrationTests.cs
Due: businesslogic, infrastructure

feat: markpart API user overview
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GetUserOverviewCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GetUserOverviewResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/UserOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserOverviewCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserOverviewItem.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
Due: businesslogic, infrastructure

fixes
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Energinet.DataHub.MarketParticipant.Domain.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserOverviewItem.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
Due: businesslogic, infrastructure

adding user overview client. Refactor.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserOverviewCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserOverviewResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/UserOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: businesslogic, infrastructure

updated client package version
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

fixed SignatureValidator in DummyAuthenticationExtensions
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/DummyAuthenticationExtensions.cs
Due: infrastructure

Get user role templates for a given user and actor.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Templates/GetUserRoleTemplatesCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Templates/GetUserRoleTemplatesResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Templates/UserRoleTemplateDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserPermissionsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserPermissionsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserPermissionsCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserRoleTemplatesCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserPermissionsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserRoleTemplatesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Energinet.DataHub.MarketParticipant.Domain.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAssignment.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleTemplate.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleTemplateRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleTemplateController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleTemplateRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/TestUserHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRoleTemplatesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleTemplateRepositoryTests.cs
Due: businesslogic, infrastructure

Updated tests.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleTemplateRepositoryTests.cs
Due: none

Fix tests.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
Due: infrastructure

Move to different namespace.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoleTemplates/GetUserRoleTemplatesCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoleTemplates/GetUserRoleTemplatesResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoleTemplates/UserRoleTemplateDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserRoleTemplatesCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserRoleTemplatesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleTemplateController.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRoleTemplatesIntegrationTests.cs
Due: businesslogic, infrastructure

Get user role templates for a given user and actor. (#336)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserPermissionsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserPermissionsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoleTemplates/GetUserRoleTemplatesCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoleTemplates/GetUserRoleTemplatesResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoleTemplates/UserRoleTemplateDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserPermissionsCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserRoleTemplatesCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserPermissionsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserRoleTemplatesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Energinet.DataHub.MarketParticipant.Domain.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAssignment.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleTemplate.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleTemplateRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleTemplateController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleTemplateRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/TestUserHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRoleTemplatesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleTemplateRepositoryTests.cs
Due: businesslogic, infrastructure

fix
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
Due: none

fix
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
Due: businesslogic

feat: markpart API user overview (#335)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserOverviewCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserOverviewResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/UserOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserOverviewCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserOverviewItem.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/DummyAuthenticationExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: businesslogic, infrastructure

Fetch templates for actor.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoleTemplates/GetUserRoleTemplatesForActorCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserRoleTemplatesForActorCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserRoleTemplatesForActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Security/FrontendUserProvider.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleTemplateRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleTemplateController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Slim/ActorRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleTemplateRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRoleTemplatesForActorIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleTemplateRepositoryTests.cs
Due: businesslogic, infrastructure

Rename.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoleTemplates/GetAvailableUserRoleTemplatesForActorCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAvailableUserRoleTemplatesForActorCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetAvailableUserRoleTemplatesForActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleTemplateController.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetAvailableUserRoleTemplatesForActorIntegrationTests.cs
Due: businesslogic, infrastructure

Failed merged.
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
Due: businesslogic

Rename.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAvailableUserRoleTemplatesForActorCommandHandler.cs
Due: businesslogic

Rename.
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleTemplateRepository.cs
Due: businesslogic

Fix test.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleTemplateRepositoryTests.cs
Due: none

Fix more tests.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetAvailableUserRoleTemplatesForActorIntegrationTests.cs
Due: none

Token permissions filtered by EIC function.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Slim/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Slim/UserRepositoryTests.cs
Due: infrastructure

Trigger CI.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/AzureAdConfig.cs
Due: infrastructure

Fix tests.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Slim/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Slim/UserRepositoryTests.cs
Due: infrastructure

Fix tests.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetAvailableUserRoleTemplatesForActorIntegrationTests.cs
Due: none

Trigger CI.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/ServiceBusConfig.cs
Due: infrastructure

Fetch templates for actor. (#337)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoleTemplates/GetAvailableUserRoleTemplatesForActorCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAvailableUserRoleTemplatesForActorCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetAvailableUserRoleTemplatesForActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Security/FrontendUserProvider.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Slim/Actor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleTemplateRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleTemplateController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Slim/ActorRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleTemplateRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetAvailableUserRoleTemplatesForActorIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleTemplateRepositoryTests.cs
Due: businesslogic, infrastructure

Auto stash before merge of "juj/AddAssignRoleTemplateToUser" and "main"
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoleTemplates/UpdateUserRoleTemplatesCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoleTemplates/UpdateUserRoleTemplatesDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoleTemplates/GetUserRoleTemplatesCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoleTemplates/UpdateUserRoleTemplatesCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateUserRoleTemplatesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/User.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleTemplateController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Slim/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleTemplatesIntegrationTests.cs
Due: businesslogic, infrastructure

Implementation of UserRoleAssigmentsUpdate
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleAssignmentEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleAssignmentEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Slim/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleTemplatesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Slim/UserRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
Due: infrastructure

Fix helper.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/TestUserHelper.cs
Due: none

Token permissions filtered by EIC function. (#338)
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Slim/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/ServiceBusConfig.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Slim/UserRepositoryTests.cs
Due: infrastructure

Add user role template to client.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleTemplateClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleTemplateClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleTemplateDto.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleTemplateController.cs
Due: infrastructure

Add user role template to client. (#339)
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleTemplateClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleTemplateClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleTemplateDto.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleTemplateController.cs
Due: infrastructure

refac: Change IoC registration in Client.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Extensions/ContainerExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantClientFactory.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantActorClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantActorContactClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClientFactory.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantGridAreaClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantGridAreaOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantOrganizationClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleTemplateClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/TokenClient.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Common/MockedHttpMessageHandler.cs
Due: none

Update publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-client.yml
Due: none

Update publish-marketparticipant-model.yml
  .github/workflows/publish-marketparticipant-model.yml
Due: none

Spell check.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
Due: none

naming changes
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoleTemplates/UpdateUserRoleAssignmentsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoleTemplates/UpdateUserRoleAssignmentsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoleTemplates/UpdateUserRoleTemplatesCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateUserRoleAssignmentsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleTemplateController.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleTemplatesIntegrationTests.cs
Due: businesslogic, infrastructure

Update publish-marketparticipant-client.yml (#341)
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
Due: none

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
