Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Application/
      - source/Energinet.DataHub.MarketParticipant.Domain/
      - source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Infrastructure/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/
      - source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

Remove unused constructor
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/OverlappingEicFunctionsRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2CRolesProvider.cs
Due: businesslogic, infrastructure

rule set registration
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
Due: businesslogic

rule set registration (#467)
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
Due: businesslogic

chore: dotnet7
  Directory.Build.props
  global.json
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Application/Helpers/ChangesToActorHelper.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Energinet.DataHub.MarketParticipant.Domain.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationIntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Energinet.DataHub.MarketParticipant.Libraries.Tests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
Due: businesslogic, infrastructure

bump client pack
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

bump model package
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

updated github workflows to net7.0
  .github/workflows/cd.yml
  .github/workflows/ci-dotnet.yml
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
Due: none

fixed integration model version
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

chore: dotnet7 (#468)
  .github/workflows/cd.yml
  .github/workflows/ci-dotnet.yml
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
  Directory.Build.props
  global.json
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Application/Helpers/ChangesToActorHelper.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Energinet.DataHub.MarketParticipant.Domain.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationIntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Energinet.DataHub.MarketParticipant.Libraries.Tests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
Due: businesslogic, infrastructure

Added new endpoint to recieve userroles to a given permission
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetUserRolesToPermissionCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetUserRolesToPermissionResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRolesToPermissionHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserRolesToPermissionCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IPermissionAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRolesToPermissionIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetUserRoleToPermissionHandlerTest.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/GetUserRolesToPermissionCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Updated Test to handle being run with other tests
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRolesToPermissionIntegrationTests.cs
Due: none

Add endpoint to recieve userroles to a given permission (#470)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetUserRolesToPermissionCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetUserRolesToPermissionResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRolesToPermissionHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserRolesToPermissionCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IPermissionAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRolesToPermissionIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetUserRoleToPermissionHandlerTest.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/GetUserRolesToPermissionCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Add endpoint to return Eic functions with permission assigned
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/GetMarketRolesToPermissionCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/GetMarketRolesToPermissionResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/GetPermissionsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/GetUserRolesToPermissionHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetMarketRolesToPermissionCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantPermissions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantPermissionsClient.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IPermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/PermissionController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/PermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetMarketRolesToPermissionIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetMarketRolesToPermissionHandlerTest.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/GetMarketRolesToPermissionCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Wrong merge.
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IPermissionAuditLogEntryRepository.cs
Due: businesslogic

Manual merge.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRolesToPermissionHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetUserRoleToPermissionHandlerTest.cs
Due: businesslogic, infrastructure

Remove incorrect csproj items.
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
Due: infrastructure

Cleanup SQL.
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202211301530 Add energinet org and fas actor.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202302021926 Add Permission Details.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202302141300 Add More Permission To Eic.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202211301530 Add energinet org and fas actor.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202211301530 Add energinet org and fas actor.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202211301530 Add energinet org and fas actor.sql
Due: infrastructure

Remove qualified namespace.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorContactController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/InvitationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/PermissionController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleAssignmentController.cs
Due: infrastructure

Add endpoint to return Eic functions with permission assigned (#471)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/GetMarketRolesToPermissionCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/GetMarketRolesToPermissionResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/GetPermissionsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/GetUserRolesToPermissionHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetMarketRolesToPermissionCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantPermissions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantPermissionsClient.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IPermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/PermissionController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/PermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetMarketRolesToPermissionIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetMarketRolesToPermissionHandlerTest.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/GetMarketRolesToPermissionCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Remove comment.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/AuthorizeUserAttribute.cs
Due: infrastructure

Merge.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/GetUserRolesToPermissionHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IPermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/PermissionController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/PermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetMarketRolesToPermissionHandlerTest.cs
Due: businesslogic, infrastructure

Moved AssignableTo to PermissionDto.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/GetMarketRolesToPermissionCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/GetMarketRolesToPermissionResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/PermissionDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/GetPermissionsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/GetUserRolesToPermissionHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetMarketRolesToPermissionCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IPermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/PermissionController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/PermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetMarketRolesToPermissionIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetMarketRolesToPermissionHandlerTest.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/GetMarketRolesToPermissionCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Remove old todo.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/InvitationController.cs
Due: infrastructure

Move AssignableTo to permissions in package.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantPermissions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantPermissionsClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/PermissionDetailsDto.cs
Due: none

Update Core package.
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRolesToPermissionIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
Due: businesslogic, infrastructure

Do not support spaces in passwords.
  source/Energinet.DataHub.MarketParticipant.Domain/Services/PasswordChecker.cs
Due: businesslogic

Update package.
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetPermissionAuditLogEntriesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserRolesToPermissionCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdatePermissionCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/PasswordChecker.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/PasswordGeneratorTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
Due: businesslogic

Update permissions.
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Permissions/PermissionId.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorContactController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/PermissionController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/Permissions/KnownPermissions.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRolesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRolesToPermissionIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/InviteUserHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenPartsControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleAssignmentsIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UserControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UserRoleAuditLogIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionAuditLogEntryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Query/UserQueryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetUserRoleToPermissionHandlerTest.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserRoleAuditLogServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Update Core package. (#475)
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetPermissionAuditLogEntriesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserRolesToPermissionCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdatePermissionCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Permissions/PermissionId.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorContactController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/PermissionController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/Permissions/KnownPermissions.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRolesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRolesToPermissionIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/InviteUserHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenPartsControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleAssignmentsIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UserControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UserRoleAuditLogIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionAuditLogEntryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Query/UserQueryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetUserRoleToPermissionHandlerTest.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/PasswordGeneratorTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserRoleAuditLogServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Add how-to create permissions to documentation.
  docs/authorization.md
Due: none

Update text.
  docs/authorization.md
Due: none

Update docs and add tests.
  docs/authorization.md
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/Permissions/KnownPermission.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/Permissions/KnownPermissions.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/KnownPermissionsTests.cs
Due: infrastructure

Add how-to create permissions to documentation. (#476)
  docs/authorization.md
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/Permissions/KnownPermission.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/Permissions/KnownPermissions.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/KnownPermissionsTests.cs
Due: infrastructure

remove allow_merge
  .github/workflows/cd.yml
  .github/workflows/ci-dotnet.yml
  .github/workflows/detect-changes.yml
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
Due: none

bump versions
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

remove allow_merge (#477)
  .github/workflows/cd.yml
  .github/workflows/ci-dotnet.yml
  .github/workflows/detect-changes.yml
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

Fix build
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
Due: businesslogic
