Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

fix: added IMarketParticipantGridAreaOverviewClient to IMarketParticipantClient
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantClient.cs
Due: none

bumped package version
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

fix: added IMarketParticipantGridAreaOverviewClient to IMarketParticipantClient (#224)
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantClient.cs
Due: none

Enable Identity based Access Management on the SQL database (#219)
  .github/actions/publish-release-contents/action.yml
  build/infrastructure/env/t-001/mssqldb-registry_override.tf
  build/infrastructure/env/u-001/mssqldb-registry_override.tf
  build/infrastructure/env/u-002/mssqldb-registry_override.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/mssqldb-applicationaccess.tf
  build/infrastructure/main/mssqldb-registry.tf
  build/infrastructure/main/variables.tf
Due: none

feat: Add issue templates.
  .github/ISSUE_TEMPLATE/Bug_Report.md
  .github/ISSUE_TEMPLATE/Feature.md
  .github/ISSUE_TEMPLATE/Feature_Request.md
  .github/ISSUE_TEMPLATE/Project_Risk.md
  .github/ISSUE_TEMPLATE/Support_Question.md
  .github/ISSUE_TEMPLATE/Task.md
Due: none

Update Task.md
  .github/ISSUE_TEMPLATE/Task.md
Due: none

Update packages.
  Directory.Build.props
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
Due: businesslogic, infrastructure

Update packages. (#227)
  Directory.Build.props
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
Due: businesslogic, infrastructure

Update packages in libraries.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Energinet.DataHub.MarketParticipant.Libraries.Tests.csproj
Due: none

Spelling error
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
Due: none

Added FullFlex date
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202209011008 Add FullFlexDate to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GridAreaOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GridAreaOverviewItem.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/GridAreaEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaOverviewHandlerTests.cs
Due: businesslogic, infrastructure

Added missing word to spellcheck
  wordlist.txt
Due: none

bug: fixed gridarea overview query
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/MarketRoleEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/MarketRoleEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaOverviewRepositoryTests.cs
Due: infrastructure

bug: fixed gridarea overview query (#230)
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/MarketRoleEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/MarketRoleEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaOverviewRepositoryTests.cs
Due: infrastructure

Bumped version
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202209011008 Add FullFlexDate to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202209011008 Add FullFlexDate to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202209011008 Add FullFlexDate to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202209011008 Add FullFlexDate to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: infrastructure

Added FullFlex date (#229)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202209011008 Add FullFlexDate to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202209011008 Add FullFlexDate to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202209011008 Add FullFlexDate to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202209011008 Add FullFlexDate to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202209011008 Add FullFlexDate to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GridAreaOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GridAreaOverviewItem.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/GridAreaEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaOverviewHandlerTests.cs
  wordlist.txt
Due: businesslogic, infrastructure

adding grid name client method
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantGridAreaClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ChangeGridAreaDto.cs
Due: none

update package number and release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

updated interface and client
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantGridAreaClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
Due: none

bug: fixed gridarea overview query take two
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaOverviewRepository.cs
Due: infrastructure

bug: fixed gridarea overview query take two (#232)
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaOverviewRepository.cs
Due: infrastructure

removed method param
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantGridAreaClient.cs
Due: none

bug: Use PriceAreaCode enum.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GridAreaDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/PriceAreaCode.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

test: added more GridAreaOverviewTests
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaOverviewRepositoryTests.cs
Due: none

test: added more GridAreaOverviewTests (#234)
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaOverviewRepositoryTests.cs
Due: none

Fix spelling.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
Due: none

Spelling
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
Due: none

update nuget version and rename method
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantGridAreaClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantGridAreaClient.cs
Due: none

Adding grid name update client (#231)
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantGridAreaClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantGridAreaClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ChangeGridAreaDto.cs
Due: none

bug: Do not handle unexpected exceptions.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/ValidationExceptionHandler.cs
Due: none

Fix UTs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

feat: grid area audit log
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202209011545 GridAreaAuditLog tabel.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202209011545 GridAreaAuditLog tabel.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202209011545 GridAreaAuditLog tabel.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202209011545 GridAreaAuditLog tabel.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202209011545 GridAreaAuditLog tabel.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GridAreaAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IGridAreaAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/GridAreaAuditLogEntryEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/GridAreaAuditLogEntryEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaAuditLogEntryRepositoryTests.cs
Due: businesslogic, infrastructure

removed unused entity configurations
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/GridAreaActorInfoLinkEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/GridAreaActorInfoLinkEntity.cs
Due: infrastructure

Added missing full flex to object
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GridAreaOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaOverviewHandler.cs
Due: businesslogic

Added missing full flex to object (#242)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GridAreaOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaOverviewHandler.cs
Due: businesslogic

test user ID from JWT
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUserIdProvider.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserIdProvider.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/JwtContoller.cs
Due: businesslogic, infrastructure

fix
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
Due: businesslogic

fix
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationHost.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/StartupBaseTests.cs
Due: none

fixed IUserIdProvider registration
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
Due: businesslogic

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
