Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Application/
      - source/Energinet.DataHub.MarketParticipant.Domain/
      - source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Infrastructure/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/
      - source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

Update CODEOWNERS - make Outlaws owners of Github actions and workflows
  .github/CODEOWNERS
Due: none

Update CODEOWNERS - make Outlaws owners of Github actions and workflows (#263)
  .github/CODEOWNERS
Due: none

bug: Fix dependabot path.
  .github/dependabot.yml
Due: none

Update wordlist.txt
  wordlist.txt
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Use v9 of TF modules for web api and func
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-organization.tf
Due: none

test: use TF v9.2.0
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-organization.tf
  build/infrastructure/main/mssqldb-registry.tf
Due: none

use v9 of TF modules for webapi, func and sql db
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-organization.tf
  build/infrastructure/main/mssqldb-registry.tf
Due: none

Update Core
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
Due: businesslogic, infrastructure

ROLES_VALIDATION_ENABLED added to build/infrastructure and set to true for u-002
  build/infrastructure/env/u-002/locals_override.tf
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/locals.tf
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

RolesValidationEnabled
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: businesslogic, infrastructure

Reduce noise when deploying infrastructure (#271)
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-organization.tf
Due: none

Unsafe controllers.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaOverviewUnsafeController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

Unsafe controllers
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

unsafe controllers
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaOverviewUnsafeController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaUnsafeController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationUnsafeController.cs
Due: infrastructure

Fix unsafe controllers.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationUnsafeController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

Add authorization to organizations. (#251)
  build/infrastructure/env/u-002/locals_override.tf
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/locals.tf
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/MarketParticipantBadRequestException.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/ValidationExceptionHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaOverviewUnsafeController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaUnsafeController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationUnsafeController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: businesslogic, infrastructure

dep: Use action defaults for dependencies.
  .github/workflows/publish-marketparticipant-client.yml
Due: none

Use action defaults for dependencies.
  .github/workflows/publish-marketparticipant-model.yml
Due: none

Update package versions.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

dep: Use action defaults for dependencies. (#272)
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  wordlist.txt
Due: none

Added Client as project dependencyy, so dto and enums can be reused
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Energinet.DataHub.MarketParticipant.Domain.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
Due: businesslogic, infrastructure

Readded dtos to Integration Model, could not add client as a dependency
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorNumberType.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorStatus.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/EicFunction.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/OrganizationStatus.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/PriceAreaCode.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaAuditLogEntryRepositoryTests.cs
Due: none

Fixed build error
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaUnsafeController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationUnsafeController.cs
Due: infrastructure

wip
  .github/workflows/ci.yml
  .github/workflows/detect-changes.yml
Due: none

dep: Update library packages.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Energinet.DataHub.MarketParticipant.Libraries.Tests.csproj
Due: none
