Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Application/
      - source/Energinet.DataHub.MarketParticipant.Domain/
      - source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Infrastructure/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/
      - source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

Fixed spellcheck error
  wordlist.txt
Due: none

refac: Remove organization:view permission.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorContactController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
Due: infrastructure

refac: Remove organization:view permission. (#355)
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorContactController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
Due: infrastructure

Removed mail search from AD part
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
Due: infrastructure

Fixed Typo
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
Due: infrastructure

Flipped wrong bool in handler
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
Due: businesslogic

Flipped bool
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
Due: businesslogic

refac: Cleanup ids in domain model.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/Actor/GetSelectionActorsQueryCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRoleAssignmentsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRolesDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/GetSelectionActorsQueryHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/UpdateGridAreaHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRolesCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Security/FrontendUser.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateUserRoleAssignmentsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GridAreaAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserDisplayName.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserIdentity.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserOverviewItem.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUserDisplayNameProvider.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorQueryController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/UserDisplayNameProvider.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRolesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaAuditLogEntryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
Due: businesslogic, infrastructure

Update package.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleAssignmentClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleAssignmentClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UpdateUserRoleAssignmentsDto.cs
Due: none

feat: organization name in selection actor
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/Actor/SelectionActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/GetSelectionActorsQueryHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/SelectionActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Query/SelectionActor.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Query/ActorQueryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: businesslogic, infrastructure

feat: organization name in selection actor (#357)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/Actor/SelectionActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/GetSelectionActorsQueryHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/SelectionActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Query/SelectionActor.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Query/ActorQueryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: businesslogic, infrastructure

refac: Cleanup ids in domain model. (#356)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/Actor/GetSelectionActorsQueryCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRoleAssignmentsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRolesDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/GetSelectionActorsQueryHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/UpdateGridAreaHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRolesCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Security/FrontendUser.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateUserRoleAssignmentsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleAssignmentClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleAssignmentClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UpdateUserRoleAssignmentsDto.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GridAreaAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserDisplayName.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserIdentity.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserOverviewItem.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUserDisplayNameProvider.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorQueryController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/UserDisplayNameProvider.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRolesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaAuditLogEntryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
Due: businesslogic, infrastructure

Refactor search function
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
Due: businesslogic, infrastructure

User roles assignment audit log (#351)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetUserRoleAssignmentAuditLogsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetUserRoleAssignmentsAuditLogResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleAssignmentAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRolesCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserRoleAssignmentAuditLogEntriesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202212131417 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202212131417 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202212131417 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202212131417 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202212131417 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202212131417 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAssignmentAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAssignmentTypeAuditLog.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleAssignmentAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleAssignmentAuditLogController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleAssignmentAuditLogEntryEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleAssignmentAuditLogEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleAssignmentAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRolesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRolesCommandHandlerTests.cs
Due: businesslogic, infrastructure

Fixes after merge
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
Due: infrastructure

Updated Client and package
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

Removed unused function
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
Due: none

Add total number of users to API.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserOverviewResultDto.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: businesslogic, infrastructure

Remove test.
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

Fixes after review
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
Due: infrastructure

Fixed unit tests after rewriting some code because of codereview
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
Due: infrastructure

Backend to Search on User overview (#347)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/User/GetUserOverviewCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
  wordlist.txt
Due: businesslogic, infrastructure

fix: Incorrect table name.
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202212201300 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202212201300 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202212201300 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202212201300 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202212201300 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202212201300 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleAssignmentAuditLogEntryEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleAssignmentAuditLogEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleAssignmentAuditLogEntryRepository.cs
Due: infrastructure

Remove scripts None.
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
Due: infrastructure

fix: Incorrect table name. (#359)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202212201300 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202212201300 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202212201300 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202212201300 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202212201300 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202212201300 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleAssignmentAuditLogEntryEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleAssignmentAuditLogEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleAssignmentAuditLogEntryRepository.cs
Due: infrastructure

Adding order to search and get user
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
Due: infrastructure

Added user lookup to email order
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
Due: infrastructure

Proper merge.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
Due: businesslogic, infrastructure

Implmented icomparable on email adress
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EmailAddress.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
Due: businesslogic, infrastructure

Fixed email comparison
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EmailAddress.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
Due: businesslogic, infrastructure

Adding order to search and get user (#360)
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EmailAddress.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
Due: businesslogic, infrastructure

Add total number of users to API. (#358)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/User/GetUserOverviewResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserOverviewResultDto.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: businesslogic, infrastructure

refac: User roles API is now two separate lists.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRoleAssignmentsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRoleAssignmentsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAvailableUserRolesForActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserPermissionsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRolesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRolesCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRolesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateUserRoleAssignmentsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleAssignmentClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleAssignmentClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UpdateUserRoleAssignmentsDto.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRolesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRolesCommandHandlerTests.cs
Due: businesslogic, infrastructure

Add missing rule.
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateUserRoleAssignmentsCommandRuleSet.cs
Due: businesslogic

Update source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleAssignmentClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleAssignmentClient.cs
Due: none

Check that Add does not add same item multiple times.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRolesHandler.cs
Due: businesslogic

fix: fixed wrong actor id in UserQueryRepository
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Query/UserQueryRepository.cs
Due: infrastructure

fix: fixed wrong actor id in UserQueryRepository (#362)
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Query/UserQueryRepository.cs
Due: infrastructure

refac: User roles API is now two separate lists. (#361)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRoleAssignmentsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRoleAssignmentsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAvailableUserRolesForActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserPermissionsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRolesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRolesCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRolesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateUserRoleAssignmentsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleAssignmentClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleAssignmentClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UpdateUserRoleAssignmentsDto.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRolesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRolesCommandHandlerTests.cs
Due: businesslogic, infrastructure

feat: Add user audit log to BFF client API.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserAuditLogResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserAuditLogsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRolesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserAuditLogEntriesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserAuditLogsDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleAssignmentAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleAssignmentTypeAuditLog.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleAssignmentAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleAssignmentAuditLogController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleAssignmentAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRolesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRolesCommandHandlerTests.cs
Due: businesslogic, infrastructure
