Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

fix
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserIdProvider.cs
Due: businesslogic

retrieving subject from jwt take 2
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
Due: businesslogic

fix jwt take 3
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/JwtController.cs
Due: businesslogic, infrastructure

investigate jwt take 4
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/JwtController.cs
Due: infrastructure

investigate jwt take 5
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/JwtController.cs
Due: infrastructure

investigate jwt take 6
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/JwtController.cs
Due: businesslogic, infrastructure

user id in gridarea audit log
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/UpdateGridAreaHandler.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202209011545 GridAreaAuditLog tabel.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202209011545 GridAreaAuditLog tabel.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202209011545 GridAreaAuditLog tabel.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202209011545 GridAreaAuditLog tabel.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202209011545 GridAreaAuditLog tabel.sql
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GridAreaAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GridAreaAuditLogEntryField.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/JwtController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/GridAreaAuditLogEntryEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaAuditLogEntryRepositoryTests.cs
Due: businesslogic, infrastructure

Fix missing summary
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUserIdProvider.cs
Due: businesslogic

use elastic pool
  build/infrastructure/main/kv-shared-resources.tf
Due: none

use elastic pool
  build/infrastructure/main/mssqldb-applicationaccess.tf
  build/infrastructure/main/mssqldb-registry.tf
Due: none

Update mssqldb-registry.tf
  build/infrastructure/main/mssqldb-registry.tf
Due: none

fixes
  build/infrastructure/main/kv-shared-resources.tf
Due: none

fixes
  build/infrastructure/main/mssqldb-registry.tf
Due: none

Use elastic pool (#243)
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/mssqldb-applicationaccess.tf
  build/infrastructure/main/mssqldb-registry.tf
Due: none

tests
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/UpdateGridAreaHandler.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateGridAreaHandlerTests.cs
Due: businesslogic

feat: grid area audit log (#236)
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/UpdateGridAreaHandler.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202209011545 GridAreaAuditLog tabel.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202209011545 GridAreaAuditLog tabel.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202209011545 GridAreaAuditLog tabel.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202209011545 GridAreaAuditLog tabel.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202209011545 GridAreaAuditLog tabel.sql
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GridAreaAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GridAreaAuditLogEntryField.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IGridAreaAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUserIdProvider.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserIdProvider.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/GridAreaAuditLogEntryEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/GridAreaAuditLogEntryEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationHost.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaAuditLogEntryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/StartupBaseTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateGridAreaHandlerTests.cs
Due: businesslogic, infrastructure

feat: grid area audit log API
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GetGridAreaAuditLogEntriesCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GetGridAreaAuditLogEntriesResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GridAreaAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GridAreaAuditLogEntryField.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/UpdateGridAreaHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetGridAreaAuditLogEntriesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantGridAreaClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantGridAreaClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GridAreaAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GridAreaAuditLogEntryField.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IGridAreaAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaAuditLogEntryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateGridAreaHandlerTests.cs
Due: businesslogic, infrastructure

feat: grid area audit log API (#244)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GetGridAreaAuditLogEntriesCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GetGridAreaAuditLogEntriesResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GridAreaAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GridAreaAuditLogEntryField.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/UpdateGridAreaHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetGridAreaAuditLogEntriesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantGridAreaClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantGridAreaClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GridAreaAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GridAreaAuditLogEntryField.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IGridAreaAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaAuditLogEntryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateGridAreaHandlerTests.cs
Due: businesslogic, infrastructure

removed an extra {HttpGet] attribute on controller
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaController.cs
Due: infrastructure

Updated validation for gridarea name change
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateGridAreaCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateGridAreaCommandRuleSetTests.cs
Due: businesslogic

Updated validation for gridarea name change (#246)
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateGridAreaCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateGridAreaCommandRuleSetTests.cs
Due: businesslogic

feat: added user display name to gridAreaAuditLogEntries
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GridAreaAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserDisplayName.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUserDisplayNameProvider.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/UserDisplayNameProvider.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
Due: businesslogic, infrastructure

fix
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaAuditLogEntriesHandler.cs
Due: businesslogic

feat: added user display name to gridAreaAuditLogEntries (#247)
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GridAreaAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserDisplayName.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUserDisplayNameProvider.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/UserDisplayNameProvider.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
Due: businesslogic, infrastructure

feat: Make protobuf pulic.
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

Remove word 'protobuf'.
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
Due: none

feat: removed actor status 'Deleted' + fixed wrong entityType for some actor domain events
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202209141500 Migrate deleted actors to inactive.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202209151530 Fix entity type for actor domain events.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Actor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorStatus.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorStatusTransitioner.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/ActorTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorStatusMarketRolesRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ExternalActorIdConfigurationServiceTests.cs
Due: businesslogic, infrastructure

fixed tests and added migrations to all env
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202209141500 Migrate deleted actors to inactive.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202209151530 Fix entity type for actor domain events.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202209141500 Migrate deleted actors to inactive.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202209151530 Fix entity type for actor domain events.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202209141500 Migrate deleted actors to inactive.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202209151530 Fix entity type for actor domain events.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202209141500 Migrate deleted actors to inactive.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202209151530 Fix entity type for actor domain events.sql
  source/Energinet.DataHub.MarketParticipant.Tests/Model/ActorTests.cs
Due: infrastructure

removed ActorStatus.Deleted from Client and Integration.Model packages
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ActorStatus.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorStatus.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

poc: Use connector API for token augment.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/JwtController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

Add Jwt auth back.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

added ActorUpdatedIntegrationEvent to migrate deleted actors sql script
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202209141500 Migrate deleted actors to inactive.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202209141500 Migrate deleted actors to inactive.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202209141500 Migrate deleted actors to inactive.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202209141500 Migrate deleted actors to inactive.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202209141500 Migrate deleted actors to inactive.sql
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorStatus.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: infrastructure

fixed release notes for mp.Integration
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
Due: none

fixed summary comments for Actor
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Actor.cs
Due: businesslogic

delete deleted actors in DB
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202209141500 Migrate deleted actors to inactive.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202209191415 Delete deleted actors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202209141500 Migrate deleted actors to inactive.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202209191415 Delete deleted actors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202209141500 Migrate deleted actors to inactive.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202209191415 Delete deleted actors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202209141500 Migrate deleted actors to inactive.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202209191415 Delete deleted actors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202209141500 Migrate deleted actors to inactive.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202209191415 Delete deleted actors.sql
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorStatus.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: infrastructure

deleted actors script change
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202209191415 Delete deleted actors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202209191415 Delete deleted actors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202209191415 Delete deleted actors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202209191415 Delete deleted actors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202209191415 Delete deleted actors.sql
Due: infrastructure

Add authorization to organizations.
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: businesslogic, infrastructure

feat: removed actor status 'Deleted' + fixed wrong entityType for some actor domain events (#249)
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202209151530 Fix entity type for actor domain events.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202209191415 Delete deleted actors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202209151530 Fix entity type for actor domain events.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202209191415 Delete deleted actors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202209151530 Fix entity type for actor domain events.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202209191415 Delete deleted actors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202209151530 Fix entity type for actor domain events.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202209191415 Delete deleted actors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202209151530 Fix entity type for actor domain events.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202209191415 Delete deleted actors.sql
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ActorStatus.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Actor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorStatus.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorStatusTransitioner.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorStatus.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Model/ActorTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorStatusMarketRolesRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ExternalActorIdConfigurationServiceTests.cs
Due: businesslogic, infrastructure

added exception handling
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/ValidationExceptionHandler.cs
Due: none

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
