Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

Updated permissions to Eics (#440)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202302141300 Add More Permission To Eic.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202302141300 Add More Permission To Eic.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202302141300 Add More Permission To Eic.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202302141300 Add More Permission To Eic.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202302141300 Add More Permission To Eic.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202302141300 Add More Permission To Eic.sql
Due: infrastructure

Send new user invite email (#432)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/SendUserInviteEmailCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Email/SendUserInviteEmailHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/InviteUserHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IEmailSender.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/SendGridEmailSender.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/SendUserInviteEmailCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202302021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202302021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202302021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202302021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202302021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202302021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EmailEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EmailEventType.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IEmailEventRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Email/EmailSenderRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/EmailEventTimerTrigger.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Startup.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/local.settings.sample.json
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/EmailEventEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/EmailEventEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/EmailEventRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/Organization/EmailEventIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationIntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/EmailEventRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/StartupBaseTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/SendUserInviteEmailHandlerTests.cs
Due: businesslogic, infrastructure

Updated UserRoleWithPermissionsDto with details
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UserRoleWithPermissionsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleWithPermissionsDto.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleIntegrationTests.cs
  wordlist.txt
Due: businesslogic

Update package version
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

feat: random password generator
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/CharacterSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IPasswordChecker.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IPasswordGenerator.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/PasswordChecker.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/PasswordGenerator.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/PasswordCheckerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/PasswordGeneratorTests.cs
Due: businesslogic, infrastructure

clean up
  source/Energinet.DataHub.MarketParticipant.Tests/Services/PasswordGeneratorTests.cs
Due: none

Renamed SelectablePermission to PermissionDetails
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetPermissionDetailsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetPermissionDetailsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/PermissionDetailsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UserRoleWithPermissionsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetPermissionDetailsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetPermissionDetailsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/PermissionDetailsDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleWithPermissionsDto.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetPermissionDetailsHandlerTests.cs
Due: businesslogic, infrastructure

Updated Wordlist for spellcheck
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  wordlist.txt
Due: none

Added missing word to spellcheck
  wordlist.txt
Due: none

Updated UserRoleWithPermissionsDto with Permission details (#441)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetPermissionDetailsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetPermissionDetailsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/PermissionDetailsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UserRoleWithPermissionsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetPermissionDetailsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetPermissionDetailsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/PermissionDetailsDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleWithPermissionsDto.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetPermissionDetailsHandlerTests.cs
  wordlist.txt
Due: businesslogic, infrastructure

UTs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/PasswordChecker.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/PasswordCheckerTests.cs
Due: businesslogic

clean up
  source/Energinet.DataHub.MarketParticipant.Domain/Services/PasswordChecker.cs
Due: businesslogic

Add integration tests for InviteUserHandler.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/InviteUserHandler.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/InvitationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/GraphServiceClientFixture.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/InviteUserHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/MockedBusinessRegisterIdentifier.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/MockedDomain.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/InviteUserHandlerTests.cs
Due: businesslogic, infrastructure

clean up
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUserPasswordGenerator.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/PasswordChecker.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserPasswordGenerator.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/PasswordCheckerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserPasswordGeneratorTests.cs
Due: businesslogic, infrastructure

fixed some warnings
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/Organization/EmailEventIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/EmailEventRepositoryTests.cs
Due: none

fixed test name
  source/Energinet.DataHub.MarketParticipant.Tests/Services/PasswordCheckerTests.cs
Due: none

more test
  source/Energinet.DataHub.MarketParticipant.Tests/Services/PasswordGeneratorTests.cs
Due: none

adding validation er service for user email against organization domain
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/InviteUserHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IOrganizationDomainValidationService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/OrganizationDomainValidationService.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
Due: businesslogic

Fixed test
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserPasswordGeneratorTests.cs
Due: none

feat: random password generator (#442)
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/CharacterSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IPasswordChecker.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IPasswordGenerator.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUserPasswordGenerator.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/PasswordChecker.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/PasswordGenerator.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserPasswordGenerator.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/Organization/EmailEventIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/EmailEventRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/PasswordCheckerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/PasswordGeneratorTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserPasswordGeneratorTests.cs
Due: businesslogic, infrastructure

adding unit test for OrganizationDomainValidationService
  source/Energinet.DataHub.MarketParticipant.Application/Services/OrganizationDomainValidationService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationDomainValidationServiceTests.cs
Due: businesslogic

changed email compare
  source/Energinet.DataHub.MarketParticipant.Application/Services/OrganizationDomainValidationService.cs
Due: businesslogic

Organization domain validation on user invites (#444)
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/InviteUserHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IOrganizationDomainValidationService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/OrganizationDomainValidationService.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationDomainValidationServiceTests.cs
Due: businesslogic

adding bcc for send grid emails
  source/Energinet.DataHub.MarketParticipant.Application/Services/SendGridEmailSender.cs
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Email/EmailSenderRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/local.settings.sample.json
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationIntegrationTestHost.cs
Due: businesslogic, infrastructure

adding bcc for send grid emails (#445)
  source/Energinet.DataHub.MarketParticipant.Application/Services/SendGridEmailSender.cs
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Email/EmailSenderRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/local.settings.sample.json
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationIntegrationTestHost.cs
Due: businesslogic, infrastructure

Remove unused code.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectory/ActiveDirectoryServiceTests.cs
Due: none

Fixed 1 test.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetAvailableUserRolesForActorIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleIntegrationTests.cs
Due: businesslogic

Test UT
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleIntegrationTests.cs
Due: none

More testing.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/MockedDomain.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleIntegrationTests.cs
Due: none

More debugging.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleIntegrationTests.cs
Due: none

Cleanup fixture + fix failing tests.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/IntegrationsPermissionTestsFixtureConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/MarketParticipantPermissionDatabaseFixture.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleAssignmentsIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationIntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionValidityTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetPermissionDetailsHandlerTests.cs
Due: none

Added more tests.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/InviteUserHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EmailEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserIdentity.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/EmailEventRepository.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/UserIdentityTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserInvitationServiceTests.cs
Due: businesslogic, infrastructure

Refac after merge.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/InviteUserHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IOrganizationDomainValidationService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationDomainValidationService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/TestPreparationEntities.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/InviteUserHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationDomainValidationServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserInvitationServiceTests.cs
Due: businesslogic

Added integration tests for UserIdentityRepository.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/GraphServiceClientFixture.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetAvailableUserRolesForActorIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/InviteUserHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserIdentityRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/UserIdentityAuthenticationServiceTests.cs
Due: infrastructure

Fix mocked domain.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/TestPreparationEntities.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/InviteUserHandlerIntegrationTests.cs
Due: none

Add integration tests for InviteUserHandler. (#443)
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/InviteUserHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EmailEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserIdentity.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IOrganizationDomainValidationService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationDomainValidationService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/InvitationController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/EmailEventRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/GraphServiceClientFixture.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetAvailableUserRolesForActorIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/InviteUserHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserIdentityRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/UserIdentityAuthenticationServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/MockedBusinessRegisterIdentifier.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/MockedDomain.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/InviteUserHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/UserIdentityTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationDomainValidationServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserInvitationServiceTests.cs
Due: businesslogic, infrastructure

Add validation of market role for permissions.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Query/UserQueryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Query/UserQueryRepositoryTests.cs
Due: infrastructure

Update tests.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenPartsControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Query/UserQueryRepositoryTests.cs
Due: none

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
