Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

updated actor status
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorStatusChangedEventDispatcher.cs
Due: infrastructure

added contracts and dispatcher abstractions
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorCreatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/AddMeteringPointTypeIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IActorCreatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IGridAreaAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IGridAreaRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IMarketRoleAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IMarketRoleRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IMeteringPointTypeAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IMeteringPointTypeRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/MeteringPointTypeAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorContactEventData.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorCreatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ContactAddedToActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ContactRemovedFromActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/GridAreaAddedToActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/GridAreaRemovedFromActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/MarketRoleAddedToActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/MarketRoleRemovedFromActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/MeteringPointTypeAddedToActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/MeteringPointTypeRemovedFromActorIntegrationEventContract.proto
Due: none

bom added utc
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorCreatedIntegrationEvent.cs
Due: none

updated models
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/GridAreaAddedToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/GridAreaRemovedFromActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/MarketRoleAddedToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/MarketRoleRemovedFromActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/MeteringPointTypeAddedToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/MeteringPointTypeRemovedFromIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IGridAreaAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IGridAreaRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IMarketRoleAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IMarketRoleRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IMeteringPointTypeAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IMeteringPointTypeRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/MeteringPointTypeAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/GridAreaAddedToActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/GridAreaRemovedFromActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Actor/MeteringPointTypeAddedToActorIntegrationEventParserTests.cs
Due: none

dto mp removed updated
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/MeteringPointTypeRemovedFromActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IMeteringPointTypeRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/MeteringPointTypeRemovedFromActorIntegrationEventParser.cs
Due: none

Updated parsers
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorCreatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/GridAreaAddedToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/GridAreaRemovedFromActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/MarketRoleAddedToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/MarketRoleRemovedFromActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ActorCreatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/GridAreaAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/GridAreaRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IGridAreaAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IGridAreaRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IMarketRoleAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IMarketRoleRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/MarketRoleAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/MarketRoleRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/GridAreaAddedToActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/GridAreaRemovedFromActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/MarketRoleAddedToActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/MarketRoleRemovedFromActorIntegrationEventContract.proto
Due: none

added tests, and shared parser update
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/SharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Actor/GridAreaAddedToActorIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Actor/GridAreaRemovedFromActorIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Actor/MeteringPointTypeRemovedFromActorIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
Due: none

Initial tests of dispatchers
  source/Energinet.DataHub.MarketParticipant.Application/Helpers/ChangesToActorHelper.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/GridAreaAddedToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/GridAreaRemovedFromActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/MarketRoleAddedToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/MarketRoleRemovedFromActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/MeteringPointTypeAddedToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/MeteringPointTypeRemovedFromActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaRemovedFromActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/MarketRoleAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/MarketRoleRemovedFromActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/MeteringPointTypeAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/MeteringPointTypeRemovedFromActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Helpers/ChangesToActorHelperTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/MeteringPointTypeAddedToActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorIntegrationEventsQueueServiceTests.cs
Due: businesslogic, infrastructure

More tests
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/MeteringPointTypeAddedToActorEventDispatcherTests.cs
Due: none

added tests for shared and markerole-added-remmoved. Refactor
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/SharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Actor/ActorStatusChangedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Actor/ActorUpdatedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Actor/MarketRoleAddedToActorIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Actor/MarketRoleRemovedFromActorIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/GridArea/GridAreaCreatedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/GridArea/GridAreaNameChangedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/GridArea/GridAreaUpdatedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
Due: none

updated ActorCreatedIntegrationEvent with tests
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorCreatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ActorCreatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/SharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
Due: none

updated enum parsing and tests
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ActorCreatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ActorStatusChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/GridAreaAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/GridAreaRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/MarketRoleAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/MarketRoleRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/MeteringPointTypeAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/MeteringPointTypeRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Actor/ActorCreatedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Actor/ActorStatusChangedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Actor/MarketRoleAddedToActorIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Actor/MarketRoleRemovedFromActorIntegrationEventParserTests.cs
Due: none

ExternalId moved to new integration event
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorExternalIdChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ActorCreatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ActorExternalIdChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IActorExternalIdChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/SharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorExternalIdChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Actor/ActorCreatedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Actor/ActorExternalIdChangedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
Due: none

Add tests for dispatchers
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaRemovedFromActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/MarketRoleAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorStatusChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaAddedToActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaRemovedFromActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/MarketRoleAddedToActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/MarketRoleRemovedFromActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/MeteringPointTypeRemovedFromActorEventDispatcherTests.cs
Due: businesslogic, infrastructure

ExternalId test and parsing updated
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorExternalIdChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ActorExternalIdChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorExternalIdChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Actor/ActorExternalIdChangedIntegrationEventParserTests.cs
Due: none

ActorContact integration events Added
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorContact.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ContactAddedToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ContactCategory.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ContactRemovedFromActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ContactAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ContactRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IContactAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IContactRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/SharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorContactEventData.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ContactAddedToActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ContactRemovedFromActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Actor/ContactAddedToActorIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Actor/ContactRemovedFromActorIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
Due: none

Add contact to actor
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Helpers/ChangesToActorHelper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Helpers/IChangesToActorHelper.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/GridAreaAddedToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/GridAreaRemovedFromActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ContactAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Helpers/ChangesToActorHelperTests.cs
Due: businesslogic, infrastructure

feat: Add ADR-8 support to integration events.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/EventDispatcherBase.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaNameChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationAddressChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationCommentChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationIdentiferChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationNameChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/EventDispatcherBaseTests.cs
Due: infrastructure

Undo namespace indentation.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/EventDispatcherBase.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaNameChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationAddressChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationCommentChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationIdentiferChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationNameChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationUpdatedEventDispatcher.cs
Due: infrastructure

EventCreated fix. Tests refactor and contact dispatcher added with tests
  source/Energinet.DataHub.MarketParticipant.Application/Helpers/ChangesToActorHelper.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/ActorContactEventData.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/ContactAddedToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/ContactRemovedFromActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/GridAreaAddedToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ContactAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ContactRemovedFromActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaRemovedFromActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/MarketRoleAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/MarketRoleRemovedFromActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/MeteringPointTypeAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Helpers/ChangesToActorHelperTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ContactAddedToActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ContactRemovedFromActorEventDispatcherTests.cs
Due: businesslogic, infrastructure

Added missing UT.
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationBusinessRegisterIdentifierChangedEventDispatcherTests.cs
Due: none

Updated with externalId events and tests
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Helpers/ChangesToActorHelper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Helpers/IChangesToActorHelper.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/ActorExternalIdChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorExternalIdChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorExternalIdChangedEventDispatcherTests.cs
Due: businesslogic, infrastructure

updated ActorCreatedEventParser
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ActorCreatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Actor/ActorCreatedIntegrationEventParserTests.cs
Due: none

added ActorCreated event flow. added Contact Added/Removed for actor event flow.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/CreateActorContactHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/DeleteActorContactHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/ActorCreatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ContactAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ContactRemovedFromActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/DeleteActorContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorCreatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ContactAddedToActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ContactRemovedFromActorEventDispatcherTests.cs
Due: businesslogic, infrastructure

Main merge, and Dispatcher fixed to use base method.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorExternalIdChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorStatusChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ContactAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ContactRemovedFromActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaRemovedFromActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/MarketRoleAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/MarketRoleRemovedFromActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/MeteringPointTypeAddedToActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/MeteringPointTypeRemovedFromActorEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationBusinessRegisterIdentifierChangedEventDispatcherTests.cs
Due: infrastructure

Refactor for adding Organization Status. Script Added.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/ChangeOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/CreateOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/OrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateOrganizationCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202207250945 Add Status to Organization.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Organization.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/OrganizationStatus.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/OrganizationEntity.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/DeleteActorContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorContactsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationIntegrationEventsQueueServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UniqueGlobalLocationNumberRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateOrganizationCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateOrganizationCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Adding new OrganizationStatusChangedIntegrationEvent
  source/Energinet.DataHub.MarketParticipant.Application/Services/OrganizationIntegrationEventsHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/OrganizationStatusChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationIntegrationEventsQueueServiceTests.cs
Due: businesslogic

updated integration client with models and parsers
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/OrganizationStatus.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/OrganizationStatusChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/IOrganizationStatusChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationStatusChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/SharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationStatusChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Organization/OrganizationCreatedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Organization/OrganizationStatusChangedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
Due: businesslogic, infrastructure

added change scripts for all env
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202207250945 Add Status to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202207250945 Add Status to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202207250945 Add Status to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202207250945 Add Status to Organization.sql
Due: infrastructure

updated dispatcher and tests
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationStatusChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationStatusChangedEventDispatcherTests.cs
Due: businesslogic, infrastructure

updated client for organization status
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantOrganizationClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantOrganizationClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/CreateOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/OrganizationStatus.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

updated client
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/OrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

client version bump
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

updated client status type
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/OrganizationDto.cs
Due: none

tests updated
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

adding OrganizationStatusTransitioner for validation status changes
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Organization.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/OrganizationStatusTransitioner.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/OrganizationTests.cs
Due: businesslogic

param name change
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateOrganizationCommandRuleSetTests.cs
Due: none

updated package version after merge and references
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationStatusChangedEventDispatcherTests.cs
Due: infrastructure

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
