Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Application/
      - source/Energinet.DataHub.MarketParticipant.Domain/
      - source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Infrastructure/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/
      - source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

Started MeteringPoint association
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/ActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/ChangeActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/CreateActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/Rules/MeteringPointTypeValidationRule.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActorFactoryService.cs
Due: businesslogic

Add new actors to all environment
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202204211433 Add New actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202204211434 Add More New Actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202204211433 Add New actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202204211434 Add More New Actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202204211433 Add New actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202204211434 Add More New Actors to ActorInfo Table.sql
Due: infrastructure

Add new actors to all environment (#100)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202204211433 Add New actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202204211434 Add More New Actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202204211433 Add New actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202204211434 Add More New Actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202204211433 Add New actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202204211434 Add More New Actors to ActorInfo Table.sql
Due: infrastructure

adding a shared parser class.
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ISharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/SharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
Due: none

michaelmajgaard/fix_guid_returned_create_org
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
Due: infrastructure

michaelmajgaard/fix_guid_returned_create_org (#102)
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
Due: infrastructure

Updates to GRidArea
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202204221002 Create GridAreaLinkNew Table.sql
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/GridAreaLinkEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/GridAreaLinkEntity.cs
Due: infrastructure

adding base integration event changed parser visibility.
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/BaseIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/GridAreaUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/OrganizationUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridAreaUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/OrganizationUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/SharedIntegrationEventParser.cs
Due: none

Add configuration to tests
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdConfigurationRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2CRolesProvider.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2cServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/StartupBaseTests.cs
Due: businesslogic, infrastructure

Upgrade TargetFramework and AzureFunctionsVersion
  Directory.Build.props
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Energinet.DataHub.MarketParticipant.Domain.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Energinet.DataHub.MarketParticipant.Libraries.Tests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
  source/Energinet.DataHub.MarketParticipant.Utilities/Energinet.DataHub.MarketParticipant.Utilities.csproj
Due: businesslogic, infrastructure

Modify exception messages
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdConfigurationRegistration.cs
Due: businesslogic

Remove ProtoBuf output dir
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

Added section headers and moved CA rule to correct section
  .editorconfig
Due: none

Added IDE0079
  .editorconfig
Due: none

Change CA1848 to suggestion
  .editorconfig
Due: none

Change CA2254 to suggestion
  .editorconfig
Due: none

Suppress CA2007 in Tests.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/.editorconfig
  source/Energinet.DataHub.MarketParticipant.Tests/.editorconfig
Due: none

Suppress CA2007 for relevant operations in production code, and ensure IDE0079 is set as a warning.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/HealthCheck/ServiceBusQueueVerifier.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/HealthCheck/SqlDatabaseVerifier.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/DomainEventRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryService.cs
Due: businesslogic, infrastructure

Add Environment Variables
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/variables.tf
  source/Energinet.DataHub.MarketParticipant.Tests/Common/StartupBaseTests.cs
Due: none

Use .NET 6.0.201 in CI pipeline
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
Due: none

Bump libraries version number
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

Update TF to set/use .NET 6
  build/infrastructure/main/func-organization.tf
Due: none

Update TF to use/set .NET 6
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Test libraries as part of CI
  .github/workflows/ci.yml
Due: none

Updates and added services for GRidAreaLinks
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GridAreaLink.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IGridAreaLinkRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/GridAreaFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IGridAreaFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaLinkRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaRepository.cs
Due: businesslogic, infrastructure

Apply suggestions from code review
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/BaseIntegrationEvent.cs
Due: none

Added GridAreaLinkId To Model
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/GridAreaUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridAreaUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/GridAreaUpdatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/GridAreaUpdatedIntegrationEventParserTests.cs
Due: none

Updated Spellcheck wordlist.
  wordlist.txt
Due: none

Finished GridAreaLink events
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/GridAreaUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/GridAreaFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/GridAreaIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaLinkRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/GridAreaFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/GridAreaIntegrationEventsQueueServiceTests.cs
Due: businesslogic, infrastructure

Added GridAreaLinkId To Model (#104)
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/GridAreaUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridAreaUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/GridAreaUpdatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/GridAreaUpdatedIntegrationEventParserTests.cs
  wordlist.txt
Due: none

Modify test to assert for MarketParticipantException instead
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

test fix after merge
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
Due: none

adding a shared parser class. (#101)
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/BaseIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/GridAreaUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/OrganizationUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridAreaUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ISharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/OrganizationUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/SharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
Due: none

Started Implementing controller
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/CreateGridAreaCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/CreateGridAreaDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/CreateGridAreaResponse.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/GridAreaFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/GridAreaIntegrationEventsQueueServiceTests.cs
Due: businesslogic, infrastructure

Moved internal to subset of parser methods.
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridAreaUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/IActorUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/IGridAreaUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/IOrganizationUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/OrganizationUpdatedIntegrationEventParser.cs
Due: none

added global.json to market participant
  global.json
Due: none

added global.json to market participant (#106)
  global.json
Due: none

removed guard from .editorconfig
  .editorconfig
Due: none
