Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Application/
      - source/Energinet.DataHub.MarketParticipant.Domain/
      - source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Infrastructure/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/
      - source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

fixed UTs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

added MarketParticipantBadRequestException
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/MarketParticipantBadRequestException.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/ValidationExceptionHandler.cs
Due: none

Try with new package version.
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
Due: businesslogic, infrastructure

Unzip if zipped
  .github/actions/publish-release-contents/action.yml
Due: none

feat: specific Eic/Gln ActorNumber types
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/Rules/EnergyIdentificationCodeValidationRule.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/Rules/GlobalLocationNumberValidationRule.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorNumber.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EicActorNumber.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GlnActorNumber.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/MockedGln.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/DomainEventRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/MockedGln.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Helpers/ChangesToActorHelperTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorCreatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaCreatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationAddressChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationBusinessRegisterIdentifierChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationCreatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationNameChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/ActorTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/EicActorNumberTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/GlnActorNumberTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorIntegrationEventsQueueServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorStatusMarketRolesRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ExternalActorIdConfigurationServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OverlappingBusinessRolesRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UniqueGlobalLocationNumberRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UniqueMarketRoleGridAreaServiceTests.cs
Due: businesslogic, infrastructure

ActorCreatedIntegrationEvent
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/ActorCreatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/ActorNumberEventData.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/ActorUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/MockedGln.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/MockedGln.cs
Due: businesslogic

ActorNumberType in integration events
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorNumber.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorNumberType.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EicActorNumber.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GlnActorNumber.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorCreatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorNumber.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorNumberType.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ActorCreatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorNumber.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorUpdatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/MockedGln.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/MockedGln.cs
Due: businesslogic

proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ActorCreatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorCreatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorNumber.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorUpdatedIntegrationEventContract.proto
Due: none

Update package.
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
Due: businesslogic, infrastructure

ActorNumberTests
  source/Energinet.DataHub.MarketParticipant.Tests/Model/ActorNumberTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/EicActorNumberTests.cs
Due: none

UTs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/EicActorNumberTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/GlnActorNumberTests.cs
Due: none

Update package.
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: businesslogic, infrastructure

ActorNumberType proto enum
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorNumberType.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorUpdatedIntegrationEventContract.proto
Due: none

fixed build
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ActorCreatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorUpdatedIntegrationEventParser.cs
Due: none

feat: UnknownActorNumber
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UnknownActorNumber.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/ActorNumberTests.cs
Due: businesslogic

UnknownActorNumber internal ctor
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UnknownActorNumber.cs
Due: businesslogic

feat: UnknownActorNumber (#254)
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UnknownActorNumber.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/ActorNumberTests.cs
Due: businesslogic

fix: added wholesale MDR to old actor table
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202209291600 Insert Wholesale MDR in old actor table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202209291600 Insert Wholesale MDR in old actor table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202209291600 Insert Wholesale MDR in old actor table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202209291600 Insert Wholesale MDR in old actor table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202209291600 Insert Wholesale MDR in old actor table.sql
Due: infrastructure

removed sql scripts
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202209291600 Insert Wholesale MDR in old actor table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202209291600 Insert Wholesale MDR in old actor table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202209291600 Insert Wholesale MDR in old actor table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202209291600 Insert Wholesale MDR in old actor table.sql
Due: infrastructure

fix: added wholesale MDR to old actor table (#255)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202209291600 Insert Wholesale MDR in old actor table.sql
Due: infrastructure

feat: Use new integration event receiver.
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-organization.tf
Due: none

Move UserIdProvider registration to WebApi.
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: businesslogic, infrastructure

refac: Update protobuf documentation.
  README.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorContactEventData.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorCreatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorExternalIdChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorNameChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorStatusChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorUpdatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ContactAddedToActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ContactRemovedFromActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/GridAreaAddedToActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/GridAreaCreatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/GridAreaNameChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/GridAreaRemovedFromActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/GridAreaUpdatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/MarketRoleAddedToActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/MarketRoleRemovedFromActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/MeteringPointTypeAddedToActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/MeteringPointTypeRemovedFromActorIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationAddressChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationBusinessRegisterIdentifierChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationCommentChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationCreatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationNameChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationStatusChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationUpdatedIntegrationEventContract.proto
Due: none

Fix markdown errors.
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  wordlist.txt
Due: none

added create-latest-release to cd
  .github/workflows/cd.yml
Due: none

added create-latest-release to cd (#258)
  .github/workflows/cd.yml
Due: none

impl
  .github/workflows/ci.yml
Due: none

Added mimse, removed Mikkel
  .github/CODEOWNERS
Due: none

removed newline
  .github/CODEOWNERS
Due: none

merge workflows introduced in pr #258
  .github/workflows/cd.yml
Due: none

merge workflows introduced in pr #258 (#261)
  .github/workflows/cd.yml
Due: none

Use environment for OIDC login
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

azure AD auth notes
  docs/azure_ad_setup.md
Due: none

Update azure_ad_setup.md
  docs/azure_ad_setup.md
Due: none
