Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

More aligned code.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserController.cs
Due: infrastructure

feat: Add user audit log to BFF client API. (#363)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserAuditLogResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserAuditLogsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRolesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserAuditLogEntriesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserAuditLogsDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleAssignmentAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleAssignmentTypeAuditLog.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleAssignmentAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleAssignmentAuditLogController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleAssignmentAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRolesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRolesCommandHandlerTests.cs
Due: businesslogic, infrastructure

fix: Incorrect mapping of audit log.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/UserRoleAssignmentAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserAuditLogEntriesHandler.cs
Due: businesslogic

fix: Incorrect mapping of audit log. (#369)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/UserRoleAssignmentAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserAuditLogEntriesHandler.cs
Due: businesslogic

feat: Add API to get user.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleAssignmentAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserHandlerIntegrationTests.cs
Due: businesslogic, infrastructure

feat: Add API to get user. (#370)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleAssignmentAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserHandlerIntegrationTests.cs
Due: businesslogic, infrastructure

adding app registration for userroles ruleset
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
Due: businesslogic

adding handler and ruleset
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetAllUserRolesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetAllUserRolesCommandRuleSet.cs
Due: businesslogic

adding get all userroles command
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetAllUserRolesCommand.cs
Due: businesslogic

feat: Add API to get a single user role.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetUserRoleCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetUserRoleResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetAvailableUserRolesForActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetGridAreaAuditLogEntriesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetSelectionActorsQueryCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserRolesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleAssignmentController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRoleIntegrationTests.cs
Due: businesslogic, infrastructure

feat: Add API to get a single user role. (#371)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetUserRoleCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetUserRoleResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetAvailableUserRolesForActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetGridAreaAuditLogEntriesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetSelectionActorsQueryCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserRolesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleAssignmentController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRoleIntegrationTests.cs
Due: businesslogic, infrastructure

Started Create Role command and handler
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/CreateUserRoleCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/CreateUserRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/CreateUserRoleResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/CreateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleStatus.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleRepository.cs
Due: businesslogic

get all user roles with better dto
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetAllUserRolesResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UserRoleInfoDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetAllUserRolesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleInfo.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleAssignmentController .cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController .cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
Due: businesslogic, infrastructure

Removed health check
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Startup.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/WebApiIntegrationTestsBase.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationIntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
Due: businesslogic, infrastructure

Removed dispatchEvents trigger
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/DispatchEventsTimerTrigger.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Startup.cs
Due: infrastructure

merge changes
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleAssignmentController .cs
Due: infrastructure

Remove health check and Dispatch Trigger (#372)
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/DispatchEventsTimerTrigger.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Startup.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/WebApiIntegrationTestsBase.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationIntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
Due: businesslogic, infrastructure

updated client library with get all user roles
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleInfoDto.cs
Due: none

merge fixes
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController .cs
Due: infrastructure

removed UserRoleInfoDto
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetAllUserRolesResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UserRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UserRoleInfoDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAvailableUserRolesForActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetAllUserRolesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRolesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleInfo.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
Due: businesslogic, infrastructure

removed isFas check
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController .cs
Due: infrastructure

adding get all userroles (#373)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetAllUserRolesCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetAllUserRolesResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAvailableUserRolesForActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetAllUserRolesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRolesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetAllUserRolesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleInfoDto.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController .cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
Due: businesslogic, infrastructure

Implemented Create function for UserRole
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/CreateUserRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/CreateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202301031518 Add description and status to UserRole.sql
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleRepositoryTests.cs
Due: businesslogic, infrastructure

return type update
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
Due: none

feat: actor name in actor selection model + fixed some warnings
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/Actor/SelectionActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/GetSelectionActorsQueryHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/SelectionActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Query/SelectionActor.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/DummyAuthenticationExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Query/ActorQueryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRolesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: businesslogic, infrastructure

rerun ?
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
Due: none

what ever
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
Due: none

client userroles return type update (#374)
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
Due: none

bump
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

fix
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

fix: Change userid for audit logs + UTs.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRolesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAssignmentAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleAssignmentAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/FrontendUserHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserAuditLogEntriesHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRolesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleAssignmentAuditLogEntryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRolesCommandHandlerTests.cs
Due: businesslogic, infrastructure

Fix mock.
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRolesCommandHandlerTests.cs
Due: none

feat: actor name in actor selection model + fixed some warnings (#375)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/Actor/SelectionActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/GetSelectionActorsQueryHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/SelectionActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Query/SelectionActor.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/DummyAuthenticationExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Query/ActorQueryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRolesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: businesslogic, infrastructure

fix: Change userid for audit logs + UTs. (#376)
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRolesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAssignmentAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleAssignmentAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/FrontendUserHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserAuditLogEntriesHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRolesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleAssignmentAuditLogEntryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRolesCommandHandlerTests.cs
Due: businesslogic, infrastructure

Add More tests
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
Due: none

Update packages.
  Directory.Build.props
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Energinet.DataHub.MarketParticipant.Libraries.Tests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
Due: none

Added missing script files
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202301031518 Add description and status to UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202301031518 Add description and status to UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202301031518 Add description and status to UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202301031518 Add description and status to UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202301031518 Add description and status to UserRole.sql
Due: infrastructure

Fixes after codereview
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/CreateUserRoleResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/CreateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleStatus.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleEntity.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
Due: businesslogic, infrastructure

Update packages. (#377)
  Directory.Build.props
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Energinet.DataHub.MarketParticipant.Libraries.Tests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
Due: none

Updated UserRepository to take domain model instead of single params
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/CreateUserRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/CreateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
