Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

missing base call ActorUpdatedIntegrationEvent
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorUpdatedIntegrationEvent.cs
Due: none

file rename because of file name too long
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/IOrganizationIdentifierChangedEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationIdentifierChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Organization/OrganizationIdentifierChangedIntegrationEventParserTests.cs
Due: none

Fix deserializing actorupdatedintegrationevent (#192)
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorGridAreaEventData.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorMarketRoleEventData.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/DomainEventRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorUpdatedEventDispatcherTests.cs
Due: businesslogic, infrastructure

new package version
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

fixed shift in BusinessRoleCode enum
  source/Energinet.DataHub.MarketParticipant.Domain/Model/BusinessRoleCode.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/BusinessRoleCode.cs
Due: businesslogic

bump
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

suppress FlagsEnum warning for BusinessRoleCode
  source/Energinet.DataHub.MarketParticipant.Domain/Model/BusinessRoleCode.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/BusinessRoleCode.cs
Due: businesslogic

fixed shift in BusinessRoleCode enum (#194)
  source/Energinet.DataHub.MarketParticipant.Domain/Model/BusinessRoleCode.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/BusinessRoleCode.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: businesslogic

simplified test
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
Due: none

Fixed crash on actor added with existing GLN within organization (#189)
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Actor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/ActorEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/ActorEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/OrganizationRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
Due: businesslogic, infrastructure

dispatcher updated for organization
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationAddressChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationCommentChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationIdentiferChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationNameChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationAddressChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationCommentChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationCreatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationNameChangedEventDispatcherTests.cs
Due: businesslogic, infrastructure

gridarea dispatcher tests updated
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaCreatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaNameChangedEventDispatcherTests.cs
Due: none

add app insights
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

add app insights (#195)
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

fixed bug in UniqueActorMarketRoleGridAreaRepository
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UniqueActorMarketRoleGridAreaRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UniqueActorMarketRoleGridAreaRepositoryTests.cs
Due: infrastructure

updateded ActorStatusChangedIntegrationEvent
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorStatusChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/IActorStatusChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorStatusChangedIntegrationEventContract.proto
Due: none

fixed bug where market roles would not be saved
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/OrganizationRepository.cs
Due: infrastructure

refactor to use yield return. moved Type to base integration event.
  source/Energinet.DataHub.MarketParticipant.Application/Services/IOrganizationIntegrationEventsHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/OrganizationIntegrationEventsHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/GridAreaNameChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/OrganizationBusinessRegisterIdentifierChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/OrganizationCommentChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/OrganizationNameChangedIntegrationEvent.cs
Due: businesslogic

Adding base integration event with Type
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/BaseIntegrationEvent.cs
Due: none

updated event dispatchers with base class and metadata method
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/BaseEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaNameChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationAddressChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationCommentChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationIdentiferChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationNameChangedEventDispatcher.cs
Due: infrastructure

updated library and parsers, tests
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/GridAreaUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/OrganizationUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridArea/GridAreaUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridArea/IGridAreaUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/IOrganizationUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationAddressChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/SharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/GridAreaUpdatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationAddressChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationCreatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationUpdatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/GridAreaCreatedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Organization/OrganizationAddressChangedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Organization/OrganizationUpdatedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
Due: none

Readded Organization and gridarea update flow.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/GridAreaUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/OrganizationUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/GridAreaFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/GridAreaIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IGridAreaIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IOrganizationIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/BaseEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationUpdatedEventDispatcherTests.cs
Due: businesslogic, infrastructure

Temporarily disabled integration tests
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Temporarily disabled integration tests (#197)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fixed bug in UniqueActorMarketRoleGridAreaRepository (#196)
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/OrganizationRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UniqueActorMarketRoleGridAreaRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UniqueActorMarketRoleGridAreaRepositoryTests.cs
Due: infrastructure

dispatcher base rename
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/EventDispatcherBase.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaNameChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationAddressChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationCommentChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationIdentiferChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationNameChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaCreatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaNameChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationAddressChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationCommentChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationCreatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationNameChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationUpdatedEventDispatcherTests.cs
Due: businesslogic, infrastructure

updated protobuff with new OrganizationAddress shared message type.
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationAddressChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationCreatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganisationAddressEventData.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationAddressChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationCreatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Organization/OrganizationAddressChangedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Organization/OrganizationCreatedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Organization/OrganizationUpdatedIntegrationEventParserTests.cs
Due: none

adding Legacy event to force update
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/ForceSendIntegrationEventsHandler.cs
Due: businesslogic

Unique CVR for Organization
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUniqueOrganizationBusinessRegisterIdentifierService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UniqueOrganizationBusinessRegisterIdentifierService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UniqueOrganizationBusinessRegisterIdentifierServiceTests.cs
Due: businesslogic

wrong event type for org identifier
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationIdentifierChangedIntegrationEventParser.cs
Due: none

integration model package upgrade to 2.3.0
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
Due: infrastructure

integration model package upgrade to 2.3.0 (#199)
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
Due: infrastructure

BusinessRegisterIdentifier unique constraint + fixed UTs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202207151250 OrganizationInfo BusinessRegisterIdetifier unique.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202207151250 OrganizationInfo BusinessRegisterIdetifier unique.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202207151250 OrganizationInfo BusinessRegisterIdetifier unique.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202207151250 OrganizationInfo BusinessRegisterIdetifier unique.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202207151250 OrganizationInfo BusinessRegisterIdetifier unique.sql
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/MockedBusinessRegisterIdentifier.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ActorContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UniqueActorMarketRoleGridAreaRepositoryTests.cs
Due: infrastructure

fixed warnings
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/MockedBusinessRegisterIdentifier.cs
Due: none

Unique CVR for Organization (#198)
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202207151250 OrganizationInfo BusinessRegisterIdetifier unique.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202207151250 OrganizationInfo BusinessRegisterIdetifier unique.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202207151250 OrganizationInfo BusinessRegisterIdetifier unique.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202207151250 OrganizationInfo BusinessRegisterIdetifier unique.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202207151250 OrganizationInfo BusinessRegisterIdetifier unique.sql
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUniqueOrganizationBusinessRegisterIdentifierService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UniqueOrganizationBusinessRegisterIdentifierService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/MockedBusinessRegisterIdentifier.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ActorContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UniqueActorMarketRoleGridAreaRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UniqueOrganizationBusinessRegisterIdentifierServiceTests.cs
Due: businesslogic, infrastructure

fixed UnitOfWorkTests
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/UnitOfWorkTests.cs
Due: none

fixed UnitOfWorkTests (#200)
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/UnitOfWorkTests.cs
Due: none

added ActorStatusChanged parser and tests for integration model
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorStatusChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorStatusChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/SharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/ActorStatusChangedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
Due: none

updated structure for actor integration model
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ActorStatusChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/IActorStatusChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/SharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/ActorStatusChangedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
Due: none

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
