Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

Update name on test actor
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202205180816 AddChangeBatmanAndVoltActorsWithIds.sql
Due: infrastructure

Start of validation - has to be moved to Domain layer
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/EicFunctionGroups/DdkDdqMdr.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/EicFunctionGroups/DdmMdr.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/EicFunctionGroups/Ddx.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/EicFunctionGroups/Ddz.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/EicFunctionGroups/Dgl.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/EicFunctionGroups/Ez.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/Rules/RolesValidationRule.cs
Due: businesslogic

Update Actors and Create Actors on B-001 (#132)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202205180816 AddChangeBatmanAndVoltActorsWithIds.sql
Due: infrastructure

Fix GLN on Actors also on T001
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205180839 FixGLNOnActors.sql
Due: infrastructure

Fix GLN on Actors also on T001 (#133)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205180839 FixGLNOnActors.sql
Due: infrastructure

WIP
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/BusinessRoleCode.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/CombinationOfBusinessRolesRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/ICombinationOfBusinessRolesRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/CombinationOfBusinessRolesRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OverlappingContactCategoriesRuleServiceTests.cs
Due: businesslogic

Link multiple gridareas to actor.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/ActorDto.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202205180900 Create GridAreaActorInfoLink Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202205180900 Create GridAreaActorInfoLink Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202205180900 Create GridAreaActorInfoLink Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202205180900 Create GridAreaActorInfoLink Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202205180900 Create GridAreaActorInfoLink Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205171500 Migrate Old GridArea.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205181200 Migrate GridArea to Actor.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Actor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/ActorEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/GridAreaActorInfoLinkEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/ActorEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/GridAreaActorInfoLinkEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/OrganizationEntity.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/ActorTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorIntegrationEventsQueueServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UniqueGlobalLocationNumberRuleServiceTests.cs
Due: businesslogic, infrastructure

Added configuration to DbContext.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
Due: infrastructure

Updated UT to respect FKey.
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205181200 Migrate GridArea to Actor.sql
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
Due: infrastructure

Rename to GridAreas.
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Actor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorIntegrationEventsQueueServiceTests.cs
Due: businesslogic, infrastructure

Add new grid areas for B-001 test
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202205181300 Add New GridAreas for Test.sql
Due: infrastructure

Update migration to rerun.
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205181100 Migrate Old GridArea.sql
Due: infrastructure

Add new grid areas for B-001 test (#135)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202205181300 Add New GridAreas for Test.sql
Due: infrastructure

More WIP
  source/Energinet.DataHub.MarketParticipant.Domain/Energinet.DataHub.MarketParticipant.Domain.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/CombinationOfBusinessRolesRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/ICombinationOfBusinessRolesRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/CombinationOfBusinessRolesRuleServiceTests.cs
Due: businesslogic

Ready for PR
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/CombinationOfBusinessRolesRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/CombinationOfBusinessRolesRuleServiceTests.cs
Due: businesslogic

Remove unnecessary files
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/EicFunctionGroups/DdkDdqMdr.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/EicFunctionGroups/DdmMdr.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/EicFunctionGroups/Ddx.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/EicFunctionGroups/Ddz.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/EicFunctionGroups/Dgl.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/EicFunctionGroups/Ez.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/Rules/RolesValidationRule.cs
Due: businesslogic

Add field
  .github/workflows/cd.yml
Due: none

Add endpoint to force migration.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/ForceSendIntegrationEventsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/ForceSendIntegrationEventsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/ForceSendIntegrationEventsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IGridAreaLinkRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ForceSendIntegrationEventsController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/GridAreaLinkEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/GridAreaLinkMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaLinkRepository.cs
Due: businesslogic, infrastructure

Add new test actors to T and U env
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205181259 AddChangeBatmanAndVoltActorsWithIds.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205181300 Add New GridAreas for Test.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205181259 AddChangeBatmanAndVoltActorsWithIds.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205181300 Add New GridAreas for Test.sql
Due: infrastructure

Fix column name
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205181200 Migrate GridArea to Actor.sql
Due: infrastructure

Add new test actors to T and U env (#139)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205181259 AddChangeBatmanAndVoltActorsWithIds.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205181300 Add New GridAreas for Test.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205181200 Migrate GridArea to Actor.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205181259 AddChangeBatmanAndVoltActorsWithIds.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205181300 Add New GridAreas for Test.sql
Due: infrastructure

Fix problem with test actors on U and T env.
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205181259 AddChangeBatmanAndVoltActorsWithIds.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205181259 AddChangeBatmanAndVoltActorsWithIds.sql
Due: infrastructure

Fix problem with test actors on U and T env. (#140)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205181259 AddChangeBatmanAndVoltActorsWithIds.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205181259 AddChangeBatmanAndVoltActorsWithIds.sql
Due: infrastructure

Converted AreaCode an enum.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/CreateGridAreaHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreasHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateGridAreaCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/GridAreaUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/PriceAreaCode.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/GridAreaEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/GridAreaEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/OrganizationRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaLinkRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateGridAreaHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreasHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/GridAreaFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/GridAreaIntegrationEventsQueueServiceTests.cs
Due: businesslogic, infrastructure

Fixed configuration.
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateGridAreaCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/GridAreaEntityConfiguration.cs
Due: businesslogic, infrastructure

Add GridArea to actor dtos.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/ActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/ChangeActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/CreateActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/Rules/MeteringPointTypeValidationRule.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/AllowedGridAreasRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/IAllowedGridAreasRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/AllowedGridAreasRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: businesslogic

Remove N/A UT
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: none

Removed done todos.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
Due: businesslogic

Update package with GridAreas in actor.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ChangeActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/CreateActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

test changed
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
Due: none

updated client version
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

Migrate grid areas in other envs.
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202205191000 Migrate Old GridArea.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202205191001 Migrate GridArea to Actor.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202205191000 Migrate Old GridArea.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202205191001 Migrate GridArea to Actor.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205191000 Migrate Old GridArea.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205191001 Migrate GridArea to Actor.sql
Due: infrastructure

MarketRole EicFunction rename in client (#129)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/MarketRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/MarketRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: businesslogic

Update package, optional external actor id.
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/BusinessRoleCode.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/SharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/ActorUpdatedIntegrationEventParserTests.cs
Due: none

Need a trailing newline, apparently...
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
Due: none

Resolve PR comments
  source/Energinet.DataHub.MarketParticipant.Domain/Energinet.DataHub.MarketParticipant.Domain.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/CombinationOfBusinessRolesRuleService.cs
Due: businesslogic

Remove redundant line of code
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/CombinationOfBusinessRolesRuleService.cs
Due: businesslogic

Remember to change type in test also
  source/Energinet.DataHub.MarketParticipant.Tests/Services/CombinationOfBusinessRolesRuleServiceTests.cs
Due: none

Create AD registration on status change.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/ActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202205201000 Optional ActorId.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202205201000 Optional ActorId.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202205201000 Optional ActorId.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202205201000 Optional ActorId.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202205201000 Optional ActorId.sql
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Actor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ExternalActorIdGenerationService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/GridAreaFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IExternalActorIdGenerationService.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/ActorEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2cServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/ActorTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorIntegrationEventsQueueServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OverlappingBusinessRolesRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UniqueGlobalLocationNumberRuleServiceTests.cs
Due: businesslogic, infrastructure

Remove unique constraint, as ActorId can have several nulls.
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202205201000 Optional ActorId.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202205201000 Optional ActorId.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202205201000 Optional ActorId.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202205201000 Optional ActorId.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202205201000 Optional ActorId.sql
Due: infrastructure

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
