Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

Update azure_ad_setup.md
  docs/azure_ad_setup.md
Due: none

Moved common validation into client
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateOrganizationCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Validation/AdressRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Validation/OrganizationRuleSet.cs
Due: businesslogic

Test Hosts support DB connection string. (#288)
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/UnitOfWork.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/MarketParticipantDatabaseFixture.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/MarketParticipantDatabaseManager.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/Organization/DispatchEventsIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/CreateOrganizationIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationIntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ActorContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/DomainEventRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaAuditLogEntryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaLinkRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UniqueActorMarketRoleGridAreaRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/UnitOfWorkTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
Due: infrastructure

feat: Update WebApp authorization.
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Security/FrontendUser.cs
  source/Energinet.DataHub.MarketParticipant.Common/Security/FrontendUserProvider.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
Due: businesslogic, infrastructure

Fix allow_merge
  .github/workflows/ci.yml
Due: none

Fix allow_merge (#290)
  .github/workflows/ci.yml
Due: none

Update package.
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: businesslogic, infrastructure

feat: Update WebApp authorization. (#289)
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Security/FrontendUser.cs
  source/Energinet.DataHub.MarketParticipant.Common/Security/FrontendUserProvider.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
Due: businesslogic, infrastructure

Added Comment to ActorMarketRole
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/ActorMarketRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorMarketRole.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/MarketRoleEntity.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Helpers/ChangesToActorHelperTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: businesslogic, infrastructure

bumped version2
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

feat: Support for ActorId in backend.
  source/Energinet.DataHub.MarketParticipant.Common/Security/FrontendUserProvider.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Slim/Actor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/Slim/IActorRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Slim/ActorRepository.cs
Due: businesslogic, infrastructure

Added comment to client dto also
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ActorMarketRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

Package_upgrade
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
Due: businesslogic, infrastructure

Moved_to_SimpleInjector_for_WebApi.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

check permissions in markpart controllers
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/GetOrganizationsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/GetOrganizationsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Security/FrontendUser.cs
  source/Energinet.DataHub.MarketParticipant.Common/Security/FrontendUserProvider.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Slim/Actor.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorUnsafeController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationUnsafeController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Slim/ActorRepository.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
Due: businesslogic, infrastructure

Updated package.
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorUnsafeController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
Due: businesslogic, infrastructure

Initial beginning implementation of new AD service
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActiveDirectory/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ExternalActorIdConfigurationService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActiveDirectoryB2CService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/ActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectory/ActiveDirectoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2cServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ExternalActorIdConfigurationServiceTests.cs
Due: businesslogic, infrastructure

Delete infrastructure
  build/infrastructure/env/t-001/mssqldb-registry_override.tf
  build/infrastructure/env/u-001/mssqldb-registry_override.tf
  build/infrastructure/env/u-002/locals_override.tf
  build/infrastructure/env/u-002/mssqldb-registry_override.tf
  build/infrastructure/main/.terraform-version
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/backend.tf
  build/infrastructure/main/func-organization.tf
  build/infrastructure/main/kv-shared-access-policy.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/locals.tf
  build/infrastructure/main/mssqldb-applicationaccess.tf
  build/infrastructure/main/mssqldb-registry.tf
  build/infrastructure/main/outputs.tf
  build/infrastructure/main/providers.tf
  build/infrastructure/main/resource-groups.tf
  build/infrastructure/main/subscr-main.tf
  build/infrastructure/main/variables.tf
Due: none

Comment
  .github/actions/dotnet-prepare-outputs/action.yml
  .github/actions/dotnet-tests-prepare-outputs/action.yml
Due: none

Detect-changes
  .github/workflows/detect-changes.yml
Due: none

CI
  .github/workflows/ci.yml
Due: none

CD
  .github/workflows/cd.yml
Due: none

Initial Service implementation
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/ActiveDirectoryService.cs
Due: infrastructure

Added missing update call to create function
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/ActiveDirectoryService.cs
Due: infrastructure

Update ci.yml
  .github/workflows/ci.yml
Due: none

feat: Create actor synchronization service.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/SynchronizeActorsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/SynchronizeActorsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/SynchronizeActorsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202211031500 Create ActorSynchronization Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202211031500 Create ActorSynchronization Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211031500 Create ActorSynchronization Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202211031500 Create ActorSynchronization Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202211031500 Create ActorSynchronization Table.sql
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IExternalActorSynchronizationService.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/SynchronizeActorsTimerTrigger.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/ActorSynchronizationEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/ActorSynchronizationEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ExternalActorSynchronizationService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
Due: businesslogic, infrastructure

Ignore libraries tests
  .github/workflows/detect-changes.yml
Due: none

Add more methods to AD Service
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/ActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/SignInAudience.cs
Due: infrastructure

Incorrect UT.
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
Due: none

Fix }
  .github/workflows/cd.yml
Due: none

removed seed data for u002
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202201311101 Seed ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202201311102 Seed GridAreaInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202201311103 Seed GridAreaLinkInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202201311104 RemoveAssignGridAreaToEnerginetActor.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202201311105 RemoveAssignedActorToGridArea.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202201311106 RemoveGridAreaWithNoActor.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202202081107 ChangeVoltActors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202202081140 AddBatmanActors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202202081157 AddBatmanGridAreas.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202202081213 AddBatmanGridAreaLinks.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202203031046 Add KMD to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202203031047 Add KMD to GridArea Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202203031048 Add KMD to GridAreaLink Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202203171403 FixBatmanActors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202203301520 Migrate old ActorInfo to new model.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202204061443 Add Missing GridAreas to GridAreaLink Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202204211433 Add New actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202204211434 Add More New Actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202205041047 AddDDQTOBatmanActors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202205061344 Add Test Actors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202205161332 FixGLNOnActors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202205181100 Migrate Old GridArea.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202205181200 Migrate GridArea to Actor.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202205181259 AddChangeBatmanAndVoltActorsWithIds.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202205181300 Add New GridAreas for Test.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202205311019 AddBatManDDQ.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202205311019 AddBatManDDQFromT.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202205311112 UpdateActorRoles.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202205311113 UpdateGLN.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202206071354 UpdateGLNForEg.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202206101300 Add Joules Actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202206201116 UpdateTitansActorRoles.sql
Due: infrastructure

fixed migrate naming convention
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Helpers/NamingConvention.cs
Due: infrastructure

Updated readme, with usefull info
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/README.md
Due: infrastructure

Added comment to MarketRole
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202211041100 Add Comment to MarketRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202211041100 Add Comment to MarketRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211041100 Add Comment to MarketRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202211041100 Add Comment to MarketRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202211041100 Add Comment to MarketRole.sql
Due: infrastructure

Added missing setter
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/MarketRoleEntity.cs
Due: infrastructure

Added missing mapping to comment
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/MarketRoleMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
Due: businesslogic, infrastructure

Added UTs.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/SynchronizeActorsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IExternalActorSynchronizationRepository.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202211031500 Create ActorSynchronization Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202211031500 Create ActorSynchronization Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211031500 Create ActorSynchronization Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202211031500 Create ActorSynchronization Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202211031500 Create ActorSynchronization Table.sql
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/ActiveDirectory/CreateAppRegistrationResponse.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/ExternalActorSynchronizationRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ExternalActorSynchronizationService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ExternalActorSynchronizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/SynchronizeActorsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
Due: businesslogic, infrastructure

Fixed spelling
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/README.md
Due: infrastructure

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
