Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Application/
      - source/Energinet.DataHub.MarketParticipant.Domain/
      - source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Infrastructure/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/
      - source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

Add validation of market role for permissions. (#447)
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Query/UserQueryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenPartsControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Query/UserQueryRepositoryTests.cs
Due: infrastructure

Add UTs to FrontendUserProvider.
  source/Energinet.DataHub.MarketParticipant.Tests/Model/ActorNumberTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Repositories/ActorContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Repositories/GridAreaRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Security/FrontendUserProviderTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Security/FrontendUserTests.cs
Due: none

Wrong rename.
  source/Energinet.DataHub.MarketParticipant.Tests/Model/ActorNumberTests.cs
Due: none

Add UTs to FrontendUserProvider. (#448)
  source/Energinet.DataHub.MarketParticipant.Tests/Repositories/ActorContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Repositories/GridAreaRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Security/FrontendUserProviderTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Security/FrontendUserTests.cs
Due: none

adding user invite db scripts, entity configuration, repository and repo-tests
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202302201100 Add UserInviteAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202302201100 Add UserInviteAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserInviteAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserInviteAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserInviteAuditLogEntryEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserInviteAuditLogEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserInviteAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserInviteAuditLogEntryRepositoryTests.cs
Due: businesslogic, infrastructure

adding audit log in user invite flow, updated tests
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/InviteUserCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/InviteUserHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/InviteUserCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/InvitationController.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/InviteUserHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/InviteUserHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserInvitationServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/InviteUserCommandRuleSetTests.cs
Due: businesslogic, infrastructure

updated inviteUserService test
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/InviteUserHandlerIntegrationTests.cs
Due: businesslogic

adding user invite logs to api response
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserInviteDetailsAuditLog.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserInviteAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserInviteAuditLogEntryRepository.cs
Due: businesslogic, infrastructure

test update
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserInviteAuditLogEntryRepositoryTests.cs
Due: none

adding unit test and some refactor
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRolesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAssignmentAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleAssignmentAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/InviteUserHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleAssignmentAuditLogEntryRepositoryTests.cs
Due: businesslogic, infrastructure

test changes
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/InviteUserHandlerIntegrationTests.cs
Due: none

updated user invite audit log return data refactor clients updated
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserAuditLogResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/UserInviteDetailsAuditLogDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserAuditLogsDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserInviteDetailsAuditLogDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleAssignmentAuditLogEntryDto.cs
Due: businesslogic

env scripts for db update
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202302201100 Add UserInviteAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202302201100 Add UserInviteAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202302201100 Add UserInviteAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202302201100 Add UserInviteAuditLog Table.sql
Due: infrastructure

dto and model rename
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserAuditLogResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/UserInviteDetailsAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserInviteDetailsAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserInviteAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserInviteAuditLogEntryRepository.cs
Due: businesslogic, infrastructure

client dto rename
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserAuditLogsDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserInviteDetailsAuditLogEntryDto.cs
Due: none

user invite dto rename
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserAuditLogResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/UserInviteAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserAuditLogsDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserInviteAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserController.cs
Due: businesslogic, infrastructure

user invite audit log (#449)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserAuditLogResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/InviteUserCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/UserInviteAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/InviteUserHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRolesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/InviteUserCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202302201100 Add UserInviteAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202302201100 Add UserInviteAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202302201100 Add UserInviteAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202302201100 Add UserInviteAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202302201100 Add UserInviteAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202302201100 Add UserInviteAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserAuditLogsDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserInviteAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleAssignmentAuditLogEntryDto.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserInviteAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserInviteDetailsAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAssignmentAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserInviteAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/InvitationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserInviteAuditLogEntryEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserInviteAuditLogEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserInviteAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/InviteUserHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserInviteAuditLogEntryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/InviteUserHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserInvitationServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/InviteUserCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Add new mapping function
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2CRolesProvider.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
Due: infrastructure

Fix name.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
Due: businesslogic

Started to remove Business roles
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/BusinessRoleCode.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/ActorUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/BusinessRoleCodeDomainService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IBusinessRoleCodeDomainService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/IOverlappingBusinessRolesRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/OverlappingEicFunctionsRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/ActiveDirectory/ActiveDirectoryB2CRoles.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2CRolesProvider.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorCreatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/BusinessRoleCode.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/MarketRoleAddedToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/MarketRoleRemovedFromActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/ActorCreatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/MarketRoleAddedToActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Actor/MarketRoleRemovedFromActorIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2cServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActiveDirectoryB2cServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OverlappingBusinessRolesRuleServiceTests.cs
Due: businesslogic, infrastructure

adding permission update flow, rep, handler, command, validation
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdatePermissionCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdatePermissionHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdatePermissionCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IPermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/PermissionController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/PermissionRepository.cs
Due: businesslogic, infrastructure

Get all permissions
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/GetPermissionsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/GetPersmissionsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/PermissionDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/GetPermissionsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetPermssionsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Extensions/ContainerExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantPermissions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantPermissionsClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/PermissionDto.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/PermissionController.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetPermissionsHandlerTest.cs
Due: businesslogic, infrastructure

Bumped version
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

Changed to use PermissionDetailsDto
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantPermissions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantPermissionsClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/PermissionDto.cs
Due: none

main merge
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/PermissionController.cs
Due: infrastructure

Update integration tests.
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/ActorUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/ActorSynchronizationEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/ActorRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/TestActorPreparationHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/MarketParticipantDatabaseManager.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/InviteUserHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ActorContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/DomainEventRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ExternalActorSynchronizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaLinkRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/MarketRoleAndGridAreaForActorReservationServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Query/ActorQueryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Query/UserQueryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserInviteAuditLogEntryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleAssignmentAuditLogEntryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectory/ActiveDirectoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaCreatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationAddressChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationBusinessRegisterIdentifierChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationCreatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationNameChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationUpdatedEventDispatcherTests.cs
Due: businesslogic, infrastructure

Bump package.
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

Update Client tests.
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

Remove tests now covered by .NET.
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaOverviewHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreasHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetPermissionDetailsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetPermissionsHandlerTest.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateGridAreaHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorExternalIdChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorNameChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorStatusChangedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ContactAddedToActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ContactRemovedFromActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaAddedToActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaRemovedFromActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/MarketRoleAddedToActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/MarketRoleRemovedFromActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/MeteringPointTypeAddedToActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/MeteringPointTypeRemovedFromActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActiveDirectoryB2cServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/BusinessRoleCodeDomainServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/CombinationOfBusinessRolesRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/GridAreaIntegrationEventsQueueServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserRoleAuditLogServiceTests.cs
Due: none

Return organization id from ActorDto.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/ActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/TestPreparationModels.cs
Due: businesslogic

Updated version number i release notes.
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
Due: none

Update tests.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/ActorRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/TestOrganizationPreparationHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ActorRepositoryTests.cs
Due: infrastructure

Changed permissions in audit to strings
  source/Energinet.DataHub.MarketParticipant.Application/Services/UserRoleAuditLogService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAuditLogSerialized.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserRoleAuditLogServiceTests.cs
Due: businesslogic

Changed permissions in audit to strings (#453)
  source/Energinet.DataHub.MarketParticipant.Application/Services/UserRoleAuditLogService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAuditLogSerialized.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserRoleAuditLogServiceTests.cs
Due: businesslogic

added unit test for Permission Update
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/UpdatePermissionHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdatePermissionCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdatePermissionHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionRepositoryTests.cs
Due: businesslogic

added UpdatePermissionDto
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/UpdatePermissionDto.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IPermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/PermissionController.cs
Due: businesslogic, infrastructure
