Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

Added new test for multiple orgs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

Removed unused usings
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetOrganizationsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/CreateActorFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/UpdateOrganizationFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Removed extra whitespace
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/UpdateActorFunction.cs
Due: infrastructure

Updated check for null actor
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetActorHandler.cs
Due: businesslogic

test cd
  .github/workflows/cd.yml
Due: none

test
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

.
  .github/workflows/ci.yml
Due: none

remove incorrect trigger in cd
  .github/workflows/cd.yml
Due: none

Added more endpoints to BFF client
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ChangeOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/CreateActorDto.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Exceptions/MarketParticipantException.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: infrastructure

fix trigger on cd flow
  .github/workflows/cd.yml
Due: none

Update ClientPackage with the last endpoints
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ChangeActorDto.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: infrastructure

Update package version
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantClient.cs
Due: none

Endpoints for the remaining actor methods. (#68)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/CreateActorCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/CreateActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetActorsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetActorsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetSingleActorResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetSingleOrganizationResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetActorsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetOrganizationsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetActorsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/CreateActorFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/UpdateActorFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/UpdateOrganizationFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Extensions/ControllerBaseExtensions.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Extensions/ExceptionExtensions.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Model/ErrorDescriptor.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Model/ErrorResponse.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Merge with main
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Extensions/ContainerExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClientFactory.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ChangeActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ChangeOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/CreateActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Results/ListAllOrganizationsResult.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Results/SingleOrganizationsResult.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Exceptions/MarketParticipantException.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: infrastructure

Updated injection method
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Extensions/ContainerExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
Due: none

Re-added baseurl
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Extensions/ContainerExtensions.cs
Due: none

Fixed linting and spell errors
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  wordlist.txt
Due: none

use .github workflow 6.0.0
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Add coverage report to release package and upload to CoveCov upon merge (#69)
  .github/actions/publish-release-contents/action.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Updates after codereview
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClientFactory.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Results/ListAllOrganizationsResult.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Results/SingleOrganizationsResult.cs
Due: none

Bump patch version for renamed file in model project.
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

Add missing method to interface
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantClient.cs
Due: none

Add web-api to terraform and deploy
  .github/actions/publish-release-contents/action.yml
  .github/workflows/ci.yml
  build/infrastructure/main/app-webapi.tf
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

Remove unsused config setting from tf file
  build/infrastructure/main/app-webapi.tf
Due: none

Fix Startup
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

Version bump for action
  .github/workflows/ci.yml
Due: none

Update BFF Client package (#70)
  .github/actions/publish-release-contents/action.yml
  .github/workflows/ci.yml
  build/infrastructure/main/app-webapi.tf
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Extensions/ContainerExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClientFactory.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ChangeActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ChangeOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/CreateActorDto.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Exceptions/MarketParticipantException.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
  wordlist.txt
Due: infrastructure

Change terraform appsetting value
  build/infrastructure/main/app-webapi.tf
Due: none

Change terraform appsetting value (#71)
  build/infrastructure/main/app-webapi.tf
Due: none

Remove unused Azure Functions
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/CreateActorFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/CreateOrganizationFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/GetOrganizationsFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/UpdateActorFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/UpdateOrganizationFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Startup.cs
Due: infrastructure

remove empty line
  .github/workflows/ci.yml
Due: none

Remove unused Azure Functions (#73)
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/CreateActorFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/CreateOrganizationFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/GetOrganizationsFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/UpdateActorFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/UpdateOrganizationFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Startup.cs
Due: infrastructure

do not add testreports to release package
  .github/workflows/cd.yml
Due: none

.
  .github/actions/publish-release-contents/action.yml
Due: none

.
  .github/workflows/cd.yml
Due: none

Fix missing config values
  build/infrastructure/main/app-webapi.tf
Due: none

Test with CodeCov (#72)
  .github/actions/publish-release-contents/action.yml
  .github/workflows/cd.yml
Due: none

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
