Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

refac: Change IoC registration in Client. (#340)
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Extensions/ContainerExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantClientFactory.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantActorClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantActorContactClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClientFactory.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantGridAreaClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantGridAreaOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantOrganizationClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleTemplateClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/TokenClient.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Common/MockedHttpMessageHandler.cs
Due: none

refactor dto
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoleTemplates/UpdateUserRoleAssignmentsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoleTemplates/UpdateUserRoleTemplatesCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleTemplatesIntegrationTests.cs
Due: businesslogic

updated user roles assignment endpoint
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleTemplateController.cs
Due: infrastructure

updated handler
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoleTemplates/UpdateUserRoleTemplatesCommandHandler.cs
Due: businesslogic

feat: user identity repository
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/UserOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserIdentity.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Extensions/EnumerableExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
Due: businesslogic, infrastructure

Added missing async to method names
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleTemplatesIntegrationTests.cs
Due: none

Added check for actor/Fas user
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleTemplateController.cs
Due: infrastructure

Updated route for controller action for update
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleTemplateController.cs
Due: infrastructure

updated user role mapper and updated rule set
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoleTemplates/UpdateUserRoleTemplatesCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateUserRoleAssignmentsCommandRuleSet.cs
Due: businesslogic

updated clean roles
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoleTemplates/UpdateUserRoleTemplatesCommandHandler.cs
Due: businesslogic

missing file
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
Due: infrastructure

file refactor
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleTemplateController.cs
Due: infrastructure

Client package updated with MarketParticipantUserRoleAssignmentClient
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Extensions/ContainerExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleAssignmentClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleAssignmentClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UpdateUserRoleAssignmentsDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleTemplateIdDto.cs
Due: none

Fixed UserOverviewRepositoryTests
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
Due: none

cleanup
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
Due: none

Overview of login authorization.
  docs/authorization.md
Due: none

Update authorization.md
  docs/authorization.md
Due: none

native chunk
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Extensions/EnumerableExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
Due: infrastructure

Spelling
  docs/authorization.md
  wordlist.txt
Due: none

Overview of login authorization. (#344)
  docs/authorization.md
  wordlist.txt
Due: none

fix
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/UserOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserIdentity.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserOverviewItem.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
Due: businesslogic, infrastructure

fixed version
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

fix
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
Due: infrastructure

feat: user identity repository (#343)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/UserOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserIdentity.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
Due: businesslogic, infrastructure

updated release notes for new package version
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

Added AssignRoleTemplateToUser function and controller (#342)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoleTemplates/UpdateUserRoleAssignmentsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoleTemplates/UpdateUserRoleAssignmentsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoleTemplates/GetUserRoleTemplatesCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoleTemplates/UpdateUserRoleTemplatesCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateUserRoleAssignmentsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Extensions/ContainerExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleAssignmentClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleAssignmentClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UpdateUserRoleAssignmentsDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleTemplateIdDto.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/User.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleTemplateController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleAssignmentEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Slim/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleTemplatesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Slim/UserRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
Due: businesslogic, infrastructure

Added an extra unit test
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleTemplatesIntegrationTests.cs
Due: none

Added an extra unit test (#345)
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleTemplatesIntegrationTests.cs
Due: none

Selection actor stack
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/GetSelectionActorsQueryCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/GetSelectionActorsQueryResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/SelectionActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/GetSelectionActorsQueryHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetSelectionActorsQueryCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Slim/SelectionActor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/Slim/IActorRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorQueryController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Slim/ActorRepository.cs
Due: businesslogic, infrastructure

Slim namespace to Query namespace
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/Actor/GetSelectionActorsQueryCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/Actor/GetSelectionActorsQueryResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/Actor/SelectionActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/User/GetUserOverviewCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/User/GetUserOverviewResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/User/UserOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/GetSelectionActorsQueryHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAssociatedUserActorsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAvailableUserRoleTemplatesForActorCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserPermissionsCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetSelectionActorsQueryCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserOverviewCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Security/FrontendUserProvider.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Query/Actor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Query/SelectionActor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/Query/IActorRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/Query/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorQueryController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Query/ActorRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Query/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Slim/UserRepositoryTests.cs
Due: businesslogic, infrastructure

added audit log for user roles assignments
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoleTemplates/UpdateUserRoleTemplatesCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202212131417 Add UserRoleAssignmentAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAssignmentAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAssignmentChangeAuditLog.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleAssignmentAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleAssignmentAuditLogEntryEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleAssignmentAuditLogEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleAssignmentAuditLogEntryRepository.cs
Due: businesslogic, infrastructure

rename and some cleanup
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/GetSelectionActorsQueryHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAssociatedUserActorsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAvailableUserRoleTemplatesForActorCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserPermissionsCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Security/FrontendUserProvider.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/Query/IActorQueryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/Query/IUserQueryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Query/ActorQueryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Query/UserQueryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ActorContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/DomainEventRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Query/ActorQueryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Query/UserQueryRepositoryTests.cs
Due: businesslogic, infrastructure

test
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Query/ActorQueryRepositoryTests.cs
Due: none

adding tests for user role assignment in handler and audit log calls
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRoleTemplatesCommandHandlerTests.cs
Due: none

GetSelectionActorsQueryHandlerIntegrationTests
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetSelectionActorsQueryHandlerIntegrationTests.cs
Due: none

tests
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetSelectionActorsQueryHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRoleTemplatesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleTemplatesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
Due: none

Added test for user roles assignment audit logs. Implementing Get for user roles assignment audit logs.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoleTemplates/GetUserRoleAssignmentAuditLogsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoleTemplates/GetUserRoleAssignmentsAuditLogResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoleTemplates/GetUserRoleAssignmentAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserRoleAssignmentAuditLogEntriesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleAssignmentAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleAssignmentAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleTemplatesIntegrationTests.cs
Due: businesslogic, infrastructure

GetSelectionActorsQueryHandlerIntegrationTests
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetSelectionActorsQueryHandlerIntegrationTests.cs
Due: none

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
