Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Application/
      - source/Energinet.DataHub.MarketParticipant.Domain/
      - source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Infrastructure/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/
      - source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

Start of GridAreaUpdatedIntegrationEvent
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/GridAreaUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/PriceAreaCode.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridAreaUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/IGridAreaUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/GridAreaUpdatedIntegrationEventContract.proto
Due: none

Add Organization integration event
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/Address.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/OrganizationUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridAreaUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/IOrganizationUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/OrganizationUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationUpdatedIntegrationEventContract.proto
Due: none

Added unit tests for parsers
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/ActorUpdatedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/GridAreaUpdatedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/OrganizationUpdatedIntegrationEventParserTests.cs
Due: none

Update Unit Tests to test for failures
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/AssemblyInfo.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridAreaUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/ActorUpdatedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/GridAreaUpdatedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/OrganizationUpdatedIntegrationEventParserTests.cs
Due: none

Add integration with B2C
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/AzureAdConfigurationRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/GraphServiceClientRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/StartupBase.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActiveDirectory/ActiveDirectoryAppInformation.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActiveDirectory/ActiveDirectoryRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActiveDirectory/ActiveDirectoryRoles.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActiveDirectory/AppRegistrationRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActiveDirectory/AppRegistrationSecret.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActiveDirectory/CreateAppRegistrationResponse.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/AzureAdConfig.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/ActiveDirectory/CreateAppRegistrationResponse.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/IntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2cServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/integrationtest.local.settings.sample.json
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActiveDirectoryB2cServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
Due: businesslogic, infrastructure

Add b2c settings to Terraform
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/variables.tf
Due: none

Add new actors (#84)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202204040929 Add New actors to ActorInfo Table.sql
Due: infrastructure

Add gridarea integration event
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/GridAreaUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/PriceAreaCode.cs
Due: businesslogic

Fix Spelling error
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202204040929 Add New actors to ActorInfo Table.sql
Due: infrastructure

Fix Spelling error (#85)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202204040929 Add New actors to ActorInfo Table.sql
Due: infrastructure

Fix another spelling error
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202204040929 Add New actors to ActorInfo Table.sql
Due: infrastructure

Revert "Fix another spelling error"
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202204040929 Add New actors to ActorInfo Table.sql
Due: infrastructure

Auto stash before revert of "Fix another spelling error"
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202204040929 Add New actors to ActorInfo Table.sql
Due: infrastructure

Another one (#86)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202204040929 Add New actors to ActorInfo Table.sql
Due: infrastructure

Fix identity insert problem
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202204040929 Add New actors to ActorInfo Table.sql
Due: infrastructure

Fix identity insert problem (#87)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202204040929 Add New actors to ActorInfo Table.sql
Due: infrastructure

Updated Classes
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/GridAreaUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/GridAreaMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/GridAreaEntity.cs
Due: businesslogic, infrastructure

Change default and not null for columns
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202204051318 Alter Address Columns for Organization.sql
Due: infrastructure

Added to missing environments
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202204051318 Alter Address Columns for Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202204051318 Alter Address Columns for Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202204051318 Alter Address Columns for Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202204051318 Alter Address Columns for Organization.sql
Due: infrastructure

Changed script
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202204051318 Alter Address Columns for Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202204051318 Alter Address Columns for Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202204051318 Alter Address Columns for Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202204051318 Alter Address Columns for Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202204051318 Alter Address Columns for Organization.sql
Due: infrastructure

Added contacts to client package.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantActorClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantContactClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantOrganizationClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ContactCategory.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ContactDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/CreateContactDto.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

Change default and not null for columns (#88)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202204051318 Alter Address Columns for Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202204051318 Alter Address Columns for Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202204051318 Alter Address Columns for Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202204051318 Alter Address Columns for Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202204051318 Alter Address Columns for Organization.sql
Due: infrastructure

Split up client.
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantActorClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantContactClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantOrganizationClient.cs
Due: none

Broken copyright.
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ContactCategory.cs
Due: none

Spelling
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantActorClient.cs
Due: none

Optional address fields.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/AddressDto.cs
Due: none

Updates to GridArea And Integration Events
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202204051445 Add PriceAreaCode to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202204051445 Add PriceAreaCode to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202204051445 Add PriceAreaCode to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202204051445 Add PriceAreaCode to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202204051445 Add PriceAreaCode to GridAreaNew.sql
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GridArea.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/PriceAreaCode.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/GridAreaIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IGridAreaIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/GridAreaEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/GridAreaMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/GridAreaEntity.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/GridAreaUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridAreaUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorUpdatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/GridAreaUpdatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/ActorUpdatedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/GridAreaUpdatedIntegrationEventParserTests.cs
Due: businesslogic, infrastructure

Bump Package Version
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

Get B2C roles, add tests, cleanup etc.
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdB2cRoles.cs
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdConfigurationRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/GraphServiceClientRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/StartupBase.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/ActiveDirectory/ActiveDirectoryB2CRoles.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2cServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
Due: businesslogic, infrastructure

Add backend object id
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/variables.tf
Due: none

Added event dispatcher for GridArea
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Model/PriceAreaCode.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaUpdatedEventDispatcherTests.cs
Due: businesslogic, infrastructure

Add areas to integration event
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
Due: businesslogic

Added QueueService test
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/OrganizationUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/GridAreaIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/GridAreaIntegrationEventsQueueServiceTests.cs
Due: businesslogic

Added new SQL script
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202204060911 Add More New Actors to ActorInfo Table.sql
Due: infrastructure

Update GridArea Intergration And Add Organization Integration Events
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/OrganizationUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IOrganizationIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationIntegrationEventsQueueServiceTests.cs
Due: businesslogic, infrastructure

Added gridAreas.
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202204060911 Add More New Actors to ActorInfo Table.sql
Due: infrastructure

Remove uneeded usings
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationUpdatedEventDispatcherTests.cs
Due: infrastructure

Update tests to also test roles and gridarea properties on actorevent
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorIntegrationEventsQueueServiceTests.cs
Due: none

Updated and added new tests
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationUpdatedEventDispatcherTests.cs
Due: none

Added organization factory service
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/CreateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IOrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationFactoryService.cs
Due: businesslogic
