Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Application/
      - source/Energinet.DataHub.MarketParticipant.Domain/
      - source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Infrastructure/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/
      - source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

OrganizationDomain model + tests
  source/Energinet.DataHub.MarketParticipant.Domain/Model/OrganizationDomain.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/OrganizationDomainTests.cs
Due: businesslogic

Bump package version.
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

Add client to registration.
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Extensions/ContainerExtensions.cs
Due: none

Split GetUserAsync out in new method.
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
Due: businesslogic

Use correct mapper.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
Due: infrastructure

OrganizationDomain model + validation
  source/Energinet.DataHub.MarketParticipant.Domain/Model/OrganizationDomain.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/OrganizationDomainTests.cs
Due: businesslogic

added OrganizationDomain test
  source/Energinet.DataHub.MarketParticipant.Tests/Model/OrganizationDomainTests.cs
Due: none

Move name validation to UserIdentity.
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserIdentity.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserInvitation.cs
Due: businesslogic

domain added to organization domain model
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Organization.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/OrganizationEntity.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ActorContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UniqueActorMarketRoleGridAreaRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/UnitOfWorkTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/DeleteActorContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorContactsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/SynchronizeActorsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/OrganizationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorStatusMarketRolesRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationExistsHelperServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationIntegrationEventsQueueServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UniqueGlobalLocationNumberRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UniqueOrganizationBusinessRegisterIdentifierServiceTests.cs
Due: businesslogic, infrastructure

fixed mapper
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
Due: infrastructure

Add regex for SMS number.
  source/Energinet.DataHub.MarketParticipant.Application/Validation/InviteUserCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/PhoneNumber.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/Authentication/SmsAuthenticationMethod.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/PhoneNumberTests.cs
Due: businesslogic

Update length of email.
  source/Energinet.DataHub.MarketParticipant.Application/Validation/InviteUserCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EmailAddress.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/EmailAddressTests.cs
Due: businesslogic

added domain to test entities creation
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
Due: none

fix test entities
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Query/UserQueryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
Due: none

Updated send email event flow
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Email/SendUserInviteEmailHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/SendGridEmailSender.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202302021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202302081038 Add UserInviteStatus to User.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202303021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EmailEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/User.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserInviteStatus.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IEmailEventRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/EmailEventEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/EmailEventRepository.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRolesCommandHandlerTests.cs
Due: businesslogic, infrastructure

Fixed wrong UT name.
  source/Energinet.DataHub.MarketParticipant.Tests/Model/PhoneNumberTests.cs
Due: none

create org api with domain
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/CreateOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/CreateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateOrganizationCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/CreateOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/OrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/OrganizationDomain.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IOrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/CreateOrganizationIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/OrganizationDomainTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateOrganizationCommandRuleSetTests.cs
Due: businesslogic

clean up
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ActorContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
Due: none

cleanup
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

cleanup
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/DeleteActorContactHandlerTests.cs
Due: none

clean up
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
Due: none

whitespace
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
Due: none

Renamed service
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/SelectablePermissionDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/CreateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IUserRoleHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/UserRoleHelperService.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202301311456 Add Permission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202301311456 Add Permission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202301311456 Add Permission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202301311456 Add Permission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202301311456 Add Permission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202301311456 Add Permission Table.sql
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/PermissionDetails.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
Due: businesslogic, infrastructure

Review comment.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/InviteUserHandler.cs
Due: businesslogic

Moved registrations and renamed service
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/CreateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IUserRoleHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/UserRoleHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
Due: businesslogic

Removed unused config
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
Due: infrastructure

Fix merge error.
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
Due: businesslogic

chore: Update packages..
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Energinet.DataHub.MarketParticipant.Domain.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
Due: businesslogic, infrastructure

chore: Update packages.. (#430)
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Energinet.DataHub.MarketParticipant.Domain.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
Due: businesslogic, infrastructure

EmailEventEntity update
  source/Energinet.DataHub.MarketParticipant.Application/Services/IEmailSender.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/SendGridEmailSender.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202302021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EmailEvent.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/EmailEventEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/EmailEventRepository.cs
Due: businesslogic, infrastructure

fix: Workaround for broken AD users.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
Due: infrastructure

fix: Workaround for broken AD users. (#431)
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
Due: infrastructure

rewrite flow to start with email lookup in azure
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Email/SendUserInviteEmailHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EmailEvent.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
Due: businesslogic, infrastructure

Domain on organization dto
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/OrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
Due: businesslogic

adding read og from email from settings review service registration.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Email/SendUserInviteEmailHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/SendGridEmailSender.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Email/EmailSenderRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Startup.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/local.settings.sample.json
Due: businesslogic, infrastructure

bump
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none
