Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Application/
      - source/Energinet.DataHub.MarketParticipant.Domain/
      - source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Infrastructure/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/
      - source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

added api for updating permission detail
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantPermissions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantPermissionsClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UpdatePermissionDto.cs
Due: none

updating permission repository pattern
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/UpdatePermissionHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdatePermissionCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/PermissionDetails.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IPermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/PermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionRepositoryTests.cs
Due: businesslogic, infrastructure

null check update
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/UpdatePermissionHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IPermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/PermissionRepository.cs
Due: businesslogic, infrastructure

permission description edit (#454)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/UpdatePermissionDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdatePermissionCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/UpdatePermissionHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdatePermissionCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantPermissions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantPermissionsClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UpdatePermissionDto.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IPermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/PermissionController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/PermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdatePermissionHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionRepositoryTests.cs
Due: businesslogic, infrastructure

Remove rule for interface docs.
  .editorconfig
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IDomainEventRepository.cs
  wordlist.txt
Due: businesslogic

Revert unexpected changes.
  .editorconfig
Due: none

Removed exception throw on unknown approle
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2CRolesProvider.cs
Due: infrastructure

unit test update
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionRepositoryTests.cs
Due: none

Changed permissiondetails name to claims name
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetPermissionDetailsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleHandler.cs
Due: businesslogic

Changed permissiondetails name to claims name (#461)
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetPermissionDetailsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleHandler.cs
Due: businesslogic

Adding permission created
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202303021132 Add Permission Created.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/PermissionDetails.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/PermissionEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/PermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UserRoleAuditLogIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionRepositoryTests.cs
Due: businesslogic, infrastructure

Remove rule for interface docs. (#455)
  .editorconfig
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IDomainEventRepository.cs
  wordlist.txt
Due: businesslogic

added permission audit log table with ef setup with repository and domain models
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202303030953 Add PermissionAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/PermissionAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/PermissionChangeType.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IPermissionAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/PermissionAuditLogEntryEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/PermissionAuditLogEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/PermissionAuditLogEntryRepository.cs
Due: businesslogic, infrastructure

added repository tests for permission audit logs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/PermissionAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/PermissionAuditLogEntryEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/PermissionAuditLogEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/PermissionAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UserRoleAuditLogIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionAuditLogEntryRepositoryTests.cs
Due: businesslogic, infrastructure

added permission audit log to UpdatePermissionHandler
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdatePermissionCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/UpdatePermissionHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdatePermissionCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/PermissionAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/PermissionController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/PermissionAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdatePermissionHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionAuditLogEntryRepositoryTests.cs
Due: businesslogic, infrastructure

missing repo registration
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
Due: businesslogic

permission audit log test added
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdatePermissionHandlerIntegrationTests.cs
Due: none

Added check to ensure all roles are mapped.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2CRolesProvider.cs
Due: infrastructure

added get permission audit log flow with models and handler
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/GetPermissionAuditLogsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/GetPersmissionAuditLogsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/PermissionAuditLogDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/GetPermissionAuditLogsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetPermissionAuditLogEntriesCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/PermissionController.cs
Due: businesslogic, infrastructure

get permission audit logs tests
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetPermissionAuditLogEntriesHandlerTests.cs
Due: none

scripts add
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202303021132 Add Permission Created.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202303030953 Add PermissionAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202303021132 Add Permission Created.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202303030953 Add PermissionAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202303021132 Add Permission Created.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202303030953 Add PermissionAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202303021132 Add Permission Created.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202303030953 Add PermissionAuditLog Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202303021132 Add Permission Created.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202303030953 Add PermissionAuditLog Table.sql
Due: infrastructure

Throw exception on missing auth header
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClientFactory.cs
Due: none

permission change type to dto
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/PermissionAuditLogDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/GetPermissionAuditLogsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetPermissionAuditLogEntriesHandlerTests.cs
Due: businesslogic

Bumped version
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

adding endpoint in client for permission audit logs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantPermissions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantPermissionsClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/PermissionAuditLogDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/PermissionChangeType.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/PermissionController.cs
Due: infrastructure

version bump
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

bug fix user invite role assignments
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserInvitationServiceTests.cs
Due: businesslogic

test updated to be more specific
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserInvitationServiceTests.cs
Due: none

bug fix user invite role assignments (#464)
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserInvitationServiceTests.cs
Due: businesslogic

Updated tests and removed wrong throw exception
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2cServiceTests.cs
Due: infrastructure

updating permission dto with Created date
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/PermissionDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/GetPermissionsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/PermissionDetailsDto.cs
Due: businesslogic

package version bump
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

removed app role default exception throw on unknown role
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2CRolesProvider.cs
Due: infrastructure

upgrade to v10 github
  .github/workflows/publish-marketparticipant-model.yml
Due: none

upgade package
  .github/workflows/publish-marketparticipant-client.yml
Due: none

version bump integration model
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

adding permission created to response (#465)
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/PermissionDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/GetPermissionsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/PermissionDetailsDto.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2CRolesProvider.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: businesslogic, infrastructure

adding created to permission details
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/PermissionDetailsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UserRoleWithPermissionsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetPermissionDetailsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleHandler.cs
Due: businesslogic

adding created to permission details (#466)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/PermissionDetailsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UserRoleWithPermissionsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetPermissionDetailsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleHandler.cs
Due: businesslogic
