Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Application/
      - source/Energinet.DataHub.MarketParticipant.Domain/
      - source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Infrastructure/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/
      - source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

fix lint
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
Due: none

make alternative change in the model package
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorContact.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/PriceAreaCode.cs
Due: none

undo changes made for testing purposes
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantGridAreaClient.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/PriceAreaCode.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

change wording and move ci-base to CI orchestrator
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-orchestrator.yml
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
Due: none

fix yml
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-orchestrator.yml
  .github/workflows/detect-changes.yml
Due: none

fix md lint
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
Due: none

bumb version of client package
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

Added new fixture for testing Permission Validity
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/IntegrationsPermissionTestsFixtureConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/MarketParticipantPermissionDatabaseFixture.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationIntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionValidityTests.cs
Due: none

user role audit log permission type change (#422)
  source/Energinet.DataHub.MarketParticipant.Application/Services/UserRoleAuditLogService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAuditLogSerialized.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserRoleAuditLogServiceTests.cs
Due: businesslogic

changes due to review comments
  .github/workflows/detect-changes.yml
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

Add ci-orchestrator.yml and update detect-changes (#423)
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-orchestrator.yml
  .github/workflows/detect-changes.yml
  .github/workflows/publish-marketparticipant-client.yml
  .github/workflows/publish-marketparticipant-model.yml
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

chore: removed unused market roles
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/EicFunction.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/BusinessRoles/BalanceResponsiblePartyRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/BusinessRoles/ElectricalSupplierRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/BusinessRoles/GridOperatorRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EicFunction.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/AllowedGridAreasRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UniqueMarketRoleGridAreaService.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/EicFunction.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetAvailableUserRolesForActorIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRolesAllIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UserRoleAuditLogIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Query/ActorQueryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Query/UserQueryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Helpers/ChangesToActorHelperTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorCreatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorIntegrationEventsQueueServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorStatusMarketRolesRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/AllowedGridAreasRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/BusinessRoleCodeDomainServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UniqueMarketRoleGridAreaServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserRoleAuditLogServiceTests.cs
Due: businesslogic

bump
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

fixed UTs
  source/Energinet.DataHub.MarketParticipant.Tests/Helpers/ChangesToActorHelperTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: none

fix tests
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetAvailableUserRolesForActorIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Query/UserQueryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleRepositoryTests.cs
Due: none

fix test
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetAvailableUserRolesForActorIntegrationTests.cs
Due: none

chore: removed unused market roles (#424)
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/EicFunction.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/BusinessRoles/BalanceResponsiblePartyRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/BusinessRoles/ElectricalSupplierRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/BusinessRoles/GridOperatorRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EicFunction.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/AllowedGridAreasRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UniqueMarketRoleGridAreaService.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/EicFunction.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetAvailableUserRolesForActorIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRolesAllIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UserRoleAuditLogIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Query/ActorQueryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Query/UserQueryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Helpers/ChangesToActorHelperTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorCreatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorIntegrationEventsQueueServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorStatusMarketRolesRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/AllowedGridAreasRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/BusinessRoleCodeDomainServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UniqueMarketRoleGridAreaServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UserRoleAuditLogServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: businesslogic

Added service to check for permission validity in handler
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/CreateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IUserRoleHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/UserRoleHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
Due: businesslogic

feat: Add invite user API.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/InviteUserCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/UserInvitationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserPermissionsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/InviteUserHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/InviteUserCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/InfrastructureRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/StartupBase.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/Authentication/AuthenticationMethod.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/Authentication/SmsAuthenticationMethod.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/User.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserIdentity.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserInvitation.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/InvitationController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/IUserIdentityAuthenticationService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityAuthenticationService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/WebApiIntegrationTestsBase.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRolesCommandHandlerTests.cs
Due: businesslogic, infrastructure

Added unit tests
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
Due: none

Updated handlers and scripts
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/GetSelectablePermissionsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/SeleactablePermissionDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetSelectablePermissionsHandler.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202302021926 Add Permission Details.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202302021926 Add Permission Details.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202302021926 Add Permission Details.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202302021926 Add Permission Details.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202302021926 Add Permission Details.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Seed/202302021926 Add Permission Details.sql
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSelectablePermissionsHandlerTests.cs
Due: businesslogic, infrastructure

Fix tests after merge
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSelectablePermissionsHandlerTests.cs
Due: none

Added missing DI registration
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
Due: businesslogic

Added missing DI registration for PermissionRepository
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
Due: businesslogic

Updated Client package
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
Due: none

Updated Spellcheck wordlist
  wordlist.txt
Due: none

Updated unit tests
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UserRoleAuditLogIntegrationTests.cs
Due: none

Removed redundant usings
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetSelectablePermissionsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IUserRoleHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Helpers/DefaultUpgrader.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Helpers/SqlAppAuthenticationProvider.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Helpers/UpgradeFactory.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IPermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Startup.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/IExternalTokenValidator.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/PermissionEicFunctionEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/PermissionEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/PermissionRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/ActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRoleIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UserRoleAuditLogIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/PermissionValidityTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectory/ActiveDirectoryServiceTests.cs
Due: businesslogic, infrastructure

init commit
  source/Energinet.DataHub.MarketParticipant.Application/Commands/SendUserInviteEmailCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Email/SendUserInviteEmailHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IEmailSender.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/SendGridEmailSender.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/SendUserInviteEmailCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202303021358 Create Email Event table.sql
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EmailEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EmailEventType.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IEmailEventRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/EmailEventTimerTrigger.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/EmailEventEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/EmailEventEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/EmailEventRepository.cs
Due: businesslogic, infrastructure

feat: organization domain - sql organization domain
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202302071515 OrganizationInfo Domain.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202302071515 OrganizationInfo Domain.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202302071515 OrganizationInfo Domain.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202302071515 OrganizationInfo Domain.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202302071515 OrganizationInfo Domain.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202302071515 OrganizationInfo Domain.sql
Due: infrastructure

Added working MFA.
  source/Energinet.DataHub.MarketParticipant.Common/InfrastructureRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EmailAddress.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/PhoneNumber.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/Authentication/AuthenticationMethod.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserIdentity.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Extensions/EnumerableExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/ActiveDirectory/ExternalSmsAuthenticationMethod.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/ActiveDirectory/IExternalAuthenticationMethod.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityAuthenticationService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/IUserIdentityAuthenticationService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectory/UserIdentityAuthenticationService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
Due: businesslogic, infrastructure

default value
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202302071515 OrganizationInfo Domain.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202302071515 OrganizationInfo Domain.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202302071515 OrganizationInfo Domain.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202302071515 OrganizationInfo Domain.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202302071515 OrganizationInfo Domain.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202302071515 OrganizationInfo Domain.sql
Due: infrastructure

feat: organization domain - sql organization domain (#426)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202302071515 OrganizationInfo Domain.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202302071515 OrganizationInfo Domain.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202302071515 OrganizationInfo Domain.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202302071515 OrganizationInfo Domain.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202302071515 OrganizationInfo Domain.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202302071515 OrganizationInfo Domain.sql
Due: infrastructure

More DDD validation.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/InviteUserHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserInvitation.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
Due: businesslogic

Get identity by sign-in mail.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UserInvitationService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
Due: businesslogic, infrastructure

Remove unused code.
  source/Energinet.DataHub.MarketParticipant.Application/Validation/InviteUserCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
Due: businesslogic, infrastructure

Update user overview.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
Due: infrastructure

Update UTs.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/InviteUserHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserInvitation.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Query/UserQueryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenPartsControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
Due: businesslogic, infrastructure

Update package.
  Directory.Build.props
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserInvitationClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserInvitationClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserInvitationDto.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/SigningKeyRing.cs
Due: infrastructure
