Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

WIP
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/GridAreaToAddToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/GridAreaToRemoveFromActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
Due: businesslogic

Register ChangesToActorHelper
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
Due: businesslogic

updated events
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/IIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/IntegrationEventBase.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/OrganizationUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaUpdatedEventDispatcherTests.cs
Due: businesslogic, infrastructure

New table UniqueActorMarketRoleGridArea
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202207041245 Create UniqueActorMarketRoleGridArea.sql
Due: infrastructure

fixed typo
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202207041245 Create UniqueActorMarketRoleGridArea.sql
Due: infrastructure

gridarea name changed proto added with parser
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaNameChangedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/GridAreaNameChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridAreaIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/IGridAreaIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/SharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/GridAreaNameChangedIntegrationEventContract.proto
Due: infrastructure

Updated event names
  docs/images/Actor_register-ActorIntegrationEvents.drawio.png
Due: none

Updated event property names in docs
  docs/images/Actor_register-CD-MarketRole.drawio.png
  docs/images/Actor_register-GridAreaIntegrationEvents.drawio.png
  docs/images/Actor_register-OrganizationIntegrationEvents.drawio.png
Due: none

New table UniqueActorMarketRoleGridArea (#184)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202207041245 Create UniqueActorMarketRoleGridArea.sql
Due: infrastructure

UniqueActorMarketRoleGridArea table u-001
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202207041245 Create UniqueActorMarketRoleGridArea.sql
Due: infrastructure

UniqueActorMarketRoleGridArea table u-001 (#185)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202207041245 Create UniqueActorMarketRoleGridArea.sql
Due: infrastructure

unique DDM market roles per grid across organizations
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UniqueActorMarketRoleGridArea.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUniqueActorMarketRoleGridAreaRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUniqeMarketRoleGridAreaService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UniqeMarketRoleGridAreaService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UniqueActorMarketRoleGridAreaEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UniqueActorMarketRoleGridAreaEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UniqueActorMarketRoleGridAreaRepository.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
Due: businesslogic, infrastructure

added db scripts to all env
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202207041245 Create UniqueActorMarketRoleGridArea.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202207041245 Create UniqueActorMarketRoleGridArea.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202207041245 Create UniqueActorMarketRoleGridArea.sql
Due: infrastructure

fixed typos
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUniqueMarketRoleGridAreaService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UniqueMarketRoleGridAreaService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
Due: businesslogic

unique DDM market roles per grid across organizations (#186)
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202207041245 Create UniqueActorMarketRoleGridArea.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202207041245 Create UniqueActorMarketRoleGridArea.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202207041245 Create UniqueActorMarketRoleGridArea.sql
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UniqueActorMarketRoleGridArea.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUniqueActorMarketRoleGridAreaRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUniqueMarketRoleGridAreaService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/UniqueMarketRoleGridAreaService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UniqueActorMarketRoleGridAreaEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UniqueActorMarketRoleGridAreaEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UniqueActorMarketRoleGridAreaRepository.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
Due: businesslogic, infrastructure

UTs UniqueActorMarketRoleGridAreaRepository and UniqueMarketRoleGridAreaService
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UniqueActorMarketRoleGridAreaRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UniqueMarketRoleGridAreaServiceTests.cs
Due: none

UTs UniqueActorMarketRoleGridAreaRepository and UniqueMarketRoleGridAreaService (#187)
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UniqueActorMarketRoleGridAreaRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UniqueMarketRoleGridAreaServiceTests.cs
Due: none

fix market role rules across actors
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/CombinationOfBusinessRolesRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/ICombinationOfBusinessRolesRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/IOverlappingBusinessRolesRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/OverlappingBusinessRolesRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OverlappingBusinessRolesRuleServiceTests.cs
Due: businesslogic

fix market role rules across actors (#188)
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/CombinationOfBusinessRolesRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/ICombinationOfBusinessRolesRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/IOverlappingBusinessRolesRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/OverlappingBusinessRolesRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OverlappingBusinessRolesRuleServiceTests.cs
Due: businesslogic

updated gridarea parsing in client library
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridArea/GridAreaIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridArea/GridAreaNameChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridArea/IGridAreaIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridArea/IGridAreaNameChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/SharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/GridAreaNameChangedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
Due: none

dispatch grid name changed update
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaNameChangedEventDispatcher.cs
Due: infrastructure

missing changed for gridarea
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/GridAreaCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaUpdatedEventDispatcherTests.cs
Due: businesslogic, infrastructure

adding gridnamechanged to service registration
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
Due: businesslogic

WIP
  source/Energinet.DataHub.MarketParticipant.Application/Helpers/ChangesToActorHelper.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/AddGridAreaIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/AddMarketRoleIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/RemoveGridAreaIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/RemoveMeteringPointTypeIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorStatusChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/AddGridAreaIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/AddMarketRoleIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/AddMeteringPointTypeIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/RemoveGridAreaIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/RemoveMarketRoleIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/RemoveMeteringPointTypeIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorStatusChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorStatusChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Tests/Helpers/ChangesToActorHelperTests.cs
Due: businesslogic, infrastructure

Fixed crash on actor added with existing GLN within organization
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Actor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/ActorEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
Due: businesslogic, infrastructure

updated and renaming OrganizationCreatedIntegrationEvent
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/OrganizationCreatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/IOrganizationUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/OrganizationCreatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/SharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationCreatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/OrganizationCreatedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
Due: businesslogic

correct market role structure on ActorUpdatedIntegrationEventContract
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorGridArea.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorMarketRole.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorUpdatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/ActorUpdatedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
Due: none

typo
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorMarketRole.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/ActorUpdatedIntegrationEventParserTests.cs
Due: none

correct market role structure in actor updated event from markpart
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationUpdatedEventDispatcherTests.cs
Due: businesslogic, infrastructure

Correct market role structure on ActorUpdatedIntegrationEventContract (#190)
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorGridArea.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorMarketRole.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorUpdatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/ActorUpdatedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
Due: none

Energinet.DataHub.MarketParticipant.Integration.Model 2.2.0 bump
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
Due: infrastructure

adding organization proto and parsers
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/OrganizationAddressChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/OrganizationBusinessRegisterIdentifierChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/OrganizationCommentChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/OrganizationNameChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/IOrganizationAddressChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/IOrganizationBussinessRegisterIdentifierChangedEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/IOrganizationCommentChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/IOrganizationCreatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/IOrganizationNameChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationAddressChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationBusinessRegisterIdentifierChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationCommentChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationCreatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationNameChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/SharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationAddressChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationBusinessRegisterIdentifierChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationCommentChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationNameChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Organization/OrganizationAddressChangedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Organization/OrganizationBusinessRegisterIdentifierChangedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Organization/OrganizationCommentChangedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Organization/OrganizationCreatedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Organization/OrganizationNameChangedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
Due: none

package version update
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

rerun trigger on old package version
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

correct market role structure in actor updated event from markpart (#191)
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationUpdatedEventDispatcherTests.cs
Due: businesslogic, infrastructure

setting EntityState for ActorEntity
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/ActorEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/ActorEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/OrganizationRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
Due: infrastructure

fixed UpdateActorHandler UTs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
Due: none

Fix deserializing of ActorUpdateIntegrationEvent
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorGridAreaEventData.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorMarketRoleEventData.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorUpdatedEventDispatcherTests.cs
Due: businesslogic, infrastructure

fix
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorGridAreaEventData.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorMarketRoleEventData.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/DomainEventRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorUpdatedEventDispatcherTests.cs
Due: businesslogic

adding shared parser
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/GridAreaNameChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/OrganizationBusinessRegisterIdentifierChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/OrganizationCommentChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/OrganizationNameChangedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/GridArea/GridAreaNameChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationAddressChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationBusinessRegisterIdentifierChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationCommentChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/Organization/OrganizationNameChangedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/SharedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/GridAreaNameChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationAddressChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationBusinessRegisterIdentifierChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationCommentChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/OrganizationNameChangedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/GridAreaNameChangedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Organization/OrganizationAddressChangedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/Organization/OrganizationNameChangedIntegrationEventParserTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/SharedIntegrationEventParserTests.cs
Due: none

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
