Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

change DSL file
  docs/diagrams/c4-model.dsl
Due: none

Use feature branch for Stucturizr workflow
  .github/workflows/render-diagrams.yml
Due: none

change dsl file
  docs/diagrams/c4-model.dsl
Due: none

...
  docs/diagrams/c4-model.dsl
Due: none

Move location of dsl file
  .github/workflows/detect-changes.yml
  .github/workflows/render-diagrams.yml
  docs/c4-model.dsl
Due: none

use v10.18.0 of 10.18.0
  .github/workflows/render-diagrams.yml
  docs/c4-model.dsl
Due: none

use 10.17.0
  .github/workflows/render-diagrams.yml
  docs/c4-model.dsl
Due: none

use djorgensen/structurrizr-workflow-update-dsl-files-filter again
  .github/workflows/render-diagrams.yml
Due: none

update dsl file
  docs/c4-model.dsl
Due: none

move dsl file to docs/diagrams
  .github/workflows/detect-changes.yml
  .github/workflows/render-diagrams.yml
  docs/diagrams/c4-model.dsl
Due: none

dh3User changed to dhSysAdmin
  docs/diagrams/c4-model.dsl
Due: none

Auto generated diagrams
  docs/diagrams/c4-model/Container-001.png
  docs/diagrams/c4-model/MarketParticipant.png
  docs/diagrams/c4-model/SystemContext.png
  docs/diagrams/c4-model/WebApp.png
Due: none

structurizr.yml@v10
  .github/workflows/render-diagrams.yml
Due: none

feat: ADR-104 (#489)
  .github/workflows/ci-orchestrator.yml
  .github/workflows/detect-changes.yml
  .github/workflows/render-diagrams.yml
  docs/diagrams/c4-model.dsl
  docs/diagrams/c4-model/Container-001.png
  docs/diagrams/c4-model/MarketParticipant.png
  docs/diagrams/c4-model/SystemContext.png
  docs/diagrams/c4-model/WebApp.png
Due: none

Added check for deactivated userrole in handler
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRoleResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRoleResult.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
Due: businesslogic, infrastructure

Add BOM
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRoleHandler.cs
Due: businesslogic

Reverted to Validation Exception instead of result codes
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRoleCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRoleResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UpdateUserRoleResult.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
Due: businesslogic, infrastructure

removed unused variables and imports
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
Due: infrastructure

Add deactivated check in update user role command handler (#491)
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
Due: businesslogic, infrastructure

feat: accept invite - user flow config
  source/Energinet.DataHub.MarketParticipant.Application/InviteConfig.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/SendGridEmailSender.cs
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Email/InviteConfigRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Startup.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationIntegrationTestHost.cs
Due: businesslogic, infrastructure

Get a single detailed permission
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/GetPermissionCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Permissions/GetPermissionResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Permissions/GetPermissionHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetPermssionCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantPermissions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantPermissionsClient.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/PermissionController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetPermissionHandlerTest.cs
Due: businesslogic, infrastructure

Added test for deactivate check in handler
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleAssignmentTypeAuditLog.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRoleHandlerTests.cs
Due: none

Allow GetPermissionAsync without auth
  source/Energinet.DataHub.MarketParticipant.Tests/Security/ControllerAuthorizationTests.cs
Due: none

Added test for deactivate check in handler (#494)
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleAssignmentTypeAuditLog.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRoleHandlerTests.cs
Due: none

Bumped version, and updated release notes
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

Skip inactive roles in assignment
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRolesHandler.cs
Due: businesslogic

Updated tests
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRolesCommandHandlerTests.cs
Due: none

Added check so that only active roles are returned for assignment
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAvailableUserRolesForActorHandler.cs
Due: businesslogic

ci-dotnet
  .github/workflows/ci-dotnet.yml
Due: none

Format on save
  codecov.yml
Due: none

ci-orchestrator
  .github/workflows/ci-orchestrator.yml
Due: none

dotnet-prepare-outputs
  .github/actions/dotnet-prepare-outputs/action.yml
Due: none

dotnet-tests-prepare-outputs
  .github/actions/dotnet-tests-prepare-outputs/action.yml
Due: none

cd
  .github/workflows/cd.yml
Due: none

Format on save
  .github/actions/dotnet-prepare-outputs/action.yml
  .github/actions/dotnet-tests-prepare-outputs/action.yml
  .github/workflows/ci-orchestrator.yml
  .github/workflows/publish-marketparticipant-client.yml
Due: none

Model package
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

publish-marketparticipant-model
  .github/workflows/publish-marketparticipant-model.yml
Due: none

dependabot
  .github/dependabot.yml
  .github/workflows/ci-orchestrator.yml
Due: none

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
