Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Application/
      - source/Energinet.DataHub.MarketParticipant.Domain/
      - source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Infrastructure/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/
      - source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

refactor unit test
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateGridAreaCommandRuleSetTests.cs
Due: none

Added market role and metering point type rule.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/ActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/ChangeActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/CreateActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/Rules/MeteringPointTypeValidationRule.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: businesslogic

Distinct on Create
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
Due: businesslogic

Fixed UT
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: none

removed legacy healthcheck (#121)
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/HealthFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/HealthCheck/FluentHealth.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/HealthCheck/Health.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/HealthCheck/IFluentHealth.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/HealthCheck/IHealth.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/HealthCheck/IServiceBusQueueVerifier.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/HealthCheck/ISqlDatabaseVerifier.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/HealthCheck/ServiceBusQueueVerifier.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/HealthCheck/SqlDatabaseVerifier.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateGridAreaCommandRuleSetTests.cs
Due: infrastructure

Updated UT
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
Due: none

Add test actors to u-001 from T-001
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205061344 Add Test Actors.sql
Due: infrastructure

Add test actors to u-001 from T-001 (#123)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205061344 Add Test Actors.sql
Due: infrastructure

Resolve PR review comments
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdB2CRolesRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdConfigurationRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/GraphServiceClientRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActiveDirectory/AppRegistrationId.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActiveDirectory/AppRegistrationObjectId.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActiveDirectory/AppRegistrationServicePrincipalObjectId.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2CRolesProvider.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2cServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/MockedGln.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActiveDirectoryB2cServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
Due: businesslogic, infrastructure

Intended spelling mistake
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdConfigurationRegistration.cs
Due: businesslogic

Correct spelling
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdConfigurationRegistration.cs
Due: businesslogic

actor_status_change
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Actor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorStatusTransitioner.cs
Due: businesslogic

fixed ut
  source/Energinet.DataHub.MarketParticipant.Tests/Model/ActorTests.cs
Due: none

M Energinet.DataHub.MarketParticipant.Domain/Model/ActorStatusTransitioner.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorStatusTransitioner.cs
Due: businesslogic

actor_status_change (#124)
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Actor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorStatusTransitioner.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/ActorTests.cs
Due: businesslogic

changed metering point type dto to string
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/ActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/ChangeActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/CreateActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/Rules/MeteringPointTypeValidationRule.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: businesslogic

tests updated
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: none

changed metering point type dto to string (#125)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/ActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/ChangeActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/CreateActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/Rules/MeteringPointTypeValidationRule.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: businesslogic

Fixes After Codereview
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
Due: businesslogic, infrastructure

get grid areas
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GetGridAreasCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GetGridAreasResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GridAreaDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreasHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IGridAreaRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaRepositoryTests.cs
Due: businesslogic, infrastructure

GetGridAreasHandlerTests
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreasHandler.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreasHandlerTests.cs
Due: businesslogic

Add scripts to update information
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202205161321 ChangeEllevActors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205161321 ChangeEllevActors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205161332 FixGLNOnActors.sql
Due: infrastructure

Fix for wrong id's in scripts
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202205161321 ChangeEllevActors.sql
Due: infrastructure

GetGridAreasRuleSet
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreasHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateGridAreaCommandRuleSet copy.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
Due: businesslogic

get grid areas (#126)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GetGridAreasCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GetGridAreasResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GridArea/GridAreaDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreasHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateGridAreaCommandRuleSet copy.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IGridAreaRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/GridAreaController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreasHandlerTests.cs
Due: businesslogic, infrastructure

markpart grid area client
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantGridAreaClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantGridAreaClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GridAreaDto.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

Update 202205161321 ChangeEllevActors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205161321 ChangeEllevActors.sql
Due: infrastructure

Update package version
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
Due: none

MarketRole EicFunction rename in client
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/MarketRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

Bump TestCommon to version 2.3.3
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
Due: none

Add scripts to update information on actors (#127)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202205161321 ChangeEllevActors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205161321 ChangeEllevActors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205161332 FixGLNOnActors.sql
Due: infrastructure

Fix trailing "," in scripts
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202205161321 ChangeEllevActors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205161321 ChangeEllevActors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205161332 FixGLNOnActors.sql
Due: infrastructure

Fix trailing "," in scripts (#130)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202205161321 ChangeEllevActors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205161321 ChangeEllevActors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205161332 FixGLNOnActors.sql
Due: infrastructure

markpart grid area client (#128)
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantGridAreaClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantGridAreaClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GridAreaDto.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

Migrate GridAreas.
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205171500 Migrate Old GridArea.sql
Due: infrastructure

renaming and validation updates
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/MarketRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: businesslogic

updated tests
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: none

libraries tests update
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

Update Actors and Create Actors on B-001
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202205180816 AddChangeBatmanAndVoltActorsWithIds.sql
Due: infrastructure
