Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

add dbmigrationapp
  codecov.yml
Due: none

try to remove codecov.yml again
  codecov.yml
Due: none

Use same logging package as other client package.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

Add CreateOrganization Endpoint
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/MarketParticipantController.cs
Due: infrastructure

Moved to correct namespace.
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Extensions/ContainerExtensions.cs
Due: none

Changes after Codereview
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/MarketParticipantController.cs
Due: businesslogic, infrastructure

Added update endpoint
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UpdateOrganizationCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/UpdateOrganizationFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/MarketParticipantController.cs
Due: businesslogic, infrastructure

Add ListAll Organizations and Get Single Organization endpoints (#62)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetSingleOrganizationCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetSingleOrganizationResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetSingleOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetSingleOrganizationCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/MarketParticipantController.cs
  source/Energinet.DataHub.MarketParticipant.sln
Due: businesslogic, infrastructure

Split Controllers
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/MarketParticipantController.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
Due: infrastructure

Auto stash before merge of "juj/AddCreateActor" and "main"
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

Reversed changes to startup
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

Create and GetSingleActor Added
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetSingleActorCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetSingleActorResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetSingleActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/Rules/OrganizationIdValidationRule.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Fix For Merge Problem
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetSingleActorCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetSingleActorResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UpdateOrganizationCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetSingleActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/Rules/OrganizationIdValidationRule.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/UpdateOrganizationFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Fixed compile error
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/CreateActorFunction.cs
Due: infrastructure

Fixes after codereview
  source/Energinet.DataHub.MarketParticipant.Application/Commands/CreateActorCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetSingleActorCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetSingleOrganizationCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetSingleOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/Rules/OrganizationIdValidationRule.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/CreateActorFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Fixed UpdateOrganization to use Guid
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UpdateOrganizationCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/UpdateOrganizationFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
Due: businesslogic, infrastructure

Updated Unit tests
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
Due: none

Update ActorGLN
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202203231414 FixEDActorGLN.sql
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

Missed some commented line
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

Update GLN for ED Actor (#66)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202203231414 FixEDActorGLN.sql
Due: infrastructure

Add Endpoints for more functions (#65)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/CreateActorCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetSingleActorCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetSingleActorResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetSingleOrganizationCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetSingleOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetSingleActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/CreateActorFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/UpdateOrganizationFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
Due: businesslogic, infrastructure

re-do how codecov.yml is build
  codecov.yml
Due: none

Removed DDQ from roles for test actors
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202203231453 RemoveDDQFromTestActors.sql
Due: infrastructure

Removed DDQ from roles for test actors (#67)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202203231453 RemoveDDQFromTestActors.sql
Due: infrastructure

remove codecov.yml again
  codecov.yml
Due: none

Added AllActors and UpdateActor endpoint
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetActorsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetActorsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetActorsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetActorsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/CreateActorFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/UpdateActorFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/UpdateOrganizationFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: businesslogic, infrastructure

Split Create and Update Actor into different Dtos
  source/Energinet.DataHub.MarketParticipant.Application/Commands/ChangeActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/CreateActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/CreateActorFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/UpdateActorFunction.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
Due: businesslogic, infrastructure

RE-Added security middleware
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

Add preliminary error handling
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Extensions/ControllerBaseExtensions.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Extensions/ExceptionExtensions.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Model/ErrorDescriptor.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Model/ErrorResponse.cs
Due: businesslogic, infrastructure

use .github 5.1.0 workflows in ci and cd
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Wrapped all endpoints in our erro handling method
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetSingleActorResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetSingleOrganizationResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetSingleOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
Due: businesslogic, infrastructure

Publish test report to CodeCov (#61)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  codecov.yml
Due: none

Fxied failing unit test
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
Due: none

dummy commit
  .github/workflows/ci.yml
Due: none

use feature branch in .github
  .github/workflows/cd.yml
Due: none

.
  .github/actions/publish-release-contents/action.yml
  .github/workflows/ci.yml
Due: none

fix
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

trigger re-run of ci
  .github/workflows/ci.yml
Due: none

Inital start of update for BFF client
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Extensions/ContainerExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClientFactory.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Results/ListAllOrganizationsResult.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Results/SingleOrganizationsResult.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: infrastructure

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
