Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Application/
      - source/Energinet.DataHub.MarketParticipant.Domain/
      - source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Infrastructure/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/
      - source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

Created new constructor for create
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/CreateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRole.cs
Due: businesslogic

Add Create User Role backend functionality (#378)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/CreateUserRoleCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/CreateUserRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/CreateUserRoleResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/CreateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202301031518 Add description and status to UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202301031518 Add description and status to UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202301031518 Add description and status to UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202301031518 Add description and status to UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202301031518 Add description and status to UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202301031518 Add description and status to UserRole.sql
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleStatus.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController .cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Added create function
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/CreateUserRoleDto.cs
Due: none

fix: fixed fasquery
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Query/UserQueryRepository.cs
Due: infrastructure

Updated client to support Create
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/CreateUserRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/CreateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleInfoDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleStatus.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
Due: businesslogic

fixed warning
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleRepositoryTests.cs
Due: none

Added missing word to wordlist.
  wordlist.txt
Due: none

fix: fixed fasquery (#380)
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Query/UserQueryRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleRepositoryTests.cs
Due: infrastructure

Fixed missing empty validator for permissions
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
Due: businesslogic

Fix for entity allowing null on description on userrole
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
Due: infrastructure

Changed values on user role status enum
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202301031518 Remove default from status on UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202301031518 Remove default from status on UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202301031518 Remove default from status on UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202301031518 Remove default from status on UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202301031518 Remove default from status on UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202301031518 Remove default from status on UserRole.sql
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleStatus.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleStatus.cs
Due: businesslogic, infrastructure

Added create function to client (#379)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/CreateUserRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/CreateUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateUserRoleCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202301031518 Remove default from status on UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202301031518 Remove default from status on UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202301031518 Remove default from status on UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202301031518 Remove default from status on UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202301031518 Remove default from status on UserRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202301031518 Remove default from status on UserRole.sql
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/CreateUserRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleInfoDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleStatus.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleStatus.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRoleRepository.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateUserRoleHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateUserRoleCommandRuleSetTests.cs
  wordlist.txt
Due: businesslogic, infrastructure

refac: ExternalUserId to UserId.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/Actor/GetSelectionActorsQueryCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserPermissionsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/CreateUserRoleResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/GetSelectionActorsQueryHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/UpdateGridAreaHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserPermissionsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRolesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Security/FrontendUser.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetSelectionActorsQueryCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GridAreaAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserIdentity.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/User.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorQueryController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Query/UserQueryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/FrontendUserHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/WebApiIntegrationTestsBase.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetSelectionActorsQueryHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserAuditLogEntriesHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenPartsControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRolesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaAuditLogEntryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRoleRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRolesCommandHandlerTests.cs
Due: businesslogic, infrastructure

Fake tentant values.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/WebApiIntegrationTestsBase.cs
Due: none

Use email from Azure AD.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserDisplayName.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUserDisplayNameProvider.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/UserDisplayNameProvider.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
Due: businesslogic, infrastructure

Add UT for when no user.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetSelectionActorsQueryHandlerIntegrationTests.cs
Due: none

refac: ExternalUserId to UserId. (#381)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/Actor/GetSelectionActorsQueryCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetUserPermissionsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/CreateUserRoleResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/GetSelectionActorsQueryHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/GetGridAreaAuditLogEntriesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GridArea/UpdateGridAreaHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserPermissionsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/UpdateUserRolesHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Security/FrontendUser.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetSelectionActorsQueryCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/GridAreaAuditLogEntry.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserDisplayName.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/UserIdentity.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/User.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IUserDisplayNameProvider.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorQueryController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserRoleController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/GridAreaAuditLogEntryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Query/UserQueryRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/UserDisplayNameProvider.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/FrontendUserHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/WebApiIntegrationTestsBase.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetSelectionActorsQueryHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserAuditLogEntriesHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenPartsControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UpdateUserRolesIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaAuditLogEntryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateUserRolesCommandHandlerTests.cs
Due: businesslogic, infrastructure

adding tests for get all user roles
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRolesAllIntegrationTests.cs
Due: none

adding tests for get all user roles (#382)
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/DbTestHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserRolesAllIntegrationTests.cs
Due: none

feat: Add filter for user active state.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/User/GetUserOverviewCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
Due: businesslogic, infrastructure

Fix UTs.
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
Due: none

feat: Add filter for user active state. (#383)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/User/GetUserOverviewCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
Due: businesslogic, infrastructure

bug: Fix broken filter query.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
Due: infrastructure

Try with different format.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
Due: infrastructure

Fix format v2.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
Due: infrastructure

Fix wrong check.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
Due: infrastructure

Update count.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
Due: infrastructure

bug: Fix broken filter query. (#384)
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
Due: infrastructure

refac: Introduce user status enum.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/User/GetUserOverviewCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/User/UserOverviewFilterDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserPermissionsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserOverviewCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserIdentity.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserOverviewItem.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserStatus.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/WebApiIntegrationTestsBase.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
Due: businesslogic, infrastructure

Update package.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/User/UserOverviewFilterDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserStatus.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
Due: businesslogic, infrastructure

refac: Introduce user status enum. (#385)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/User/GetUserOverviewCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Query/User/UserOverviewFilterDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserOverviewHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserPermissionsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetUserOverviewCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserOverviewClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserOverviewItemDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserStatus.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserIdentity.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserOverviewItem.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserStatus.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserIdentityRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/WebApiIntegrationTestsBase.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetGridAreaAuditLogEntriesHandlerTests.cs
Due: businesslogic, infrastructure

bug: Fix unsupported query.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
Due: infrastructure

bug: Fix unsupported query. (#386)
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
Due: infrastructure

fix: Missing FromQuery.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
Due: infrastructure

fix: Missing FromQuery. (#387)
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserOverviewController.cs
Due: infrastructure

adding new UserRoleDto with permissions
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UserRoleWithPermissionsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleWithPermissionsDto.cs
Due: businesslogic

updated client models, api and version
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
Due: none

notes update
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
Due: none

adding new UserRoleDto with permissions (#388)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/UserRoles/UserRoleWithPermissionsDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UserRoles/GetUserRoleHandler.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserRoleClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/UserRoleWithPermissionsDto.cs
Due: businesslogic

Do not return anything when empty query.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserOverviewRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserOverviewHandlerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserOverviewRepositoryTests.cs
Due: infrastructure
