Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

finalize ci
  .github/workflows/ci.yml
Due: none

dep: Update library packages. (#279)
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Energinet.DataHub.MarketParticipant.Libraries.Tests.csproj
Due: none

cd
  .github/workflows/cd.yml
Due: none

remove publish-release-contents
  .github/actions/publish-release-contents/action.yml
Due: none

minor changes to dotnet-prepare-outputs action
  .github/actions/dotnet-prepare-outputs/action.yml
Due: none

dep: Update packages in solution.
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaAuditLogEntryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorCreatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorUpdatedEventDispatcherTests.cs
Due: businesslogic, infrastructure

dotnet-tests-prepare-outputs action
  .github/actions/dotnet-tests-prepare-outputs/action.yml
Due: none

run ci on push to branch
  .github/workflows/ci.yml
Due: none

fix ci.yml's syntax
  .github/workflows/ci.yml
Due: none

dep: Update packages in solution. (#280)
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorCreatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaAuditLogEntryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorCreatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorUpdatedEventDispatcherTests.cs
Due: businesslogic, infrastructure

fix event type in cd
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Fix changed MediatR API.
  source/Energinet.DataHub.MarketParticipant.Common/MediatR/ValidationPipelineBehaviour.cs
Due: businesslogic

Remove unused dependency.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
Due: infrastructure

fix tf error
  build/infrastructure/env/u-002/locals_override.tf
Due: none

Still use case setting
  source/Energinet.DataHub.MarketParticipant.Application/Helpers/ChangesToActorHelper.cs
Due: businesslogic

Fixed try parse case
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
Due: businesslogic

add \
  .github/workflows/ci.yml
Due: none

Support multiple deployment packages from domain (#281)
  .github/actions/dotnet-prepare-outputs/action.yml
  .github/actions/dotnet-tests-prepare-outputs/action.yml
  .github/actions/publish-release-contents/action.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/detect-changes.yml
  build/infrastructure/env/u-002/locals_override.tf
Due: none

Keep enums in domin layer
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/CreateActorContactHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Helpers/ChangesToActorHelper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/MarketRoleMapper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorContactCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Energinet.DataHub.MarketParticipant.Domain.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorContact.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ContactCategory.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/ActorContactEventData.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/MeteringPointTypeAddedToActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/MeteringPointTypeRemovedFromActorIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/MeteringPointType.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/OverlappingActorContactCategoriesRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/ActorContactEntity.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ActorContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/DeleteActorContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorContactsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Helpers/ChangesToActorHelperTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorCreatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ContactAddedToActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ContactRemovedFromActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/MeteringPointTypeAddedToActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/MeteringPointTypeRemovedFromActorEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorStatusMarketRolesRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/AllowedGridAreasRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OverlappingActorContactCategoriesRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UniqueMarketRoleGridAreaServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Fixed lists and entity conversion
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/ActorGridAreaEventData.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/ActorContactEntityConfiguration.cs
Due: businesslogic, infrastructure

Fixed build error
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorIntegrationEvents/ActorGridAreaEventData.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
Due: businesslogic

Renamed back to avoid new package
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ActorGridAreaDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/MeteringPointType.cs
Due: none

fix: retry on transient errors during db migration
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Helpers/UpgradeFactory.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Program.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/MarketParticipantDatabaseManager.cs
Due: infrastructure

Update azure_ad_setup.md
  docs/azure_ad_setup.md
Due: none

bug: Incorrect enum mapping in DB.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/ActorContactEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/GridAreaAuditLogEntryEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/MarketRoleEntityConfiguration.cs
Due: infrastructure

bug: Incorrect enum mapping in DB. (#285)
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/ActorContactEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/GridAreaAuditLogEntryEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/MarketRoleEntityConfiguration.cs
Due: infrastructure

Changed Organization to use client dto
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/GetActorsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/GetSingleActorResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/AddressDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/ChangeOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/CreateOrganizationCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/CreateOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/GetOrganizationsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/GetSingleOrganizationResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/OrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/UpdateOrganizationCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IOrganizationIntegrationEventsHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/OrganizationIntegrationEventsHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateOrganizationCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/OrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/OrganizationUnsafeController.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationIntegrationEventsQueueServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateOrganizationCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateOrganizationTestData.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateOrganizationCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Moved address and org validation into sperate files for reuse
  source/Energinet.DataHub.MarketParticipant.Application/Validation/AdressRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/OrganizationRuleSet.cs
Due: businesslogic

Bumped version
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
Due: none

Failing tests added - both unit and integration
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ActorContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/ActorNumberTests.cs
Due: none

use feature branch for dotnet-solution-ci-test.yml
  .github/workflows/ci.yml
Due: none

revert to use v8
  .github/workflows/ci.yml
Due: none

fix: retry on transient errors during db migration (#284)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Helpers/UpgradeFactory.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Program.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/MarketParticipantDatabaseManager.cs
Due: infrastructure

Added test for check if enums accoss projects are identical
  source/Energinet.DataHub.MarketParticipant.Tests/Model/ActorStatusTest.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/EicFunctionTest.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/OrganizationStatusTest.cs
Due: none

Add Client project to solution
  source/Energinet.DataHub.MarketParticipant.sln
Due: none

Test Hosts support DB connection string.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/UnitOfWork.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/MarketParticipantDatabaseFixture.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/MarketParticipantDatabaseManager.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/Organization/DispatchEventsIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/CreateOrganizationIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationIntegrationTestHost.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ActorContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/DomainEventRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaAuditLogEntryRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaLinkRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaOverviewRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/GridAreaRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UniqueActorMarketRoleGridAreaRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/UnitOfWorkTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
Due: infrastructure

Mock ServiceBus
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/Organization/DispatchEventsIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationIntegrationTestHost.cs
Due: none

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
