Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

New implementation of User/roles/Permissions
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211211238 Add UserRoleTemplatePermission Table.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleAssignmentEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleTemplateEicFunctionEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleTemplatePermissionEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleAssignmentEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
Due: businesslogic, infrastructure

Add placeholder for tests.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Security/ExternalTokenValidatorIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Security/TokenControllerIntegrationTests.cs
Due: none

Add endpoint to Client package.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/ITokenClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GetAssociatedUserActorsResponseDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/TokenClient.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

get user actors init (#307)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetAssociatedUserActorsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetAssociatedUserActorsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAssociatedUserActorsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetAssociatedUserActorsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantUserClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/ITokenClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/GetAssociatedUserActorsResponseDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/TokenClient.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/UserController.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetAssociatedUserActorsHandlerTests.cs
Due: businesslogic, infrastructure

Added tests, removed not needed method from repo
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
Due: infrastructure

Fix build error, and unit tests failing
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
Due: businesslogic

Notify
  .github/workflows/cd.yml
Due: none

Updated package, and removed pragmas
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Energinet.DataHub.MarketParticipant.Domain.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Actor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Slim/Actor.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
Due: businesslogic, infrastructure

Added more UTs.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/ExternalTokenValidator.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/SigningKeyRing.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/WebApiIntegrationTestsBase.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenPartsControllerIntegrationTests.cs
Due: infrastructure

fix: externalToken as query param
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserClient.cs
Due: none

fix: externalToken as query param (#310)
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantUserClient.cs
Due: none

Updated packages
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Energinet.DataHub.MarketParticipant.Domain.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/ExternalUserId.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/User.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserId.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserName.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAssignmentId.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleTemplate.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleTemplateId.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleTemplateName.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
Due: businesslogic, infrastructure

Update endpoints.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Security/TokenControllerIntegrationTests.cs
Due: infrastructure

Added email field
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211211022 Add User Table.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/User.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserEmail.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserEntity.cs
Due: businesslogic, infrastructure

Disable test due to lack of permissions.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenPartsControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Security/SigningKeyRingIntegrationTests.cs
Due: none

Remove init for now.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/KeyClientFixture.cs
Due: none

Removed UserName, changed Email Type, Added GetUser
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211211022 Add User Table.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/User.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserEmail.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserName.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAssignment.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAssignmentId.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
Due: businesslogic, infrastructure

Update unit tests
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
Due: none

Removed default constructors
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/User.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAssignment.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleTemplate.cs
Due: businesslogic

feat: Add domain and repository for users, roles and templates with permissions (#308)
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211211022 Add User Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211211238 Add UserRoleAssignment Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211211238 Add UserRoleTemplate Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211211238 Add UserRoleTemplateEicFunction Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202211211238 Add UserRoleTemplatePermission Table.sql
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Energinet.DataHub.MarketParticipant.Domain.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/ExternalUserId.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/User.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserId.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleAssignment.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleTemplate.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleTemplateId.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Users/UserRoleTemplateName.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleAssignmentEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleTemplateEicFunctionEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleTemplateEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/UserRoleTemplatePermissionEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/UserMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleAssignmentEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleTemplateEicFunctionEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleTemplateEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/UserRoleTemplatePermissionEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
Due: businesslogic, infrastructure

refac: Add KeyClient integration tests. (#305)
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/ExternalTokenValidator.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Security/SigningKeyRing.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Energinet.DataHub.MarketParticipant.IntegrationTests.csproj
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/KeyClientFixture.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/WebApiIntegrationTestsBase.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenPartsControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Security/ExternalTokenValidatorIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Security/SigningKeyRingIntegrationTests.cs
Due: infrastructure

user actor from DB
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAssociatedUserActorsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/Security/FrontendUserProvider.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetAssociatedUserActorsHandlerTests.cs
Due: businesslogic

user actor from DB (#311)
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAssociatedUserActorsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/Security/FrontendUserProvider.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetAssociatedUserActorsHandlerTests.cs
Due: businesslogic

Write domain and endpoints for actor and user.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetUserPermissionsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetAssociatedUserActorsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAssociatedUserActorsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserPermissionsCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetAssociatedUserActorsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/Slim/IActorRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/Slim/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Slim/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserPermissionsIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Slim/UserRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
Due: businesslogic, infrastructure

Undo incorrect registration.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
Due: none

Fix tests.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Slim/UserRepositoryTests.cs
Due: none

Improved comment.
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRepository.cs
Due: businesslogic

Write domain and endpoints for actor and user. (#312)
  source/Energinet.DataHub.MarketParticipant.Application/Commands/GetUserPermissionsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/User/GetAssociatedUserActorsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetAssociatedUserActorsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/User/GetUserPermissionsCommandHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetAssociatedUserActorsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/Slim/IActorRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/Slim/IUserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/Slim/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/UserRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/GetUserPermissionsIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/Slim/UserRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/UserRepositoryTests.cs
Due: businesslogic, infrastructure

Move user scripts to all envs.
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202211211022 Add User Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202211211238 Add UserRoleAssignment Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202211211238 Add UserRoleTemplate Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202211211238 Add UserRoleTemplateEicFunction Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202211211238 Add UserRoleTemplatePermission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202211211022 Add User Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202211211238 Add UserRoleAssignment Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202211211238 Add UserRoleTemplate Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202211211238 Add UserRoleTemplateEicFunction Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202211211238 Add UserRoleTemplatePermission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202211211022 Add User Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202211211238 Add UserRoleAssignment Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202211211238 Add UserRoleTemplate Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202211211238 Add UserRoleTemplateEicFunction Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202211211238 Add UserRoleTemplatePermission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202211211022 Add User Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202211211238 Add UserRoleAssignment Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202211211238 Add UserRoleTemplate Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202211211238 Add UserRoleTemplateEicFunction Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202211211238 Add UserRoleTemplatePermission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202211031500 Create ActorSynchronization Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202211041100 Add Comment to MarketRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202211211022 Add User Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202211211238 Add UserRoleAssignment Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202211211238 Add UserRoleTemplate Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202211211238 Add UserRoleTemplateEicFunction Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202211211238 Add UserRoleTemplatePermission Table.sql
Due: infrastructure

Move user scripts to all envs. (#313)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202211211022 Add User Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202211211238 Add UserRoleAssignment Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202211211238 Add UserRoleTemplate Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202211211238 Add UserRoleTemplateEicFunction Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202211211238 Add UserRoleTemplatePermission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202211211022 Add User Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202211211238 Add UserRoleAssignment Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202211211238 Add UserRoleTemplate Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202211211238 Add UserRoleTemplateEicFunction Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202211211238 Add UserRoleTemplatePermission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202211211022 Add User Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202211211238 Add UserRoleAssignment Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202211211238 Add UserRoleTemplate Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202211211238 Add UserRoleTemplateEicFunction Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202211211238 Add UserRoleTemplatePermission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202211211022 Add User Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202211211238 Add UserRoleAssignment Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202211211238 Add UserRoleTemplate Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202211211238 Add UserRoleTemplateEicFunction Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202211211238 Add UserRoleTemplatePermission Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202211031500 Create ActorSynchronization Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202211041100 Add Comment to MarketRole.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202211211022 Add User Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202211211238 Add UserRoleAssignment Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202211211238 Add UserRoleTemplate Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202211211238 Add UserRoleTemplateEicFunction Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-002/Model/202211211238 Add UserRoleTemplatePermission Table.sql
Due: infrastructure

refac: Enable key tests.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/KeyClientFixture.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenPartsControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Security/SigningKeyRingIntegrationTests.cs
Due: none

app start signing key cache
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

refactor
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

refac: Update UTs to work with DB.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Program.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Program.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/MockedBusinessRegisterIdentifier.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/MockedGln.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/TestUserHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UserControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
Due: infrastructure

optional setting
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

signingkey cache onstartup (#315)
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/TokenController.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

Missing test settings.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/WebApiIntegrationTestsBase.cs
Due: none

refac: Update UTs to work with DB. (#316)
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Program.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Program.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/MockedBusinessRegisterIdentifier.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/MockedGln.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/TestUserHelper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/WebApiIntegrationTestsBase.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/UserControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
Due: infrastructure

refac: Use internal address for OpenId url.
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/WebApiIntegrationTestsBase.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/WebApiIntegrationTestHost.cs
Due: businesslogic, infrastructure

refac: Better KV settings name.
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Fixtures/WebApiIntegrationTestsBase.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenControllerIntegrationTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Hosts/WebApi/TokenPartsControllerIntegrationTests.cs
Due: businesslogic, infrastructure

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
