Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

Fixed an error in UT.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
Due: none

actor contact table
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202205231000 Create ActorContact Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202205231000 Create ActorContact Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202205231000 Create ActorContact Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202205231000 Create ActorContact Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202205231000 Create ActorContact Table.sql
Due: infrastructure

fixed actorcontact constraint name clash
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202205231000 Create ActorContact Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202205231000 Create ActorContact Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202205231000 Create ActorContact Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202205231000 Create ActorContact Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202205231000 Create ActorContact Table.sql
Due: infrastructure

actor contact table (#147)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202205231000 Create ActorContact Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202205231000 Create ActorContact Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202205231000 Create ActorContact Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202205231000 Create ActorContact Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202205231000 Create ActorContact Table.sql
Due: infrastructure

Delete now uses ExternalActorId.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ExternalActorIdConfigurationService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IExternalActorIdConfigurationService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2cServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/GlobalSuppressions.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ExternalActorIdConfigurationServiceTests.cs
Due: businesslogic, infrastructure

Revert startup.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

Cleanup UT
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2cServiceTests.cs
Due: none

Fixed broken UT.
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
Due: none

Removed some usings.
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
Due: businesslogic

ActorContact stack
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Contact/ActorContactDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Contact/CreateActorContactCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Contact/CreateActorContactDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Contact/CreateActorContactResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Contact/DeleteActorContactCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Contact/GetActorContactsCommand.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Contact/GetActorContactsResponse.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/CreateActorContactHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/DeleteActorContactHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetActorContactsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/ActorContactMapper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorContactCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/DeleteActorContactCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetActorContactsCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/RepositoryRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorContact.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IActorContactRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/IOverlappingActorContactCategoriesRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/OverlappingActorContactCategoriesRuleService.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Controllers/ActorContactController.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/ActorContactEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/IMarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/ActorContactMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/MarketParticipantDbContext.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/ActorContactEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/ActorContactRepository.cs
Due: businesslogic, infrastructure

ActorContactRepositoryTests
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ActorContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Repositories/ActorContactRepositoryTests.cs
Due: none

fixed uts
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ActorContactRepositoryTests.cs
Due: none

Merge pull request #17 from Energinet-DataHub/connect-to-vnet
  .editorconfig
  .github/workflows/ci.yml
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-organization.tf
  build/infrastructure/main/kv-shared-resources.tf
  build/infrastructure/main/providers.tf
Due: none

actor contact ruleset tests
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorContactCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/DeleteActorContactCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/GetActorContactsCommandRuleSetTests.cs
Due: none

actor contact handler tests
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/DeleteActorContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorContactsHandlerTests.cs
Due: none

Update settings and registrations.
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdB2CRolesRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdConfigurationRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/GraphServiceClientRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Setting.cs
  source/Energinet.DataHub.MarketParticipant.Common/Configuration/Settings.cs
  source/Energinet.DataHub.MarketParticipant.Common/DbContextRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Extensions/ConfigurationExtensions.cs
  source/Energinet.DataHub.MarketParticipant.Common/ServiceBusRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/StartupBase.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Energinet.DataHub.MarketParticipant.Domain.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Energinet.DataHub.MarketParticipant.EntryPoint.Organization.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Functions/DispatchEventsTimerTrigger.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Program.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Startup.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi.csproj
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Program.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2CRolesProvider.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/IActiveDirectoryB2CRolesProvider.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationHost.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/Extensions/ConfigurationExtensionsTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/StartupBaseTests.cs
  source/Energinet.DataHub.MarketParticipant.Utilities/Energinet.DataHub.MarketParticipant.Utilities.csproj
Due: businesslogic, infrastructure

Revert accessability on AD registrations.
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdB2CRolesRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/AzureAdConfigurationRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Common/ActiveDirectory/GraphServiceClientRegistration.cs
Due: businesslogic

Cleanup WebApi startup.
  source/Energinet.DataHub.MarketParticipant.Common/StartupBase.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Program.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Program.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationHost.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/StartupBaseTests.cs
Due: businesslogic, infrastructure

Missing SB topic name.
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/OrganizationHost.cs
Due: none

more tests
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/DeleteActorContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorContactsHandlerTests.cs
Due: none

Removed unnessecary mocks.
  source/Energinet.DataHub.MarketParticipant.Common/StartupBase.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Program.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/StartupBaseTests.cs
Due: businesslogic, infrastructure

Initial script, still waiting for details
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202205240936 Add Joules Actors to ActorInfo Table.sql
Due: infrastructure

Fix so that it's in sync with b002
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205251014 ChangeEllevActors.sql
Due: infrastructure

Updates after chat
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202205251026 ReverseChangeEllevActors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205251026 ReverseChangeEllevActors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205251014 ChangeEllevActors.sql
Due: infrastructure

Fix so that it's in sync with b002 (#150)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202205251026 ReverseChangeEllevActors.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205251026 ReverseChangeEllevActors.sql
Due: infrastructure

Add missing script
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202204221002 Create GridAreaLinkNew Table.sql
Due: infrastructure

Added missing TF.
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-organization.tf
Due: none

Removed unused code.
  source/Energinet.DataHub.MarketParticipant.Utilities/QueryHelper.cs
Due: none

Utilities project no longer needed.
  source/Energinet.DataHub.MarketParticipant.Application/Energinet.DataHub.MarketParticipant.Application.csproj
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketParticipant.Common/Energinet.DataHub.MarketParticipant.Common.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Energinet.DataHub.MarketParticipant.Domain.csproj
  source/Energinet.DataHub.MarketParticipant.Domain/Services/OrganizationFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
  source/Energinet.DataHub.MarketParticipant.Utilities/Energinet.DataHub.MarketParticipant.Utilities.csproj
  source/Energinet.DataHub.MarketParticipant.sln
Due: businesslogic, infrastructure

Start of documentation for actor register
  docs/images/Actor_register-Integration Events Flow diagram.drawio.png
  docs/images/Actor_register-IntegrationEventsDataTransmitted.drawio.png
  docs/images/Actor_register-IntegrationsEvents.drawio.png
  docs/process-flows.md
Due: none

Update roles on batman actors, add new actor for DDQ
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202205311019 AddBatManDDQ.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202205311019 AddBatManDDQ.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205311019 AddBatManDDQ.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205311019 AddBatManDDQ.sql
Due: infrastructure

Update roles on batman actors, add new actor for DDQ (#153)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202205311019 AddBatManDDQ.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202205311019 AddBatManDDQ.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205311019 AddBatManDDQ.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205311019 AddBatManDDQ.sql
Due: infrastructure

Add T Actor to U
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205311019 AddBatManDDQFromT.sql
Due: infrastructure

Update Script
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205311019 AddBatManDDQFromT.sql
Due: infrastructure

Add Actor from T to U for Batman (#154)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205311019 AddBatManDDQFromT.sql
Due: infrastructure

Various updates
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205311112 UpdateActorRoles.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205311113 UpdateGLN.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205311112 UpdateActorRoles.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205311113 UpdateGLN.sql
Due: infrastructure

Various updates (#155)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205311112 UpdateActorRoles.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202205311113 UpdateGLN.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205311112 UpdateActorRoles.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202205311113 UpdateGLN.sql
Due: infrastructure

Create actor contact api in client lib
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetGridAreasCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/IMarketParticipantActorContactClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantActorContactClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ActorContactDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/CreateActorContactDto.cs
Due: businesslogic

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
