Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

Nullable ExternalActorId on ActorDto
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ActorDto.cs
Due: none

Update diagrams and text
  docs/images/Actor_register-Integration Events Flow diagram.drawio.png
  docs/images/Actor_register-IntegrationEventsDataTransmitted.drawio.png
  docs/process-flows.md
Due: none

Update class diagram
  docs/images/Actor_register-IntegrationsEvents.drawio.png
Due: none

Corrext lint check error
  docs/process-flows.md
Due: none

Update wordlist.txt
  wordlist.txt
Due: none

Change name of file
  docs/process-flows.md
Due: none

Add missing file
  docs/actor-register.md
Due: none

Update flow diagram
  docs/images/Actor_register-Integration Events Flow diagram.drawio.png
Due: none

fix_actor_contact_phone
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202206011312 Actor Contacts Phone Optional.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202206011312 Actor Contacts Phone Optional.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202206011312 Actor Contacts Phone Optional.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202206011312 Actor Contacts Phone Optional.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202206011312 Actor Contacts Phone Optional.sql
Due: infrastructure

fixed uq constraint name clash
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202206011312 Actor Contacts Phone Optional.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202206011312 Actor Contacts Phone Optional.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202206011312 Actor Contacts Phone Optional.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202206011312 Actor Contacts Phone Optional.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202206011312 Actor Contacts Phone Optional.sql
Due: infrastructure

fix_actor_contact_phone (#158)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202206011312 Actor Contacts Phone Optional.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202206011312 Actor Contacts Phone Optional.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202206011312 Actor Contacts Phone Optional.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202206011312 Actor Contacts Phone Optional.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202206011312 Actor Contacts Phone Optional.sql
Due: infrastructure

Change wrong GLN
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202206071354 UpdateGLNForEg.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202206071354 UpdateGLNForEg.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202206071354 UpdateGLNForEg.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202206071354 UpdateGLNForEg.sql
Due: infrastructure

Change wrong GLN (#159)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202206071354 UpdateGLNForEg.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202206071354 UpdateGLNForEg.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202206071354 UpdateGLNForEg.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202206071354 UpdateGLNForEg.sql
Due: infrastructure

added keyvault references
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-organization.tf
  build/infrastructure/main/kv-shared-access-policy.tf
  build/infrastructure/main/kv-shared-resources.tf
Due: none

add missing settings
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/kv-shared-resources.tf
Due: none

added keyvault references (#160)
  build/infrastructure/main/app-webapi.tf
  build/infrastructure/main/func-organization.tf
  build/infrastructure/main/kv-shared-access-policy.tf
  build/infrastructure/main/kv-shared-resources.tf
Due: none

Add/remove market roles and change names to align with B2C
  source/Energinet.DataHub.MarketParticipant.Common/DomainServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/BusinessRoleCode.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/BusinessRoles/ElectricalSupplierRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/BusinessRoles/GridOperatorRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/BusinessRoles/TransmissionSystemOperatorRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/CombinationOfBusinessRolesRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Model/ActiveDirectory/ActiveDirectoryB2CRoles.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2CRolesProvider.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/BusinessRoleCode.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/BusinessRoleCodeDomainServiceTests.cs
Due: businesslogic, infrastructure

Create Danish Energy Agency as an EicFunction and map market role to it
  source/Energinet.DataHub.MarketParticipant.Domain/Model/BusinessRoles/DanishEnergyAgencyRole.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EicFunction.cs
Due: businesslogic

Added New Actor for Thy Mors
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202206100935 Add New MorsThy Actors.sql
Due: infrastructure

Added Joules Actors
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202205240936 Add Joules Actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202206101300 Add Joules Actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202206101300 Add Joules Actors to ActorInfo Table.sql
Due: infrastructure

Removed joules actors, wrong branch
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202206101300 Add Joules Actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202206101300 Add Joules Actors to ActorInfo Table.sql
Due: infrastructure

Added Joules actors
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202206101300 Add Joules Actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202206101300 Add Joules Actors to ActorInfo Table.sql
Due: infrastructure

Add new Thyr Mors Actors (#162)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202206100935 Add New MorsThy Actors.sql
Due: infrastructure

Add Joules Actors (#163)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202205240936 Add Joules Actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202206101300 Add Joules Actors to ActorInfo Table.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202206101300 Add Joules Actors to ActorInfo Table.sql
Due: infrastructure

adding eic validation rules
  source/Energinet.DataHub.MarketParticipant.Application/Validation/Rules/EnergyIdentificationCodeValidationRule.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/Rules/EnergyIdentificationCodeValidationRuleTests.cs
Due: businesslogic

added eic rulevalidator to create actor command rule set
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
Due: businesslogic

rename of gln dto and names to eic
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/ActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/ActorNumberDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/CreateActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/Rules/EnergyIdentificationCodeValidationRule.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/Rules/GlobalLocationNumberValidationRule.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/MockedGln.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/MockedGln.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/Rules/EnergyIdentificationCodeValidationRuleTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/Rules/GlobalLocationNumberValidationRuleTests.cs
Due: businesslogic

rename domain model to ActorNumber
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Actor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/ActorNumber.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IOrganizationRepository.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/IUniqueGlobalLocationNumberRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/Rules/UniqueGlobalLocationNumberRuleService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/OrganizationRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Common/MockedGln.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/DomainEventRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Common/MockedGln.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/ActorTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorIntegrationEventsQueueServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ExternalActorIdConfigurationServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OverlappingBusinessRolesRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UniqueGlobalLocationNumberRuleServiceTests.cs
Due: businesslogic, infrastructure

actornumber rename
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Actor.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/IntegrationEvents/ActorUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorIntegrationEventsQueueService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ExternalActorIdConfigurationService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActorUpdatedEventDispatcher.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/DomainEventRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/ActorUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/GridAreaUpdatedEventDispatcherTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Infrastructure/OrganizationUpdatedEventDispatcherTests.cs
Due: businesslogic, infrastructure

Failing test now passing
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2CRolesProviderTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Services/ActiveDirectoryB2cServiceTests.cs
Due: none

rename actor entities and added scripts
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202206131236 Rename Gln To ActorNumber.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202206131236 Rename Gln To ActorNumber.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202206131236 Rename Gln To ActorNumber.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202206131236 Rename Gln To ActorNumber.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202206131236 Rename Gln To ActorNumber.sql
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/ActorEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/OrganizationRepository.cs
Due: infrastructure

Bump to 2.1.0
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

Add eic function to integration model and bump necessary package versions
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/EicFunction.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Energinet.DataHub.MarketParticipant.Infrastructure.csproj
Due: infrastructure

Remove file that shouldn't be run on b001
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202205240936 Add Joules Actors to ActorInfo Table.sql
Due: infrastructure

Remove file that shouldn't be run on b001 (#167)
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202205240936 Add Joules Actors to ActorInfo Table.sql
Due: infrastructure

updated models and names in libraries
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ActorNumberDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/CreateActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Dtos/ActorUpdatedIntegrationEvent.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Parsers/ActorUpdatedIntegrationEventParser.cs
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Protobuf/ActorUpdatedIntegrationEventContract.proto
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Parsers/ActorUpdatedIntegrationEventParserTests.cs
Due: none

nuget version update
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Integration.Model/source/Energinet.DataHub.MarketParticipant.Integration.Model/Energinet.DataHub.MarketParticipant.Integration.Model.csproj
Due: none

renaming gln -> actor number
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/ActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/ActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActiveDirectoryService.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Services/IActorFactoryService.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Services/ActiveDirectoryB2cService.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
Due: businesslogic, infrastructure

Add documentation for new integration events
  docs/actor-register.md
  docs/business-processes/business-processes.md
  docs/images/Actor_register-ActorIntegrationEvents.drawio.png
  docs/images/Actor_register-CD-MarketRole.drawio.png
  docs/images/Actor_register-GridAreaIntegrationEvents.drawio.png
  docs/images/Actor_register-Integration Events Flow diagram.drawio.png
  docs/images/Actor_register-IntegrationEventsDataTransmitted.drawio.png
  docs/images/Actor_register-IntegrationsEvents.drawio.png
  docs/images/Actor_register-OrganizationIntegrationEvents.drawio.png
Due: none

Path conditions:
  businesslogic: any of: source/Energinet.DataHub.MarketParticipant.Application/, source/Energinet.DataHub.MarketParticipant.Domain/, source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure: any of: source/Energinet.DataHub.MarketParticipant.Infrastructure/, source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/, source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/, source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/
