Repository Energinet-DataHub/geh-market-participant: changes, and which Codecov flags are due for each by the changed paths.
All: businesslogic, infrastructure

codecov.yml:

flags:
  businesslogic:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Application/
      - source/Energinet.DataHub.MarketParticipant.Domain/
      - source/Energinet.DataHub.MarketParticipant.Common/
  infrastructure:
    paths:
      - source/Energinet.DataHub.MarketParticipant.Infrastructure/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/
      - source/Energinet.DataHub.MarketParticipant.EntryPoint.Organization/
      - source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/

coverage:
  status:
    project:
      default:
        flags:
          - businesslogic
          - infrastructure
      businesslogic:
        flags:
          - businesslogic
      infrastructure:
        flags:
          - infrastructure

Fix missing config values (#74)
  build/infrastructure/main/app-webapi.tf
Due: none

Deleted file by mistake.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetActorsHandler.cs
Due: businesslogic

Added unit tests.
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Actor/ChangeActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Contact/CreateContactDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/CreateContactHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/DeleteContactHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetSingleOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateContactCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/DeleteContactCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/GetSingleActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202203291000 Contacts Phone Optional.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202203291000 Contacts Phone Optional.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202203291000 Contacts Phone Optional.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202203291000 Contacts Phone Optional.sql
  source/Energinet.DataHub.MarketParticipant.Domain/Repositories/IContactRepository.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/ContactRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/DeleteContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/EmailAddressTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/PhoneNumberTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Repositories/ContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OverlappingContactCategoriesRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateContactCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/DeleteContactCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/GetActorCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/GetActorsCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/GetContactsCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/GetOrganizationCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateActorCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateOrganizationCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Reverted auth.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

Fixed UTs, except mail and phone.
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateActorCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateOrganizationCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateActorCommandRuleSetTests.cs
Due: businesslogic

Updated remaining UTs.
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateOrganizationCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EmailAddress.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/PhoneNumber.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/EmailAddressTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Model/PhoneNumberTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateContactCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateActorCommandRuleSetTests.cs
Due: businesslogic

Added more tests.
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/ContactMapper.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Contact.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/ContactMapper.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetContactsHandlerTests.cs
Due: businesslogic, infrastructure

Remove redundant csproj
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp.csproj
Due: infrastructure

Added helper service for better code reuse.
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/CreateContactHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/DeleteContactHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetActorsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetContactsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/GetSingleOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/IOrganizationExistsHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Services/OrganizationExistsHelperService.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateContactCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Common/ApplicationServiceRegistration.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/EmailAddress.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/PhoneNumber.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Energinet.DataHub.MarketParticipant.Tests.csproj
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/DeleteContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetContactsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationExistsHelperServiceTests.cs
Due: businesslogic

Updated package.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ChangeActorDto.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
Due: none

Spelling.
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
Due: none

Added badge
  README.md
Due: none

More spelling
  README.md
  wordlist.txt
Due: none

Should never have changed spelling...
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/README.md
  wordlist.txt
Due: infrastructure

migrate_actorinfo_to_new_model
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Seed/202203301520 Migrate old ActorInfo to new model.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202203301520 Migrate old ActorInfo to new model.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Seed/202203301520 Migrate old ActorInfo to new model.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Seed/202203301520 Migrate old ActorInfo to new model.sql
Due: infrastructure

No users in markpart yet.
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

Renamed TF base url
  build/infrastructure/main/app-webapi.tf
Due: none

Auto stash before merge of "juj/UpdateCreateOrg" and "main"
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/AddressDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/ChangeOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/CreateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/AddressDto.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Address.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/CVRNumber.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Organization.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/EntityConfiguration/OrganizationEntityConfiguration.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/AddressEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/OrganizationRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/UnitOfWorkTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/DeleteContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetContactsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationExistsHelperServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UniqueGlobalLocationNumberRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateOrganizationCommandRuleSetTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/CreateOrganizationTestData.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateOrganizationCommandRuleSetTests.cs
Due: businesslogic, infrastructure

New fields for organization
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/AddressDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/OrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/CreateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/GetActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/GetActorsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Actor/UpdateActorHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/CreateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/GetOrganizationsHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/GetSingleOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/OrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Address.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/AddressEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/OrganizationEntity.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/DomainEventRepository.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/DeleteContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
Due: businesslogic, infrastructure

Fix MD problems
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
  wordlist.txt
Due: none

Add newline
  source/Energinet.DataHub.MarketParticipant.Client/documents/release-notes/release-notes.md
Due: none

Re-added Auth
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

Organization order by.
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Repositories/OrganizationRepository.cs
Due: infrastructure

Changed variable name
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/ChangeOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/CreateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/UpdateOrganizationHandler.cs
Due: businesslogic

Update Serializer for flurl
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Energinet.DataHub.MarketParticipant.Client.csproj
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClientFactory.cs
Due: none

Test exception log
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
Due: none

Fix codelines
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
Due: none

Re-Added line
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
Due: none

Remove test of exception log
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClient.cs
Due: none

Updated default web serialization settings
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/MarketParticipantClientFactory.cs
Due: none

Started Validation implementation
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateOrganizationCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateOrganizationCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateOrganizationCommandRuleSetTests.cs
Due: businesslogic

Added UpdateOrganization Tests
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateOrganizationCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateOrganizationCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateOrganizationCommandRuleSetTests.cs
Due: businesslogic

Added GetActorsHandler Tests
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorsHandlerTests.cs
Due: none

Add tests for CreateActorHandler that testes marketroles
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
Due: none

Update namespaces
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorsHandlerTests.cs
Due: none

Change Country on address to required, others optional
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/AddressDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/ChangeOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Commands/Organization/OrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/CreateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Handlers/Organization/UpdateOrganizationHandler.cs
  source/Energinet.DataHub.MarketParticipant.Application/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/CreateOrganizationCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.Application/Validation/UpdateOrganizationCommandRuleSet.cs
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/ChangeOrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Client/source/Energinet.DataHub.MarketParticipant.Client/Models/OrganizationDto.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Address.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/BusinessRegisterIdentifier.cs
  source/Energinet.DataHub.MarketParticipant.Domain/Model/Organization.cs
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Mappers/OrganizationMapper.cs
  source/Energinet.DataHub.MarketParticipant.Infrastructure/Persistence/Model/OrganizationEntity.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/ContactRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/Repositories/OrganizationRepositoryTests.cs
  source/Energinet.DataHub.MarketParticipant.IntegrationTests/UnitOfWorkTests.cs
  source/Energinet.DataHub.MarketParticipant.Libraries.Tests/Clients/MarketParticipantClientTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/CreateContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/DeleteContactHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetActorsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetContactsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetOrganizationsHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/GetSingleOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateActorHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Handlers/UpdateOrganizationHandlerTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/ActorFactoryServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/OrganizationExistsHelperServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Services/UniqueGlobalLocationNumberRuleServiceTests.cs
  source/Energinet.DataHub.MarketParticipant.Tests/Validation/UpdateOrganizationCommandRuleSetTests.cs
Due: businesslogic, infrastructure

Changes after Codereview
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-001/Model/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Model/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/LocalDB/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/T-001/Model/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/U-001/Model/202203311033 Add Address And Cvr to Organization.sql
  source/Energinet.DataHub.MarketParticipant.EntryPoint.WebApi/Startup.cs
Due: infrastructure

Add new actors
  source/Energinet.DataHub.MarketParticipant.ApplyDBMigrationsApp/Scripts/B-002/Seed/202204040929 Add New actors to ActorInfo Table.sql
Due: infrastructure
